:root {
  --focus-color: #097efb;
  --focus-color-dark-bg: #3b99fc;
}
@media (prefers-color-scheme: dark) {
  :root {
    --focus-color: #3b99fc;
    --focus-color-dark-bg: #097efb;
  }
}
.sticky-table {
  /* Is this still needed? */
}
.sticky-table__keyboard-instructions {
  display: none;
  background: black;
  color: white;
  padding: 10px;
  font-size: 0.75rem;
  position: absolute;
  top: 0;
}
.sticky-table__container {
  overflow: auto;
  max-height: 70vh;
  position: relative;
}
.sticky-table__container--horizontal-scroll {
  overflow: auto;
}
.sticky-table__container:focus-within {
  outline: var(--focus-color) 2px solid;
}
.sticky-table__container:focus-within .sticky-table__keyboard-instructions {
  display: block;
}
.sticky-table__container table,
.sticky-table__container [role="table"] {
  margin-bottom: 0;
  position: relative;
  border: solid 1px black;
}
.enable__is-dark-mode .sticky-table__container table,
.enable__is-dark-mode .sticky-table__container [role="table"] {
  border-color: #ededed;
}
.sticky-table__container thead {
  background: white;
  transform: translateZ(1px);
}
.enable__is-dark-mode .sticky-table__container thead {
  background: #121212;
}
.sticky-table__container th[scope="col"],
.sticky-table__container [role="columnheader"] {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}
.sticky-table__container th[scope="row"],
.sticky-table__container [role="rowheader"] {
  position: -webkit-sticky;
  position: sticky;
  left: 0;
  z-index: 1;
}
.sticky-table__sticky-horiz-heading {
  position: -webkit-sticky;
  position: sticky;
  left: 0;
  z-index: 1;
}
caption,
.caption,
table + figcaption {
  display: table-caption;
  text-align: center;
  font-style: italic;
  font-family: "Times New Roman", serif;
  width: -moz-fit-content;
  width: fit-content;
  margin: 1em auto;
  position: relative;
  max-width: calc(100% - 200px);
  /* 
        * The decorations around the captions are for tablet and up,
        * since mobile doesn't have enough room
        */
}
@media only screen and (min-width: 720px) {
  caption:before,
  .caption:before,
  table + figcaption:before,
  caption:after,
  .caption:after,
  table + figcaption:after {
    /* This is the squiggly line PNG used to decorate the caption */
    content: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAE4AAAAQCAYAAAC4LkmaAAACLElEQVR42uzXAwhdcRTH8dm2bdu2bdtptm3b3sLsLc1WnG3bZ9/qVM/2e6c+1/r/rqOISIQLPLmxSHBUA0xAnFBqLBVV+xnQHRtxDS/xFndwCM2dDo6ai3+4gBdIFAKB5Uc3bMMHiLqH49iMVdiEE/iibW/mUHBUAXxGGh2fh0FeblQqtMUwjEMnZPXQtjviJj5C1CG0QlokQSyTdWLpMY2AYKojwXXCaoPxLFjg4aASIh/G4DHExD/tX0NlRHNi23GRFxPwB4JXOIX2LhxrfXxHTXvB9cIMg/GCaOGhwApgvgYi6jV2YyxaoApKoyyaYjbGIY6dbafHKJyGqANojWxuHndn3LYXXF1cMxiv5O7DGFVxCYK/eIYJyGiybGpEtXKFZjXZZnTE0LCvGFypXzALST1w3Cm0nxgPUd5WcEnwGfXc3HE5Dec+BHexEJVtrJMb49EDhTTIZEiHfKiH/liEUxD1EOvQyIOPk0KGGVA7MdPeW3UAPiCjkzuLicHakJ8QnEVpJHBwG4kwC4LPeIf3OvzL5Dm4GSWREFE9/BxegVIG49uxyJHvuB24i+KIbaOROdESeyDqETYhnxsHngLjcASXcBlHMR3VfPD5shL9dDgpnqCiI8HFxFyIHvQC9MdQLMR+3MQPCP5gDeogbQh89+XDZyzHDRx26peLyo7j+IZf+Inv+KrBzcb/mQ/HLhW0Rv4ASSSYnQBSyi8ZIJYeiJ7EaCd/NOBGMQAC8O/gL/6CHwAAAABJRU5ErkJggg==);
    display: inline-block;
    position: absolute;
    margin: 0 1em;
    top: 3px;
  }
  caption:before,
  .caption:before,
  table + figcaption:before {
    left: -110px;
  }
  caption:after,
  .caption:after,
  table + figcaption:after {
    transform: scaleX(-1);
    right: -110px;
  }
}
figure figcaption.caption {
  display: block;
  margin-top: 1em;
}
table,
[role="table"] {
  width: 100%;
  max-width: 1024px;
  border-collapse: collapse;
  display: table;
}
figure table,
figure [role="table"] {
  margin-bottom: 0;
}
table th,
[role="table"] th,
table td,
[role="table"] td,
table [role="columnheader"],
[role="table"] [role="columnheader"],
table [role="rowheader"],
[role="table"] [role="rowheader"],
table [role="cell"],
[role="table"] [role="cell"] {
  line-height: 1.2;
  text-align: left;
  padding: 10px;
  display: table-cell;
  font-size: 0.875rem;
}
table th,
[role="table"] th,
table [role="columnheader"],
[role="table"] [role="columnheader"],
table [role="rowheader"],
[role="table"] [role="rowheader"] {
  font-weight: bold;
  color: white;
  background-color: black;
}
.enable__is-dark-mode table th,
.enable__is-dark-mode [role="table"] th,
.enable__is-dark-mode table [role="columnheader"],
.enable__is-dark-mode [role="table"] [role="columnheader"],
.enable__is-dark-mode table [role="rowheader"],
.enable__is-dark-mode [role="table"] [role="rowheader"] {
  background-color: #ededed;
  color: #121212;
}
table tr,
[role="table"] tr,
table [role="row"],
[role="table"] [role="row"] {
  display: table-row;
  background-color: white;
}
.enable__is-dark-mode table tr,
.enable__is-dark-mode [role="table"] tr,
.enable__is-dark-mode table [role="row"],
.enable__is-dark-mode [role="table"] [role="row"] {
  background-color: #121212;
}
table tr:nth-child(2n),
[role="table"] tr:nth-child(2n),
table [role="row"]:nth-child(2n),
[role="table"] [role="row"]:nth-child(2n) {
  background-color: #cccccc;
}
.enable__is-dark-mode table tr:nth-child(2n),
.enable__is-dark-mode [role="table"] tr:nth-child(2n),
.enable__is-dark-mode table [role="row"]:nth-child(2n),
.enable__is-dark-mode [role="table"] [role="row"]:nth-child(2n) {
  background-color: #343434;
}
table [role="rowgroup"],
[role="table"] [role="rowgroup"] {
  display: table-row-group;
}
table .thead [role="row"],
[role="table"] .thead [role="row"] {
  background-color: black;
}
.enable__is-dark-mode table .thead [role="row"],
.enable__is-dark-mode [role="table"] .thead [role="row"] {
  background-color: #ededed;
}
table.fixed-headers,
[role="table"].fixed-headers {
  border-collapse: collapse;
}
table.fixed-headers,
[role="table"].fixed-headers,
table.fixed-headers thead,
[role="table"].fixed-headers thead,
table.fixed-headers .thead,
[role="table"].fixed-headers .thead {
  width: 100%;
}
table.fixed-headers td,
[role="table"].fixed-headers td,
table.fixed-headers th,
[role="table"].fixed-headers th,
table.fixed-headers [role="columnheader"],
[role="table"].fixed-headers [role="columnheader"],
table.fixed-headers [role="rowheader"],
[role="table"].fixed-headers [role="rowheader"],
table.fixed-headers [role="cell"],
[role="table"].fixed-headers [role="cell"] {
  overflow: hidden;
  width: 14.28571429%;
  max-width: 14.28571429%;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  -o-hyphens: auto;
  hyphens: auto;
}
table.fixed-headers th,
[role="table"].fixed-headers th,
table.fixed-headers [role="columnheader"],
[role="table"].fixed-headers [role="columnheader"],
table.fixed-headers [role="rowheader"],
[role="table"].fixed-headers [role="rowheader"] {
  border-left: solid 1px white;
  border-right: solid 1px white;
}
.enable__is-dark-mode table.fixed-headers th,
.enable__is-dark-mode [role="table"].fixed-headers th,
.enable__is-dark-mode table.fixed-headers [role="columnheader"],
.enable__is-dark-mode [role="table"].fixed-headers [role="columnheader"],
.enable__is-dark-mode table.fixed-headers [role="rowheader"],
.enable__is-dark-mode [role="table"].fixed-headers [role="rowheader"] {
  border-left: solid 1px #ededed;
  border-right: solid 1px #ededed;
}
table.fixed-headers td,
[role="table"].fixed-headers td,
table.fixed-headers [role="cell"],
[role="table"].fixed-headers [role="cell"] {
  border-left: solid 1px black;
  border-right: solid 1px black;
}
.enable__is-dark-mode table.fixed-headers td,
.enable__is-dark-mode [role="table"].fixed-headers td,
.enable__is-dark-mode table.fixed-headers [role="cell"],
.enable__is-dark-mode [role="table"].fixed-headers [role="cell"] {
  border-left: solid 1px #ededed;
  border-right: solid 1px #ededed;
}
table.fixed-headers thead tr,
[role="table"].fixed-headers thead tr,
table.fixed-headers .thead tr,
[role="table"].fixed-headers .thead tr {
  display: block;
  position: relative;
}
table.fixed-headers tbody,
[role="table"].fixed-headers tbody,
table.fixed-headers .tbody,
[role="table"].fixed-headers .tbody {
  display: block;
  overflow: auto;
  width: calc(100% + 16px);
  height: 80vh;
}
table .rowspan2__top,
[role="table"] .rowspan2__top {
  border-bottom: none;
  vertical-align: bottom;
}
table .rowspan2__top span,
[role="table"] .rowspan2__top span {
  display: inline-block;
  transform: translateY(1rem);
}
table .rowspan2__bottom,
[role="table"] .rowspan2__bottom {
  border-top: none;
}
.enable-table--centered-data th,
.enable-table--centered-data td {
  text-align: center;
}
.enable-table--with-borders th {
  border-left: solid 1px white;
  border-right: solid 1px white;
}
.enable__is-dark-mode .enable-table--with-borders th {
  border-left: solid 1px #121212;
  border-right: solid 1px #121212;
}
.enable-table--with-borders th:first-child {
  border-left: solid 1px black;
}
.enable__is-dark-mode .enable-table--with-borders th:first-child {
  border-left: solid 1px #ededed;
}
.enable-table--with-borders th:last-child {
  border-right: solid 1px black;
}
.enable__is-dark-mode .enable-table--with-borders th:last-child {
  border-right: solid 1px #ededed;
}
.enable-table--with-borders td {
  border: solid 1px black;
}
.enable__is-dark-mode .enable-table--with-borders td {
  border-color: #ededed;
}
.enable-tabl .screenshot-table {
  margin: 0 auto;
  width: initial;
  max-width: initial;
}
.enable-tabl .screenshot-table th[scope="row"] {
  vertical-align: middle;
}
.enable-tabl .screenshot-table td {
  padding: 0;
}
table td:first-child,
table td:nth-child(2) {
  font-family: "Consolas", monospace;
}
table td:first-child {
  width: 25%;
}
table td:nth-child(2) {
  width: 25%;
}
@media only screen and (min-width: 1px) and (max-width: 719px) {
  table td {
    font-size: 0.8em;
    width: auto;
  }
}
/*# sourceMappingURL=article.css.map */