.bottom-fixed-nav {
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
  background: white;
  border-top: 1px solid #999;
  box-shadow: 0 -5px 5px #ccc;
}
.bottom-fixed-nav__list {
  padding-left: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
}
.bottom-fixed-nav__list-item {
  flex: 1 1 auto;
  justify-content: center;
  display: flex;
}
.bottom-fixed-nav__link {
  align-items: center;
}
.bottom-fixed-nav__avatar {
  height: 24px;
}
