/* This is the CSS to style the custom HTML5 checkbox */
.enable-checkbox input[type="checkbox"]:focus + label::before {
  outline: #3b99fc auto 5px;
}
.enable-checkbox input[type="checkbox"]:focus:not(:focus-visible) + label::before {
  outline: none;
}
.enable-checkbox input[type="checkbox"]:focus-visible + label::before {
  outline: #3b99fc auto 5px;
}
.enable-checkbox input[type="checkbox"],
.enable-checkbox input[type="checkbox"] + label::before {
  -webkit-appearance: none;
  -khtml-appearance: none;
  -ms-appearance: none;
  -moz-appearance: none;
  appearance: none;
  box-sizing: border-box;
  width: 1rem;
  height: 1rem;
  margin: 0;
  padding: 0;
  display: inline-block;
  border: solid 1px #333;
}
.enable-checkbox input[type="checkbox"] + label::after {
  content: none;
}
.enable-checkbox input[type="checkbox"]:checked + label::after {
  content: "";
  height: 0.31rem;
  width: 0.87rem;
  border-left: 0.125rem solid #600;
  border-bottom: 0.125rem solid #600;
  transform: rotate(-45deg) scale(2);
  left: 0.43rem;
  top: -0.31rem;
}
.enable-checkbox input[type="checkbox"] + label {
  position: absolute;
  display: inline-block;
  /* 16px width of fake checkbox + 6px distance between fake checkbox and text */
  margin-left: -1rem;
}
.enable-checkbox input[type="checkbox"] + label::before,
.enable-checkbox input[type="checkbox"] + label::after {
  position: absolute;
  content: "";
  /* Needed for the line-height to take effect */
  display: inline-block;
  pointer-events: none;
}
#html-checkbox-multi-label {
  border-bottom: solid 3px black;
  text-align: center;
}
#html-checkbox__error {
  display: none;
}
#html-checkbox__error.visible {
  display: block;
  margin: 10px auto;
}
