.font-heading-3 {
  font-family: "OpenSans", "Helvetica", "Arial", sans-serif;
  font-weight: bold;
  padding-top: 20px;
  font-size: 1.25rem;
  border-bottom: double 3px #000;
}
/* This is the CSS to style the custom HTML5 checkbox */
.enable-checkbox {
  width: fit-content;
  margin: 0 auto;
}
.enable-checkbox .form-control {
  font-family: system-ui, sans-serif;
  font-size: 1rem;
  font-weight: bold;
  line-height: 1.1;
  display: grid;
  grid-template-columns: 1em auto;
  gap: 0.5em;
}
.enable-checkbox .form-control + .form-control {
  margin-top: 1em;
}
.enable-checkbox .form-control--disabled {
  color: var(--form-control-disabled);
  cursor: not-allowed;
}
.enable-checkbox input[type="checkbox"] {
  -webkit-appearance: none;
  -khtml-appearance: none;
  -ms-appearance: none;
  -moz-appearance: none;
  appearance: none;
  /* For iOS < 15 */
  background-color: var(--form-background);
  /* Not removed via appearance */
  margin: 0;
  font: inherit;
  color: currentColor;
  width: 1.15em;
  height: 1.15em;
  border: 0.15em solid currentColor;
  border-radius: 0.15em;
  transform: translateY(-0.075em);
  display: grid;
  place-content: center;
}
.enable-checkbox input[type="checkbox"]:focus {
  outline: max(2px, 0.15em) solid #097efb;
  outline-offset: max(2px, 0.15em);
}
.enable-checkbox input[type="checkbox"]:focus:not(:focus-visible) {
  outline: none;
  outline-offset: 0;
}
.enable-checkbox input[type="checkbox"]:focus-visible {
  outline: max(2px, 0.15em) solid #097efb;
  outline-offset: max(2px, 0.15em);
}
.enable-checkbox input[type="checkbox"]::before {
  content: "";
  width: 0.65em;
  height: 0.65em;
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
  transform: scale(0);
  transform-origin: bottom left;
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em var(--form-control-color);
  /* Windows High Contrast Mode */
  background-color: CanvasText;
}
.enable-checkbox input[type="checkbox"]:indeterminate::before {
  clip-path: polygon(0% 40%, 100% 40%, 100% 60%, 0% 60%);
  transform: scale(1);
}
.enable-checkbox input[type="checkbox"]:checked::before {
  transform: scale(1);
}
.enable-checkbox input[type="checkbox"]:disabled {
  --form-control-color: var(--form-control-disabled);
  color: var(--form-control-disabled);
  cursor: not-allowed;
}
#html-checkbox-multi-label {
  border-bottom: solid 3px black;
  text-align: center;
}
#html-checkbox__error {
  display: none;
}
#html-checkbox__error.visible {
  display: block;
  margin: 10px auto;
}
#group-example legend,
#indeterminate-example legend {
  width: 100%;
  text-align: center;
  border-bottom: 3px solid black;
}
#group-example .checkbox-container,
#indeterminate-example .checkbox-container {
  display: block;
  width: fit-content;
  margin: 0 auto;
  position: relative;
}
#group-example .checkbox-container input,
#indeterminate-example .checkbox-container input {
  position: absolute;
  left: 0;
}
#group-example .checkbox-container label,
#indeterminate-example .checkbox-container label {
  width: 190px;
  margin-bottom: 10px;
  padding-left: 1.875rem;
  grid-template-columns: initial;
}
#group-example .error,
#indeterminate-example .error {
  display: block;
  width: fit-content;
  margin: 0 auto 1em auto;
}
#group-example button,
#indeterminate-example button {
  margin: 10px auto;
  text-align: center;
  display: block;
}
#aria-indeterminate-example label {
  display: inline;
}
#aria-indeterminate-example .checkbox-container {
  min-width: 190px;
  list-style-type: none;
}
/*# sourceMappingURL=checkbox.css.map */