.cookie-banner {
  position: fixed;
  bottom: 0;
}
.cookie-banner-form {
  display: flex;
  flex-direction: column;
}
.cookie-banner-close-button {
  position: absolute;
  top: 0;
  right: 0;
  max-width: 32px;
  max-height: 32px;
}
.cookie-banner-action-buttons {
  display: flex;
  flex-direction: row;
  margin-left: auto;
}
.cookie-banner-reject-button {
  margin-left: 16px;
}
