.cookie-banner {
  position: fixed;
  bottom: 0;
}
.cookie-banner-buttons {
  display: flex;
  flex-direction: row;
}
.cookie-banner-action-buttons {
  display: flex;
  flex-direction: row;
  margin-left: auto;
}
.cookie-banner-reject-button {
  margin-left: 16px;
}
