__checkbox:focus + __label {
  outline: solid 2px #3b99fc;
}
dl dd,
.dl dd,
dl dt,
.dl dt,
dl [role="definition"],
.dl [role="definition"],
dl [role="term"],
.dl [role="term"] {
  display: inline;
}
dl dt,
.dl dt,
dl [role="term"],
.dl [role="term"] {
  font-weight: bold;
}
dl dd,
.dl dd,
dl [role="definition"],
.dl [role="definition"] {
  font-style: italic;
}
dl dd:after,
.dl dd:after,
dl [role="definition"]:after,
.dl [role="definition"]:after {
  content: "\A";
  white-space: pre;
}
