:root {
  --focus-color: #097efb;
  --focus-color-dark-bg: #3b99fc;
}
@media (prefers-color-scheme: dark) {
  :root {
    --focus-color: #3b99fc;
    --focus-color-dark-bg: #097efb;
  }
}
dl dd,
.dl dd,
dl dt,
.dl dt,
dl [role="definition"],
.dl [role="definition"],
dl [role="term"],
.dl [role="term"] {
  display: inline;
}
dl dt,
.dl dt,
dl [role="term"],
.dl [role="term"] {
  font-weight: bold;
}
dl dd,
.dl dd,
dl [role="definition"],
.dl [role="definition"] {
  font-style: italic;
}
dl dd::after,
.dl dd::after,
dl [role="definition"]::after,
.dl [role="definition"]::after {
  content: "\A";
  white-space: pre;
  display: block;
  height: 1rem;
}
