.details-accordion {
  border: solid 1px #41a6df;
  border-radius: 10px;
}
.details-accordion__drawer .details-accordion__button {
  -webkit-appearance: none;
  -khtml-appearance: none;
  -ms-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
  padding: 5px;
  color: #000;
  background: transparent;
  font-size: 1rem;
  list-style: none;
  cursor: default;
  width: 100%;
  text-align: left;
  background-image: url("../images/plus.svg");
  background-size: 1.25rem 1.25rem;
  background-position: 0px 5px;
  padding-left: 1.5625rem;
  background-repeat: no-repeat;
  border-bottom: solid 1px #41a6df;
}
.details-accordion__drawer .details-accordion__button::-webkit-details-marker {
  display: none;
}
.details-accordion .details-accordion__drawer:last-child .details-accordion__button,
.details-accordion .details-accordion__drawer[open] .details-accordion__button {
  border-bottom: none;
}
.details-accordion .details-accordion__drawer[open] .content {
  border-bottom: solid 1px #41a6df;
}
.details-accordion__drawer[open] .details-accordion__button,
.details-accordion .details-accordion__button[aria-expanded="true"] {
  background-image: url('../images/minus.svg');
}
.details-accordion__content {
  display: none;
}
.details-accordion__button[aria-expanded="true"] + .details-accordion__content {
  display: block;
}
