/*
 * Class for elements that are only visible to the screen reader. From
 * https://www.paciellogroup.com/blog/2012/05/html5-accessibility-chops-hidden-and-aria-hidden/
 */
/*
 * This CSS from http://gdkraus.github.io/accessible-modal-dialog/
 */
.a11y-modal {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  padding: 1rem;
  border: thin #000 solid;
  background-color: #fff;
  z-index: 3;
  /* places the modal dialog on top of everything else */
  position: fixed;
  top: 25%;
  left: 25%;
  display: none;
}
.a11y-modal.visible {
  display: block;
}
.a11y-modal h1 {
  text-align: center;
}
.a11y-modal__button--close {
  position: absolute;
  top: -20px;
  right: -20px;
  -webkit-appearance: none;
  -khtml-appearance: none;
  -ms-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: none;
  border: none;
  display: inline;
}
.a11y-modal__button--close img {
  border: 0;
  width: 38px;
  height: 38px;
}
#a11y-modal__overlay {
  width: 100%;
  height: 100%;
  z-index: 2;
  /* places the modal overlay between the main page and the modal dialog*/
  background-color: #000;
  opacity: 0.5;
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  margin: 0;
  padding: 0;
}
#a11y-modal__overlay.visible {
  display: block;
}
/*
 * For decorating the page (not the modal)
 */
.image {
  position: absolute;
  z-index: 1;
  top: 0;
  left: calc(50% - 50vmin);
  width: 100vmin;
  margin: 0 auto;
}
.image__container {
  position: relative;
  height: 92vmin;
}
.modal__opener {
  z-index: 2;
  position: absolute;
  left: calc(50% - 27vmin);
  top: 22vmin;
  font-size: 3vmin;
}
[data-old-aria-hidden] {
  opacity: 0.3;
  filter: blur(1px);
}
