/*
 * Class for elements that are only visible to the screen reader. From
 * https://www.paciellogroup.com/blog/2012/05/html5-accessibility-chops-hidden-and-aria-hidden/
 */
ul,
div[role="directory"] {
  padding-left: 3rem;
}
ul li,
div[role="listitem"] {
  display: list-item;
  list-style: disc;
}
