:root {
  --focus-color: #097efb;
  --focus-color-dark-bg: #3b99fc;
}
@media (prefers-color-scheme: dark) {
  :root {
    --focus-color: #3b99fc;
    --focus-color-dark-bg: #097efb;
  }
}
ul,
div[role="directory"] {
  padding-left: 3rem;
}
ul li,
div[role="listitem"] {
  display: list-item;
  list-style: disc;
}
