.font-heading-3 {
  font-family: "OpenSans", "Helvetica", "Arial", sans-serif;
  font-weight: bold;
  padding-top: 20px;
  font-size: 1.25rem;
  border-bottom: double 3px #000;
}
@media only screen and (min-width: 720px) {
  .toc-as-sidebar main#main {
    margin-left: 25%;
  }
}
nav.toc {
  background-color: white;
  grid-template-columns: 1fr auto;
  align-items: end;
  overflow-y: auto;
  padding: 0.5em 0.8em 0.5em 0.5em;
}
nav.toc h2 {
  font-weight: normal;
  border-bottom: none;
  margin-left: 8px;
  line-height: 1em;
}
nav.toc h2::before {
  content: none;
}
nav.toc ol,
nav.toc ul {
  margin-left: 0.5em;
}
nav.toc li {
  margin-bottom: 8px;
}
nav.toc li a {
  text-decoration: none;
}
nav.toc .move-to-sidebar-button,
nav.toc .hide-sidebar-button {
  padding: 5px 10px;
  border: none;
  margin-bottom: 2px;
}
nav.toc .move-to-sidebar-button:hover,
nav.toc .hide-sidebar-button:hover {
  background-color: #ccc;
}
nav.toc .toc-level-1 {
  grid-column-start: 1;
  grid-column-end: -1;
  max-width: 100%;
  border-top: 1px solid gray;
  padding-top: 20px;
}
nav.sidebar-toc {
  display: none;
  position: sticky;
  float: left;
  top: 2.5rem;
  right: 0;
  bottom: 0;
  width: 25%;
  max-width: 300px;
}
nav.sidebar-toc h2 {
  margin-top: 20px;
}
@media only screen and (min-width: 720px) {
  .toc-as-sidebar nav.sidebar-toc {
    display: grid;
  }
}
nav.toggle-toc {
  display: none;
  position: absolute;
  z-index: 1;
  border-radius: 5px;
  box-shadow: gray 0 0 5px;
  max-width: 500px;
  z-index: 2;
}
nav.toggle-toc .move-to-sidebar-button {
  display: none;
}
@media only screen and (min-width: 720px) {
  nav.toggle-toc .move-to-sidebar-button {
    display: grid;
  }
}
nav.toggle-toc h2 {
  scroll-margin-top: 0;
  margin-top: 8px;
}
@media only screen and (min-width: 720px) {
  .toc-as-sidebar nav.toggle-toc {
    display: none;
  }
}
.toggle-toc-button {
  position: relative;
  top: -2px;
  display: inline-block;
  padding: 5px 10px;
  margin-left: -10px;
  border: none;
  background: none;
  cursor: pointer;
}
@media only screen and (min-width: 720px) {
  .toc-as-sidebar .toggle-toc-button {
    display: none;
  }
}
.toggle-toc-button ~ h1 {
  display: inline-block;
}
