.font-heading-3 {
  font-family: "OpenSans", "Helvetica", "Arial", sans-serif;
  font-weight: bold;
  padding-top: 20px;
  font-size: 1.25rem;
  border-bottom: double 3px #000;
}
/*
 * This is the CSS needed to style the <input type="range" />.  Note how complex it is due
 * to cross-browser issues.
 *
 * From https://css-tricks.com/styling-cross-browser-compatible-range-inputs-css/
 */
/* This is a mixin that contains the styles for the slider's track. */
/*
 * This is the mixin that contains the styles for the slider's
 * interactive component (the part that changes the value of the slider.
 * Note that browser manufacturers often call this the "thumb" part of the
 * component, which is not really accurate for those who use keyboards
 * and screen readers. :-)
 */
/*
 * Thumb focus styles
 */
/*
 * Track focus styles
 */
input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
  font-size: 1rem;
  width: 100%;
  border: none;
  box-sizing: content-box;
}
input[type="range"]:focus {
  outline: solid 2px transparent;
}
input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 5px;
  box-sizing: content-box;
  cursor: pointer;
  background: #afafaf;
  border-radius: 9px;
  border: 1px solid black;
  position: relative;
  top: 2px;
}
input[type="range"]::-moz-range-track {
  width: 100%;
  height: 5px;
  box-sizing: content-box;
  cursor: pointer;
  background: #afafaf;
  border-radius: 9px;
  border: 1px solid black;
  position: relative;
  top: 2px;
}
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  box-sizing: content-box;
  border: 1px solid black;
  height: 30px;
  width: 30px;
  border-radius: 15px;
  background: #555bc8;
  cursor: pointer;
  margin-top: -13.5px;
}
input[type="range"]::-moz-range-thumb {
  -webkit-appearance: none;
  appearance: none;
  box-sizing: content-box;
  border: 1px solid black;
  height: 30px;
  width: 30px;
  border-radius: 15px;
  background: #555bc8;
  cursor: pointer;
  margin-top: -13.5px;
}
input[type="range"]:focus::-webkit-slider-runnable-track {
  background: #352976;
}
input[type="range"]:focus::-moz-range-track {
  background: #352976;
}
input[type="range"]:focus::-webkit-slider-thumb {
  outline: solid 2px #097EFB;
  outline-offset: 4px;
}
input[type="range"]:focus::-moz-range-thumb {
  outline: solid 2px #097EFB;
  outline-offset: 4px;
}
input[type="range"]:focus:not(:focus-visible)::-webkit-slider-thumb {
  outline: none;
}
input[type="range"]:focus:not(:focus-visible)::-moz-range-thumb {
  outline: none;
}
input[type="range"]:focus-visible::-webkit-slider-thumb {
  outline: solid 2px #097EFB;
  outline-offset: 4px;
}
input[type="range"]:focus-visible::-moz-range-thumb {
  outline: solid 2px #097EFB;
  outline-offset: 4px;
}
.html-slider__container {
  width: calc(100% - 6.3em);
  display: inline-block;
  height: 2rem;
  transform: translateY(-5px);
  /*
     * This allows us to adjust the top padding for the container div 
     * in Firefox only, since its implementation needs extra padding on
     * the top to be pixel perfect. ¯\_(ツ)_/¯
     *
     * @supports with selector() is supported by all browsers except Safari
     * right now, but that's okay, since we only care about Firefox here.
     */
}
@supports selector(input[type="range"]::-moz-range-thumb) {
  .html-slider__container {
    transform: translateY(3px);
  }
}
.html-slider__multi--output {
  position: absolute;
  background: #900;
  color: #fff;
  text-align: center;
  width: 4em;
  top: 42px;
  /* This positions the particular values in the form */
}
.html-slider__multi--output[for="a"] {
  left: calc(15px + (var(--a) / var(--dif)) * (100% - 30px) - (4em / 2));
}
.html-slider__multi--output[for="b"] {
  left: calc(15px + (var(--b) / var(--dif)) * (100% - 30px) - (4em / 2));
}
.html-slider__multi--container {
  --minValue: calc(min(var(--a), var(--b)));
  --maxValue: calc(max(var(--a), var(--b)));
  --dif: calc(var(--max) - var(--min));
  position: relative;
  padding: 0;
  display: block;
  margin-bottom: 62px;
  width: 100%;
  /* This will replace the track */
  /* This will be the coloured part in between the sliders */
}
.html-slider__multi--container::before {
  width: 100%;
  height: 5px;
  box-sizing: content-box;
  cursor: pointer;
  background: #afafaf;
  border-radius: 9px;
  border: 1px solid black;
  position: relative;
  top: 2px;
  /* These are custom styles not needed by track pseudo-elements */
  position: absolute;
  content: "";
  display: block;
  top: 11px;
  z-index: -2;
  width: calc(100% - 1px);
}
.html-slider__multi--container::after {
  width: 100%;
  height: 5px;
  box-sizing: content-box;
  cursor: pointer;
  background: #afafaf;
  border-radius: 9px;
  border: 1px solid black;
  position: relative;
  top: 2px;
  content: '';
  display: 'block';
  position: absolute;
  z-index: -1;
  left: calc(15px + (var(--minValue) / var(--dif)) * (100% - 2* 15px));
  top: 11px;
  width: calc((var(--maxValue) - var(--minValue)) / var(--dif) * (100% - 2* 15px));
  background: #333;
  outline: 2px solid transparent;
  outline-offset: -4px;
}
.html-slider__multi--container input[type="range"] {
  position: absolute;
  pointer-events: none;
  background: none;
}
.html-slider__multi--container input[type="range"]::-webkit-slider-thumb {
  pointer-events: auto;
  transform: translateZ(0);
  z-index: 1;
}
.html-slider__multi--container input[type="range"]::-moz-range-thumb {
  pointer-events: auto;
  transform: translateZ(0);
  z-index: 1;
  transform: translateY(10px);
}
.html-slider__multi--container input[type="range"]::-webkit-slider-runnable-track {
  background: none;
  /* get rid of Firefox track background */
  border: none;
  height: 100%;
  width: 100%;
  margin-top: 23px;
}
.html-slider__multi--container input[type="range"]::-moz-range-track {
  background: none;
  /* get rid of Firefox track background */
  border: none;
  height: 100%;
  width: 100%;
}
@supports selector(input[type="range"]::-moz-range-thumb) {
  .html-slider__multi--container input[type="range"] {
    transform: translateY(5px);
    height: 0px;
  }
}
.html-slider__output {
  display: inline-block;
  height: 2rem;
  line-height: 2rem;
  position: relative;
  width: 6em;
  text-align: center;
}
.html-slider__label {
  display: block;
  margin: 0;
  padding: 0;
  margin-bottom: 0.5em;
  clear: both;
  font-weight: bold;
}
/*
 * The CSS to style the ARIA slider.
 */
.enable-slider {
  position: relative;
}
.enable-slider__label {
  display: block;
  margin: 0;
  padding: 0;
  margin-bottom: 0.5em;
  clear: both;
  font-weight: bold;
}
.enable-slider__hidden-label {
  display: none;
}
.enable-slider__handle {
  transform: scale(2);
  touch-action: none;
}
.enable-slider__handle:focus,
.enable-slider__handle:active,
.enable-slider__handle.focus .enable-slider__handle {
  background-color: #eee !important;
}
.enable-slider__handle-button {
  -webkit-appearance: none;
  appearance: none;
  background: none;
  border: none;
  display: block;
  outline-offset: 2px;
  margin: -6px -3px;
}
.enable-slider__button {
  -webkit-appearance: none;
  appearance: none;
  border: none;
  background: green;
  color: white;
}
.enable-slider__button-label {
  display: inline-block;
  transform: translateY(-2px);
}
.enable-slider--vertical .enable-slider__button-label {
  transform: rotate(90deg) translateX(-3px);
}
.enable-slider__button-container {
  position: absolute;
  top: -2px;
  width: 0.5rem;
  height: 0.75rem;
}
.enable-slider--vertical .enable-slider__button-container {
  height: 0.625rem;
}
.enable-slider__button-container--decrease {
  left: 2px;
}
.enable-slider--vertical .enable-slider__button-container--decrease {
  left: 3px;
  bottom: 6px;
}
.enable-slider__button-container--increase {
  right: 2px;
}
.enable-slider--vertical .enable-slider__button-container--increase {
  right: 3px;
  top: 8px;
}
.enable-slider--horizontal {
  margin: 20px 0 50px 0;
  padding: 0;
  width: 90vw;
  max-width: 100%;
  height: 10px;
  background-color: #eef;
  border: 2px solid black;
}
.enable-slider--horizontal .enable-slider__handle {
  margin: -2px 0 0 0;
  background-color: #808080;
  position: absolute;
  left: -300em;
  top: -30em;
  z-index: 10;
  padding: 7px 2px;
  border: 1px solid black;
  border-radius: 5px;
}
.enable-slider--horizontal .enable-slider__handle,
.enable-slider--horizontal .enable-slider__handle .enable-slider__handle-button {
  width: 24px;
  height: 12px;
}
.enable-slider--horizontal .enable-slider__value {
  margin: 24px 0 0 0;
  padding: 5px;
  width: 30px;
  height: 15px;
  text-align: center;
  font-weight: bold;
  position: absolute;
  left: -30em;
  top: -30em;
  z-index: 10;
}
.enable-slider--vertical {
  margin: 50px;
  padding: 0;
  height: 540px;
  width: 20px;
  background-color: #eef;
  border: 2px solid black;
}
.enable-slider--vertical .enable-slider__handle {
  margin: 0 0 0 -2px;
  padding: 2px 7px;
  width: 12px;
  height: 24px;
  background-color: #808080;
  position: absolute;
  left: -300em;
  top: -30em;
  z-index: 10;
  border: 1px solid black;
  border-radius: 5px;
}
.enable-slider--vertical .enable-slider__value {
  margin: 0 0 0 30px;
  padding: 5px;
  width: 30px;
  height: 15px;
  text-align: center;
  font-weight: bold;
  position: absolute;
  left: -30em;
  top: -30em;
  z-index: 10;
}
.enable-slider__slider-range {
  pointer-events: none;
  margin: 0 2px 2px 0;
  padding: 0;
  width: 1px;
  height: 1px;
  background-color: #00f;
  position: absolute;
  left: -300em;
  top: -30em;
  z-index: 0;
  outline: solid 4px transparent;
  outline-offset: -5px;
}
.enable-slider__number-fallback {
  background: #fff;
  text-align: right;
  z-index: 11;
  position: relative;
  height: 1.875rem;
  color: black;
}
.enable-slider .hidden {
  position: absolute;
  top: -20em;
  left: -200em;
}
.enable-slider output {
  padding-left: 1em;
}
