.font-heading-3 {
  font-family: "OpenSans", "Helvetica", "Arial", sans-serif;
  font-weight: bold;
  padding-top: 20px;
  font-size: 1.25rem;
  border-bottom: double 3px #000;
}
.glider {
  border: solid 1px black;
  /* IE and edge */
  -ms-overflow-style: none;
  /* Firefox */
  scrollbar-width: none;
  /* Safari & Chrome */
}
.glider::-webkit-scrollbar {
  display: none;
}
.glider-slide {
  display: block;
  background: black;
  color: white;
}
.glider-slide:focus {
  outline: solid 2px #3b99fc;
  outline-offset: -5px;
}
.glider-slide:focus:not(:focus-visible) {
  outline: none;
}
.glider-slide:focus-visible {
  outline: solid 2px #3b99fc;
  outline-offset: -5px;
}
@media only screen and (min-width: 720px) and (max-width: 959px) {
  .enable-mobile-visible-on-focus__container .glider-slide {
    height: 72vw !important;
  }
}
@media only screen and (min-width: 960px) {
  .enable-mobile-visible-on-focus__container .glider-slide {
    height: 689px !important;
  }
}
.glider-prev,
.glider-next {
  background: #000;
  color: white;
  padding: 5px 10px;
  transform: scale(0.8, 1.5);
  clip: rect(6px 100px 100px 0);
  top: calc(24vw - (75px / 2));
}
@media only screen and (min-width: 960px) {
  .glider-prev,
  .glider-next {
    top: 200px;
  }
}
@media only screen and (min-width: 960px) {
  #example2 .glider-prev,
  #example2 .glider-next {
    background: white;
    color: #000;
    top: calc(50% - 20px);
  }
}
.glider-prev:focus,
.glider-next:focus {
  outline: solid 2px #3b99fc !important;
  outline-offset: -2px;
}
.glider-prev:focus:not(:focus-visible),
.glider-next:focus:not(:focus-visible) {
  outline: none;
}
.glider-prev:focus-visible,
.glider-next:focus-visible {
  outline: solid 2px #3b99fc !important;
  outline-offset: -2px;
}
.glider-prev {
  left: 0;
  transform-origin: 0 50%;
}
.glider-next {
  right: 0;
  transform-origin: 100% 50%;
}
.enable-carousel__example {
  padding: 0;
  margin: 0 -1em;
}
.enable-carousel__skip-link {
  display: block;
  margin: 2px auto;
  background: #2A6803;
  color: #fff;
  padding: 10px;
  text-decoration: none;
  font-weight: bold;
  text-align: center;
  z-index: 5;
  transform: translateZ(1px);
}
.enable-carousel__slide {
  position: relative;
  padding-left: 40px;
  padding-right: 40px;
}
.enable-carousel__slide-heading {
  margin: 0;
  padding: 0;
  color: #fff;
  font-family: "Arial", "Helvetica", sans-serif;
}
.enable-carousel__slide-background {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}
.enable-carousel__slide-copy {
  box-sizing: border-box;
  background: #000;
  color: white;
  width: 100%;
  padding: 10px;
}
@media only screen and (min-width: 720px) {
  .enable-carousel__slide-copy {
    padding: 20px 40px;
  }
}
.enable-carousel__slide-cta {
  display: block;
  margin: 0 auto;
  background: #2A6803;
  color: #fff;
  padding: 10px;
  text-decoration: none;
  font-weight: bold;
  text-align: center;
}
