/*
 * Class for elements that are only visible to the screen reader. From
 * https://www.paciellogroup.com/blog/2012/05/html5-accessibility-chops-hidden-and-aria-hidden/
 */
figure,
[role="figure"] {
  width: 80%;
  margin: 0 auto;
  padding: 1em;
}
figure figcaption,
[role="figure"] figcaption,
figure span,
[role="figure"] span {
  display: block;
  margin-top: 1rem;
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  font-style: italic;
}
figure code,
[role="figure"] code {
  display: block;
  padding: 1em;
  background: black;
  color: #00ff00;
  width: 100%;
  border: solid 1px #ccc;
}
