figure,
[role="figure"] {
  display: table;
  margin: 0 auto;
  padding: 1em;
}
figure img,
[role="figure"] img {
  max-width: 100%;
}
figure figcaption,
[role="figure"] figcaption,
figure span,
[role="figure"] span {
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  font-style: italic;
  display: table-caption;
  caption-side: bottom;
  margin-bottom: 2rem;
}
figure code,
[role="figure"] code {
  display: block;
  padding: 1em;
  background: black;
  color: #00ff00;
  width: 100%;
  border: solid 1px #ccc;
}
