/*
 * Class for elements that are only visible to the screen reader. From
 * https://www.paciellogroup.com/blog/2012/05/html5-accessibility-chops-hidden-and-aria-hidden/
 */
label {
  display: inline-block;
  width: 45%;
  text-align: right;
  font-weight: bold;
}
.desc {
  margin: 0.2rem 0 0 45%;
  font-style: italic;
  font-size: 0.9rem;
  text-align: right;
}
input,
.desc,
[role="textbox"] {
  width: 45%;
  max-width: 20rem;
}
.form-instructions {
  text-align: center;
  font-style: italic;
  margin-bottom: 2em;
}
.field-block {
  margin-bottom: 0.5rem;
  display: block;
}
label.error {
  margin-left: calc(45% + 10px);
  text-align: left;
  color: #e60000;
}
label.error::before {
  content: '';
  background-image: url('../images/error.svg');
  background-size: 0.7rem 0.7rem;
  display: inline-block;
  width: 0.7rem;
  height: 0.7rem;
  margin-right: 0.5em;
}
input[type="radio"] + label,
input[type="checkbox"] + label,
[role="radio"] + label,
[role="checkbox"] + label {
  display: inline;
}
input[type=submit] {
  display: block;
  margin: 2rem auto 0 auto;
  padding-bottom: 0;
}
input[type=submit] {
  margin-bottom: 1em;
}
fieldset,
.aria-form-group {
  padding: 0.5em;
  margin-top: 1em;
  padding-top: 2em;
  background-color: #EEEEEE;
}
fieldset legend,
.aria-form-group legend,
fieldset .legend,
.aria-form-group .legend {
  position: relative;
  border-color: #AAAAAA;
  font-weight: bold;
  font-size: 1em;
  text-align: center;
  display: block;
  margin: 0 0 1em 0;
  width: 100%;
  border-bottom: 1px #ccc solid;
}
fieldset legend,
.aria-form-group legend {
  top: 1.5em;
}
fieldset .fieldset,
.aria-form-group .fieldset {
  top: -1.5em;
  display: block;
}
[role="radio"],
[role="checkbox"] {
  display: inline-block;
  position: relative;
  width: 0.875em;
  height: 0.875em;
  margin: 0.25em 0.5em 0.25em 0.25em;
  border: 0.0625em solid #c0c0c0;
  background: #e0e0e0;
  background-image: -webkit-linear-gradient(90deg, #f0f0f0, #e0e0e0);
  background-image: -moz-linear-gradient(90deg, #f0f0f0, #e0e0e0);
  background-image: -ms-linear-gradient(90deg, #f0f0f0, #e0e0e0);
  background-image: -o-linear-gradient(90deg, #f0f0f0, #e0e0e0);
  background-image: linear-gradient(0deg, #f0f0f0, #e0e0e0);
  vertical-align: bottom;
}
[role="radio"],
[role="radio"]:after {
  border-radius: 50%;
}
[role="radio"][aria-checked="true"]:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 0.5em;
  height: 0.5em;
  margin: 0.125em;
  border: 0.0625em solid #73994d;
  background: #99cc66;
}
[role="checkbox"][aria-checked="true"]:after {
  content: '✓';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 1em;
  color: #99cc66;
  font-size: 0.875em;
  line-height: 1em;
  text-align: center;
  text-shadow: 0 0 0.0714em #73994d;
  font-weight: bold;
}
form label.required::after {
  color: #e60000;
  content: " *";
}
.required-symbol {
  color: #e60000;
}
