* {
  box-sizing: border-box;
}
.enable-flyout {
  --enable-flyout__desktop-media-query: only screen and (min-width: 960px);
  --enable-flyout__is-hamburger: 1;
  --enable-flyout__desktop-min: 960px;
  width: calc(min(75vw, 350px));
  right: calc(-1 * min(75vw, 350px));
  background: #2e2f35;
  color: #fff;
  font-size: 1em;
  font-weight: 100;
  height: 100%;
  position: absolute;
  text-decoration: none;
  top: 0;
  z-index: 100;
  display: none;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  scrollbar-width: thin;
  animation: enable-flyout__anim--mobile-close 0.2s ease-in-out forwards;
  /* These items are hidden in the mobile breakpoint */
}
.enable-flyout::-webkit-scrollbar {
  width: 2px;
}
.enable-flyout--hidden {
  display: none;
}
.enable-flyout--will-animate {
  display: block;
}
.enable-flyout--will-animate .enable-flyout {
  will-change: right;
}
.enable-flyout__container {
  padding: 0;
  margin-bottom: 0;
}
.enable-flyout__hamburger-icon {
  width: 30px;
  height: 30px;
  display: block;
  position: relative;
  margin: 8px 18px;
  transform: rotate(0deg);
  transition: 0.5s ease-in-out;
  cursor: pointer;
}
.enable-flyout__hamburger-icon-facade {
  display: block;
  width: 66px;
  height: 46px;
  position: absolute;
  right: 2px;
  top: 0px;
  background: none;
  border: none;
}
.enable-flyout__hamburger-icon span {
  display: block;
  position: absolute;
  height: 6px;
  width: 100%;
  background: currentColor;
  border: 1px solid transparent;
  border-radius: 3px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: 0.5s ease-in-out;
}
.enable-flyout__hamburger-icon span:nth-child(1) {
  top: 0px;
}
.enable-flyout__hamburger-icon span:nth-child(2),
.enable-flyout__hamburger-icon span:nth-child(3) {
  top: 12px;
}
.enable-flyout__hamburger-icon span:nth-child(4) {
  top: 24px;
}
.enable-flyout__open-menu-button[aria-expanded="true"] .enable-flyout__hamburger-icon span {
  background-color: white;
}
.enable-flyout__open-menu-button[aria-expanded="true"] .enable-flyout__hamburger-icon span:nth-child(1) {
  top: 12px;
  width: 0%;
  left: 50%;
}
.enable-flyout__open-menu-button[aria-expanded="true"] .enable-flyout__hamburger-icon span:nth-child(2) {
  transform: rotate(45deg);
}
.enable-flyout__open-menu-button[aria-expanded="true"] .enable-flyout__hamburger-icon span:nth-child(3) {
  transform: rotate(-45deg);
}
.enable-flyout__open-menu-button[aria-expanded="true"] .enable-flyout__hamburger-icon span:nth-child(4) {
  top: 12px;
  width: 0%;
  left: 50%;
  outline: none;
}
.enable-flyout__list {
  list-style-type: none;
  margin: 0;
  padding: 50px 0 0 0;
}
.enable-flyout__separator {
  border: 1px solid #555555;
}
.enable-flyout__open-level-button,
.enable-flyout__close-level-button,
.enable-flyout__link {
  color: #fff;
  display: block;
  font-size: 1em;
  font-weight: 100;
  padding: 1em 1em 1em 0;
  text-decoration: none;
  text-indent: 20px;
  transition: background 0.2s ease-in-out;
  width: 100%;
  background: transparent;
  border: none;
  text-align: left;
  -webkit-appearance: none;
  -khtml-appearance: none;
  -ms-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.enable-flyout__open-level-button:hover,
.enable-flyout__close-level-button:hover,
.enable-flyout__link:hover {
  background: #494a50;
}
.enable-flyout__open-level-button:focus,
.enable-flyout__close-level-button:focus,
.enable-flyout__link:focus {
  position: relative;
  z-index: 2;
}
.enable-flyout__with-home-icon {
  position: relative;
  padding-left: 32px;
}
.enable-flyout__with-home-icon::before {
  content: "";
  display: inline-block;
  width: 26px;
  height: 31px;
  background: url("../images/Home.svg");
  background-repeat: no-repeat;
  background-position: 0 6px;
  background-size: 26px 26px;
  filter: invert();
  position: absolute;
  top: 5px;
  top: 4px;
  left: 15px;
}
.enable-flyout__menu-item {
  width: 100%;
}
.enable-flyout__open-level-button {
  padding: 25px;
  position: relative;
}
.enable-flyout__open-level-button::after {
  content: "";
  display: inline-block;
  width: 26px;
  height: 31px;
  background: url("../images/chevron-right.svg");
  background-repeat: no-repeat;
  background-position: 0 6px;
  background-size: 26px 26px;
  filter: invert();
  position: absolute;
  top: 5px;
}
.enable-flyout__body--is-open {
  height: 100%;
  overflow: hidden;
}
.enable-flyout__body--is-open .enable-flyout__overlay-screen {
  height: 100%;
  opacity: 1;
}
.enable-flyout--is-open {
  animation: enable-flyout__anim--mobile-open 0.2s ease-in-out forwards;
  display: block;
}
.enable-flyout--is-closed {
  animation: enable-flyout__anim--mobile-open 0.2s ease-in-out reverse;
}
.enable-flyout__level.enable-flyout--is-open {
  animation: enable-flyout__anim--mobile-open 0.2s ease-in-out forwards;
}
.enable-flyout__level-heading {
  display: none;
}
.enable-flyout__close-level-button {
  color: #a5a5a4;
  cursor: pointer;
  display: block;
  font-size: 1em;
  padding: 1em 0;
  text-indent: 20px;
  transition: background 0.2s ease-in-out;
  position: relative;
  padding-left: 26px;
}
.enable-flyout__close-level-button::before {
  content: "";
  display: inline-block;
  width: 26px;
  height: 31px;
  background: url("../images/chevron-left.svg");
  background-repeat: no-repeat;
  background-position: 0 6px;
  background-size: 26px 26px;
  filter: invert();
  position: absolute;
  top: 5px;
  margin-left: -33px;
}
.enable-flyout__close-level-button:hover {
  background: #494a50;
}
.enable-flyout__open-level-button {
  cursor: pointer;
  display: block;
  padding: 1em 0;
  text-indent: 20px;
  transition: background 0.2s ease-in-out;
}
.enable-flyout__open-level-button:hover {
  background: #494a50;
}
.enable-flyout__close-level-button {
  background-color: #1e1e24;
}
.enable-flyout__open-menu-button {
  position: absolute;
  right: 2px;
  top: 0;
  z-index: 101;
}
.enable-flyout__overlay-screen {
  background: rgba(0, 0, 0, 0.7);
  bottom: 0;
  height: 0;
  opacity: 0;
  position: fixed;
  right: 0;
  top: 0;
  transition: opacity 0.2s ease-in-out;
  width: 100%;
}
.enable-flyout__open-menu-button {
  background-color: #20c270;
  border: none;
  display: block;
  margin: 50px auto;
  padding: 10px 40px;
}
.enable-flyout__open-menu-button a {
  color: #fff;
  font-size: 2em;
}
.enable-flyout__open-menu-button {
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;
  background: transparent;
  color: inherit;
  font: inherit;
  line-height: normal;
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;
  -webkit-appearance: none;
  -khtml-appearance: none;
  -ms-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.enable-flyout__link-image {
  display: none;
}
@media only screen and (min-width: 960px) {
  .enable-flyout {
    width: 100%;
    visibility: visible;
    right: auto;
    margin: 0;
    left: 0px;
    animation: enable-flyout__anim--desktop-close 0.2s ease-in-out forwards;
    top: auto;
    height: auto;
    min-height: auto;
    --enable-flyout__is-hamburger: 0;
  }
  .enable-flyout__hamburger-icon-facade {
    display: none;
  }
  .enable-flyout__top-level {
    position: relative;
  }
  .enable-flyout__open-menu-button {
    display: none;
  }
  .enable-flyout__list {
    padding-top: 0;
  }
  .enable-flyout--is-open {
    animation: enable-flyout__anim--desktop-open 0.2s ease-in-out forwards;
    visibility: visible;
    border-bottom: 1px solid #ccc;
    box-shadow: 0 5px 5px #999;
  }
  .enable-flyout--is-closed {
    animation: enable-flyout__anim--desktop-open 0.2s ease-in-out reverse;
  }
  .enable-flyout__level.enable-flyout--is-open {
    animation: enable-flyout__anim--desktop-open 0.2s ease-in-out forwards;
    visibility: visible;
  }
  .enable-flyout__open-level-button:hover,
  .enable-flyout__close-level-button:hover,
  .enable-flyout__link:hover {
    background: none;
    font-weight: bold;
  }
  .enable-flyout__level {
    display: none;
    overflow: visible;
  }
  .enable-flyout__level-heading {
    font-weight: bold;
    font-size: 1.625rem;
    border-bottom: 1px solid #999;
    padding: 20px 20px 0 20px;
    display: block;
    text-align: left;
  }
  .enable-flyout__top-level {
    display: block;
    height: auto;
    overflow: visible;
  }
  .enable-flyout--is-open .enable-flyout__open-level-button {
    display: none;
  }
  .enable-flyout--is-open .enable-flyout__level {
    display: block;
    position: static;
    background: white;
    color: black;
    width: 100%;
  }
  .enable-flyout__menu-item {
    width: auto;
  }
  .enable-flyout--is-open .enable-flyout__menu-item {
    width: 100%;
  }
  .enable-flyout__list--photo-layout .enable-flyout__menu-item {
    width: 20%;
    float: left;
    margin: 0;
  }
  .enable-flyout__list--photo-layout .enable-flyout__link {
    transition: transform 0.2s ease-in-out;
  }
  .enable-flyout__list--photo-layout .enable-flyout__link:hover,
  .enable-flyout__list--photo-layout .enable-flyout__link:focus {
    transform: scale(1.2);
    font-weight: bold;
  }
  .enable-flyout__list {
    display: flow-root;
    text-align: center;
  }
  .enable-flyout__open-level-button {
    padding-right: 35px;
  }
  .enable-flyout__open-level-button::after {
    background-image: url("../images/chevron-down.svg");
  }
  .enable-flyout__open-level-button[aria-expanded="true"]::after {
    background-image: url("../images/chevron-up.svg");
  }
  .enable-flyout__close-level-button {
    display: none;
  }
  .enable-flyout__menu-item {
    display: inline-block;
  }
  .enable-flyout__menu-item--close {
    display: none;
    padding-right: 0;
  }
  .enable-flyout__link {
    display: inline-block;
    text-align: center;
  }
  .enable-flyout__link-image {
    display: block;
    margin: 0 auto 10px auto;
    width: 180px;
  }
  .enable-flyout--is-open {
    display: block;
    background: #fff;
    color: black;
    text-align: center;
  }
  .enable-flyout--is-open .enable-flyout__open-level-button,
  .enable-flyout--is-open .enable-flyout__close-level-button,
  .enable-flyout--is-open .enable-flyout__link {
    color: black;
  }
  .enable-flyout--is-open .enable-flyout__open-level-button::after,
  .enable-flyout--is-open .enable-flyout__close-level-button::after,
  .enable-flyout--is-open .enable-flyout__link::after {
    filter: none;
  }
}
@keyframes enable-flyout__anim--mobile-open {
  0% {
    display: block;
  }
  0.001% {
    display: block;
    right: calc(-1 * min(75vw, 350px));
  }
  100% {
    right: 0;
  }
}
@keyframes enable-flyout__anim--mobile-close {
  0% {
    right: 0;
  }
  0.999% {
    right: calc(-1 * min(75vw, 350px));
  }
}
