@media screen and (max-width: 600px) {
  .enable-flyout {
    width: 75%;
    right: -75%;
    visibility: hidden;
  }
}
@media screen and (min-width: 601px) {
  .enable-flyout {
    width: 350px;
    right: -350px;
    visibility: hidden;
  }
}
.enable-flyout {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background: #2e2f35;
  color: #fff;
  font-family: helvetica, sens-serif;
  font-size: 1em;
  font-weight: 100;
  height: 100%;
  overflow: hidden;
  position: fixed;
  text-decoration: none;
  top: 0;
  transition: visibility 0s, all ease-in-out 0.2s;
  z-index: 100;
}
.enable-flyout__separator {
  border: 1px solid #555555;
}
.enable-flyout [aria-hidden="true"] {
  display: none;
}
.enable-flyout a,
.enable-flyout button {
  color: #fff;
  display: block;
  font-family: helvetica, sens-serif;
  font-size: 1em;
  font-weight: 100;
  padding: 1em 0;
  text-decoration: none;
  text-indent: 20px;
  transition: background 0.2s ease-in-out;
  width: 100%;
  background: transparent;
  border: none;
  text-align: left;
  -webkit-appearance: none;
}
.enable-flyout a:hover,
.enable-flyout button:hover {
  background: #494a50;
}
.enable-flyout__body--is-open {
  height: 100%;
  overflow: auto;
}
.enable-flyout__body--is-open .enable-flyout__overlay-screen {
  height: 100%;
  opacity: 1;
}
.enable-flyout--is-open {
  right: 0;
  visibility: visible;
}
.enable-flyout_level.enable-flyout--is-open {
  right: 0;
  visibility: visible;
}
.enable-flyout__close-level-button {
  color: #a5a5a4;
  cursor: pointer;
  display: block;
  font-size: 1em;
  padding: 1em 0;
  text-indent: 20px;
  transition: background 0.2s ease-in-out;
}
.enable-flyout__close-level-button:hover {
  background: #494a50;
}
.enable-flyout__open-level-button {
  cursor: pointer;
  display: block;
  padding: 1em 0;
  text-indent: 20px;
  transition: background 0.2s ease-in-out;
}
.enable-flyout__open-level-button:hover {
  background: #494a50;
}
.enable-flyout__close-level-button {
  background-color: #1e1e24;
}
.enable-flyout__close-level-button > i {
  color: #a5a5a4;
  font-size: 1em;
}
.enable-flyout__open-menu-button {
  position: absolute;
  right: 48px;
  top: 24px;
}
.enable-flyout__open-menu-button i {
  font-size: 3em;
}
.enable-flyout__overlay-screen {
  background: rgba(0, 0, 0, 0.7);
  bottom: 0;
  height: 0;
  opacity: 0;
  position: fixed;
  right: 0;
  top: 0;
  transition: opacity 0.2s ease-in-out;
  width: 100%;
}
.enable-flyout__open-menu-button {
  background-color: #20c270;
  border: none;
  display: block;
  margin: 50px auto;
  padding: 10px 40px;
}
.enable-flyout__open-menu-button a {
  color: #fff;
  font-size: 2em;
}
.enable-flyout__open-menu-button {
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;
  background: transparent;
  color: inherit;
  font: inherit;
  line-height: normal;
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;
  -webkit-appearance: none;
}
.fa {
  display: inline;
  padding: 5px;
}
