/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("demo.css");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
body {
  font-family: "Helvetica", "Arial", sans-serif;
  margin: 10px;
  line-height: 1.1;
}
strong {
  font-weight: bold;
}
ul {
  list-style: initial;
}
ol {
  list-style: decimal;
}
h1 {
  font-weight: bold;
  font-size: 2rem;
}
h2 {
  font-weight: bold;
  font-size: 1.5rem;
  border-bottom: solid 1px #999999;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
ul {
  padding-left: 3rem;
  list-style: disc;
}
ul,
p {
  margin-top: 0.5rem;
}
/*********************************************************
 * a11y.css - a stylesheet to help create 
 * accessible websites.
 * 
 * by Zoltan Hawryluk (zoltan.dulac@gmail.com)
 * Licensed under the MIT License
 * 
 * https://opensource.org/licenses/MIT
 ********************************************************/
/*
 * Class for elements that are only visible to the screen reader. From
 * https://www.paciellogroup.com/blog/2012/05/html5-accessibility-chops-hidden-and-aria-hidden/
 */
.visually-hidden {
  clip: rect(1px 1px 1px 1px);
  /* IE 6/7 */
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  margin: -1px;
}
/*
 * For `.visually-hidden` elements that should be visible when it gains focus. 
 */
.visible-when-focused:focus {
  clip: auto;
  height: auto;
  overflow: visible;
  position: static;
  white-space: normal;
  width: auto;
  margin: auto;
}
/*
 * Style for "Skip Navigation" type links.  Should have an href linked to 
 * a `.ally-target` element.
 */
.bypass-block-link:focus {
  position: absolute;
  text-decoration: none;
  background: #ffffcc;
  padding: 0.2em;
  z-index: 10;
}
/*
 * We don't want the `.bypass-block-target` to have an outline on *just* focus,
 * since this will look strange if regular users click inside this element,
 * since it will look like it was tabbed into
 */
.bypass-block-target:focus {
  outline: none;
}
/*
 * We do, however, want the `.bypass-block-target` to have an outline when
 * it has focus and it is the target of the document (i.e. the hash tag of the
 * document URL is the same as the "Skip Nav" link).
 * 
 * Note that this style is the same as the focus state on all the tabbable 
 * elements.  It doesn't have to be.  WCAG 2.4.7 – Focus Visible (Level AA) 
 * only requires that the focus state is visible, so you can have, say, the 
 * focus state of a button different than that of a form element. 
 */
.bypass-block-target:focus:target,
a[href]:not([tabindex="-1"]):focus,
area:not([tabindex="-1"]):focus,
[role="button"]:not([tabindex="-1"]):focus,
[role="link"]:not([tabindex="-1"]):focus,
iframe:not([tabindex="-1"]):focus,
[contentEditable=true]:not([tabindex="-1"]):focus,
:enabled:not([tabindex="-1"]):focus,
[tabindex]:not([tabindex="-1"]):focus {
  /* You can replace this with whatever style you want for focus state */
  outline: solid 2px #ffa500;
}
/*
 * The above selector will match focusable elements when they are clicked
 * with a mouse.  If you don't want that to happen, use this rule. 
 */
a[href]:not([tabindex="-1"]):hover:focus,
area:not([tabindex="-1"]):hover:focus,
[role="button"]:not([tabindex="-1"]):hover:focus,
[role="link"]:not([tabindex="-1"]):hover:focus,
iframe:not([tabindex="-1"]):hover:focus,
[contentEditable=true]:not([tabindex="-1"]):hover:focus,
:enabled:not([tabindex="-1"]):hover:focus,
[tabindex]:not([tabindex="-1"]):hover:focus {
  outline: solid 2px rgba(255, 165, 0, 0.5);
}
a[href]:not([tabindex="-1"]):focus:active,
area:not([tabindex="-1"]):focus:active,
[role="button"]:not([tabindex="-1"]):focus:active,
[role="link"]:not([tabindex="-1"]):focus:active,
iframe:not([tabindex="-1"]):focus:active,
[contentEditable=true]:not([tabindex="-1"]):focus:active,
:enabled:not([tabindex="-1"]):focus:active,
[tabindex]:not([tabindex="-1"]):focus:active {
  outline: none;
}
*:focus {
  outline: solid 2px orange ;
}
/*
 * Placeholder text should mmet WCAG requirement 1.4.3: Contrast (Minimum) 
 * Level AA
 * 
 * From https://www.w3.org/WAI/tutorials/forms/instructions/
 */
.placeholder-removed {
  opacity: 0.999;
}
[placeholder] {
  background-color: #fff;
  border: solid 1px #777;
}
::-webkit-input-placeholder {
  color: #777;
  opacity: 1;
}
:-moz-placeholder {
  /* Firefox 18- */
  color: #777;
  opacity: 1;
}
::-moz-placeholder {
  /* Firefox 19+ */
  color: #777;
  opacity: 1;
}
:-ms-input-placeholder {
  color: #777;
  opacity: 1;
}
body {
  background: #f0f0f0 url(../images/cream_dust.jpg);
}
main {
  width: 100%;
  max-width: 960px;
  padding: 40px;
  text-shadow: 0 2px 0 rgba(255, 255, 255, 0.7);
}
main p {
  font-size: 16px;
  line-height: 1.4;
  text-align: justify;
}
main p:nth-of-type(2) {
  -moz-column-count: 2;
  -moz-column-gap: 20px;
  -webkit-column-count: 2;
  -webkit-column-gap: 20px;
  -ms-column-count: 2;
  -ms-column-gap: 20px;
  -o-column-count: 2;
  -o-column-gap: 20px;
  column-count: 2;
  column-gap: 20px;
}
main p:nth-of-type(4) {
  -moz-column-count: 3;
  -moz-column-gap: 15px;
  -o-column-count: 3;
  -o-column-gap: 15px;
  -ms-column-count: 3;
  -ms-column-gap: 15px;
  -webkit-column-count: 3;
  -webkit-column-gap: 15px;
  column-count: 3;
  column-gap: 15px;
}
/* DEMO 1 */
main h1,
main [role="heading"][aria-level="1"] {
  margin: 1em 0 0.5em 0;
  color: #343434;
  font-weight: normal;
  font-family: 'Ultra', sans-serif;
  font-size: 36px;
  line-height: 42px;
  text-transform: uppercase;
  text-shadow: 0 2px white, 0 3px #777;
}
main h2,
main h5 [role="heading"][aria-level="2"],
main [role="heading"][aria-level="5"] {
  margin: 1em 0 0.5em 0;
  color: #343434;
  font-weight: normal;
  font-family: 'Orienta', sans-serif;
  border: none;
}
main h2,
main [role="heading"][aria-level="2"] {
  font-size: 33px;
  line-height: 36.36363636px;
}
main h5,
main [role="heading"][aria-level="5"] {
  font-size: 22px;
  line-height: 54.54545455px;
}
main h3,
main h6,
main [role="heading"][aria-level="3"],
main [role="heading"][aria-level="6"] {
  margin: 1em 0 0.5em 0;
  color: #343434;
  font-weight: normal;
  text-transform: uppercase;
  font-family: 'Orienta', sans-serif;
  letter-spacing: 1px;
  font-style: italic;
}
main h3,
main [role="heading"][aria-level="3"] {
  font-size: 30px;
  line-height: 29.33333333px;
}
main h6,
main [role="heading"][aria-level="6"] {
  font-size: 18px;
  line-height: 48.88888889px;
}
main h4,
main [role="heading"][aria-level="7"] {
  margin: 1em 0 0.5em 0;
  color: #343434;
  font-weight: normal;
  font-family: 'Orienta', sans-serif;
}
main h4,
main [role="heading"][aria-level="4"] {
  font-size: 25px;
  line-height: 14.4px;
}
main [role="heading"][aria-level="7"] {
  font-size: 18px;
  line-height: 20px;
}
