__checkbox:focus + __label {
  outline: solid 2px #3b99fc;
}
.sprite {
  display: block;
  overflow: hidden;
  background-repeat: no-repeat;
  float: left;
}
.sprite.card_icons {
  background-image: url("../images/card_icons.png");
  background-size: 88px 83px;
}
.sprite.card_icons.amex {
  width: 43px;
  height: 27px;
  background-position: -44px -29px;
}
.sprite.card_icons.discover {
  width: 43px;
  height: 27px;
  background-position: 0 -57px;
}
.sprite.card_icons.visa {
  width: 44px;
  height: 27px;
  background-position: -45px 0;
}
.sprite.card_icons.master {
  width: 43px;
  height: 27px;
  background-position: 0 -29px;
}
.sprite.card_icons.debit {
  width: 44px;
  height: 28px;
  background-position: 0 0;
}
.decorative-example {
  min-height: 140px;
}
.decorative-example__icon {
  float: left;
  margin-right: 20px;
}
