main {
  color: #2b2929;
  width: 100%;
}
a {
  color: #A76000;
}
.homepage__hero {
  color: #301414;
  min-height: 30vh;
  padding: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 1.2rem;
}
.homepage__hero--heading {
  font-family: "MoniceDemo", Arial, Helvetica, sans-serif;
  font-size: 4rem;
  margin: 30px auto 10px;
  font-weight: normal;
  color: #CF1744;
}
.homepage__hero--heading img {
  width: 12rem;
}
@media only screen and (min-width: 720px) {
  .homepage__hero--heading img {
    width: 18rem;
  }
}
.homepage__hero--copy {
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media only screen and (min-width: 720px) {
  .homepage__hero--copy {
    margin-bottom: 40px;
  }
}
.homepage__hero p {
  max-width: 50rem;
  margin-bottom: -30px;
}
.homepage__hero-link {
  text-decoration: none;
}
.homepage__hero-link:focus,
.homepage__hero-link:hover {
  text-decoration: underline;
}
.homepage__hero-link--main {
  display: inline-block;
  height: 3.125rem;
  line-height: 3.125rem;
  background: #006600;
  color: white;
  padding: 0 20px;
  margin-right: 20px;
}
.homepage__hero-link--secondary {
  display: inline-block;
  white-space: nowrap;
  color: #301414;
  height: 3.125rem;
  line-height: 3.125rem;
}
@media only screen and (min-width: 1px) and (max-width: 719px) {
  .homepage__hero-link--secondary {
    margin-top: 20px;
  }
}
.homepage__hero-link--secondary:after {
  content: "";
  display: inline-block;
  width: 1.25rem;
  height: 1.25rem;
  background: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%20fill%3D%22none%22%20stroke%3D%22%23000%22%20stroke-width%3D%222%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%3E%0A%20%20%20%20%3Cpolyline%20points%3D%2218%2015%2012%209%206%2015%22%2F%3E%0A%3Cscript%20xmlns%3D%22%22%2F%3E%3C%2Fsvg%3E");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 1.25rem 1.25rem;
  filter: invert();
  position: relative;
  filter: none;
  transform: rotate(90deg);
  top: 0.28125rem;
}
.homepage__intro {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
@media only screen and (min-width: 720px) {
  .homepage__intro {
    flex-direction: row;
  }
}
.homepage__intro--section {
  font-size: 16px;
  border-radius: 25px;
  background-color: #f4f7f5;
  margin-bottom: 40px;
  padding: 20px;
  flex-grow: 1;
  width: 100%;
}
.homepage__intro--section p {
  text-align: justify;
}
.homepage__intro--section p a {
  color: #A76000;
}
@media only screen and (min-width: 720px) {
  .homepage__intro--section {
    width: 33%;
  }
  .homepage__intro--section p {
    text-align: center;
  }
}
.homepage__intro--section + .homepage__intro--section {
  background-color: #f4f7f5;
  margin-top: 20px;
}
@media only screen and (min-width: 720px) {
  .homepage__intro--section + .homepage__intro--section {
    margin-left: 2%;
    margin-top: 0;
  }
}
.homepage__intro--section-icon {
  width: 100px;
  height: 100px;
}
.homepage__intro--header {
  font-weight: bold;
  font-size: 1.25rem;
  border: none;
  margin-top: 10px;
  margin-bottom: 20px;
  color: #2b2929;
  text-align: center;
  display: block;
  align-items: center;
}
@media only screen and (min-width: 960px) {
  .homepage__intro--header {
    margin-top: 20px;
    margin-bottom: 30px;
  }
}
.homepage__intro--header::before {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin: 0 auto 30px auto;
  padding: 20px;
  background-size: 40px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-color: #fff;
  flex-shrink: 0;
}
@media only screen and (min-width: 960px) {
  .homepage__intro--header::before {
    width: 50px;
    height: 50px;
  }
}
@media (forced-colors: active) {
  .homepage__intro--header::before {
    filter: invert() brightness(61%) contrast(434%);
  }
}
.homepage__intro--header--code::before {
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2020%2020%22%3E%3Cpath%20d%3D%22M5.719%2014.75a.997.997%200%200%201-.664-.252L-.005%2010l5.341-4.748a1%201%200%200%201%201.328%201.495L3.005%2010l3.378%203.002a1%201%200%200%201-.664%201.748zm8.945-.002L20.005%2010l-5.06-4.498a.999.999%200%201%200-1.328%201.495L16.995%2010l-3.659%203.252a1%201%200%200%200%201.328%201.496zm-4.678%201.417l2-12a1%201%200%201%200-1.972-.329l-2%2012a1%201%200%201%200%201.972.329z%22%20fill%3D%22%23444%22%20style%3D%22border%3A%20solid%201px%20transparent%22%2F%3E%3C%2Fsvg%3E");
}
.homepage__intro--header--existing::before {
  background-image: url("data:image/svg+xml,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22UTF-8%22%20standalone%3D%22no%22%3F%3E%0A%3Csvg%0A%20%20%20width%3D%22531.99628pt%22%0A%20%20%20height%3D%22500.08231pt%22%0A%20%20%20version%3D%221.1%22%0A%20%20%20viewBox%3D%220%200%20531.99628%20500.08231%22%0A%20%20%20id%3D%22svg373%22%0A%20%20%20sodipodi%3Adocname%3D%22integrate.svg%22%0A%20%20%20inkscape%3Aversion%3D%221.1.2%20(b8e25be8%2C%202022-02-05)%22%0A%20%20%20xmlns%3Ainkscape%3D%22http%3A%2F%2Fwww.inkscape.org%2Fnamespaces%2Finkscape%22%0A%20%20%20xmlns%3Asodipodi%3D%22http%3A%2F%2Fsodipodi.sourceforge.net%2FDTD%2Fsodipodi-0.dtd%22%0A%20%20%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%0A%20%20%20xmlns%3Asvg%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%20%20%3Csodipodi%3Anamedview%0A%20%20%20%20%20id%3D%22namedview375%22%0A%20%20%20%20%20pagecolor%3D%22%23ffffff%22%0A%20%20%20%20%20bordercolor%3D%22%23666666%22%0A%20%20%20%20%20borderopacity%3D%221.0%22%0A%20%20%20%20%20inkscape%3Apageshadow%3D%222%22%0A%20%20%20%20%20inkscape%3Apageopacity%3D%220.0%22%0A%20%20%20%20%20inkscape%3Apagecheckerboard%3D%220%22%0A%20%20%20%20%20inkscape%3Adocument-units%3D%22pt%22%0A%20%20%20%20%20showgrid%3D%22false%22%0A%20%20%20%20%20inkscape%3Azoom%3D%220.79607143%22%0A%20%20%20%20%20inkscape%3Acx%3D%22-20.726783%22%0A%20%20%20%20%20inkscape%3Acy%3D%22426.46927%22%0A%20%20%20%20%20inkscape%3Awindow-width%3D%221312%22%0A%20%20%20%20%20inkscape%3Awindow-height%3D%22969%22%0A%20%20%20%20%20inkscape%3Awindow-x%3D%2257%22%0A%20%20%20%20%20inkscape%3Awindow-y%3D%2225%22%0A%20%20%20%20%20inkscape%3Awindow-maximized%3D%220%22%0A%20%20%20%20%20inkscape%3Acurrent-layer%3D%22g371%22%0A%20%20%20%20%20fit-margin-top%3D%220%22%0A%20%20%20%20%20fit-margin-left%3D%220%22%0A%20%20%20%20%20fit-margin-right%3D%220%22%0A%20%20%20%20%20fit-margin-bottom%3D%220%22%20%2F%3E%0A%20%20%0A%20%20%3Cg%0A%20%20%20%20%20id%3D%22g371%22%0A%20%20%20%20%20transform%3D%22translate(-84.0047%2C-29.681)%22%3E%0A%20%20%20%20%3Cpath%0A%20%20%20%20%20%20fill%3D%22%23444%22%0A%20%20%20%20%20%20%20d%3D%22M%20599.2%2C225.68%20H%20560.559%20C%20556.0785%2C210%20549.918%2C194.321%20541.52%2C180.321%20l%2027.441%2C-27.441%20c%206.1602%2C-6.7188%206.1602%2C-17.359%200%2C-24.078%20L%20516.883%2C76.724%20c%20-6.7188%2C-6.7188%20-17.359%2C-6.7188%20-24.078%2C0%20l%20-27.441%2C27.441%20c%20-14%2C-7.8398%20-29.68%2C-14%20-45.922%2C-18.48%20V%2046.482%20c%200%2C-9.5195%20-7.2812%2C-16.801%20-16.801%2C-16.801%20h%20-74.48%20c%20-9.5195%2C0%20-16.801%2C7.2812%20-16.801%2C16.801%20v%2038.641%20c%20-16.238%2C4.4805%20-31.359%2C10.641%20-45.922%2C19.039%20L%20238.559%2C77.283%20c%20-6.7188%2C-6.7188%20-17.359%2C-6.7188%20-24.078%2C0%20l%20-52.078%2C52.078%20c%20-6.1602%2C6.1602%20-6.1602%2C17.359%200%2C24.078%20l%2024.078%2C24.078%20c%204.4805%2C-7.8398%2011.762%2C-14%2020.719%2C-18.48%206.7188%2C-3.3594%2014.559%2C-5.6016%2022.398%2C-5.6016%2011.199%2C0%2022.398%2C3.9219%2031.359%2C10.641%20l%2043.121%2C33.039%20c%2017.359%2C-12.879%2038.078%2C-20.719%2061.039%2C-20.719%2057.121%2C0%20103.6%2C46.48%20103.6%2C103.6%200%2C57.125%20-45.918%2C103.61%20-103.6%2C103.61%20-22.961%2C0%20-44.238%2C-7.8398%20-61.039%2C-20.719%20l%20-43.121%2C33.039%20c%20-8.9609%2C6.7188%20-20.16%2C10.641%20-31.359%2C10.641%20-7.8398%2C0%20-15.68%2C-1.6797%20-22.398%2C-5.0391%20-8.3984%2C-3.9219%20-15.68%2C-10.078%20-20.719%2C-17.922%20l%20-23.52%2C23.52%20c%20-6.7188%2C6.1602%20-6.7188%2C17.359%200%2C24.078%20l%2052.078%2C52.078%20c%206.7188%2C6.7188%2017.359%2C6.7188%2024.078%2C0%20l%2027.441%2C-27.441%20c%2014%2C7.8398%2029.68%2C14%2045.922%2C18.48%20v%2038.641%20c%200%2C9.5195%207.2812%2C16.801%2016.801%2C16.801%20h%2073.922%20c%209.5195%2C0%2016.801%2C-7.2812%2016.801%2C-16.801%20v%20-38.641%20c%2016.238%2C-4.4805%2031.359%2C-10.641%2045.922%2C-19.039%20l%2026.879%2C26.879%20c%206.7188%2C6.7188%2017.359%2C6.7188%2024.078%2C0%20l%2052.078%2C-52.078%20c%206.7188%2C-6.1602%206.7188%2C-17.359%200%2C-24.078%20l%20-27.441%2C-27.441%20c%207.8398%2C-14%2014.559%2C-29.68%2019.039%2C-45.922%20H%20599.2%20c%208.9609%2C0%2016.801%2C-7.2812%2016.801%2C-16.801%20l%20-0.004%2C-73.355%20c%200%2C-8.9609%20-7.8398%2C-16.801%20-16.801%2C-16.801%20z%22%0A%20%20%20%20%20%20%20id%3D%22path289%22%20%2F%3E%0A%20%20%20%20%3Cpath%0A%20%20%20%20%20%20fill%3D%22%23444%22%0A%20%20%20%20%20%20%20d%3D%22m%20214.48%2C355.04%20c%200%2C5.6016%203.3594%2C11.199%208.3984%2C14%205.0391%2C2.8008%2011.762%2C2.2383%2016.238%2C-1.6797%20l%2098%2C-75.039%20c%203.9219%2C-2.8008%206.1602%2C-7.2812%206.1602%2C-12.32%200%2C-5.0388%20-2.2383%2C-9.5195%20-6.1602%2C-12.32%20l%20-97.996%2C-75.039%20c%20-2.8008%2C-2.2383%20-6.1602%2C-3.3594%20-9.5195%2C-3.3594%20-2.2383%2C0%20-4.4805%2C0.55859%20-6.7188%2C1.6797%20-5.0391%2C2.8008%20-8.3984%2C7.8398%20-8.3984%2C14%20v%2034.16%20h%20-117.6%20c%20-6.7188%2C0%20-12.879%2C5.6016%20-12.879%2C12.879%20v%2057.121%20c%200%2C6.7188%205.6016%2C12.879%2012.879%2C12.879%20h%20117.6%20z%22%0A%20%20%20%20%20%20%20id%3D%22path291%22%20%2F%3E%0A%20%20%3C%2Fg%3E%0A%3C%2Fsvg%3E%0A");
}
.homepage__intro--header--npm::before {
  background-image: url("data:image/svg+xml,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22UTF-8%22%3F%3E%0A%3C!DOCTYPE%20svg%20PUBLIC%20%22-%2F%2FW3C%2F%2FDTD%20SVG%201.1%2F%2FEN%22%20%22http%3A%2F%2Fwww.w3.org%2FGraphics%2FSVG%2F1.1%2FDTD%2Fsvg11.dtd%22%3E%0A%3Csvg%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20x%3D%220px%22%20y%3D%220px%22%20width%3D%22540px%22%20height%3D%22210px%22%20viewBox%3D%220%200%2018%207%22%3E%0A%3Cpath%20fill%3D%22%23CB3837%22%20d%3D%22M0%2C0h18v6H9v1H5V6H0V0z%20M1%2C5h2V2h1v3h1V1H1V5z%20M6%2C1v5h2V5h2V1H6z%20M8%2C2h1v2H8V2z%20M11%2C1v4h2V2h1v3h1V2h1v3h1V1H11z%22%2F%3E%0A%3Cpolygon%20fill%3D%22%23FFFFFF%22%20points%3D%221%2C5%203%2C5%203%2C2%204%2C2%204%2C5%205%2C5%205%2C1%201%2C1%20%22%2F%3E%0A%3Cpath%20fill%3D%22%23FFFFFF%22%20d%3D%22M6%2C1v5h2V5h2V1H6z%20M9%2C4H8V2h1V4z%22%2F%3E%0A%3Cpolygon%20fill%3D%22%23FFFFFF%22%20points%3D%2211%2C1%2011%2C5%2013%2C5%2013%2C2%2014%2C2%2014%2C5%2015%2C5%2015%2C2%2016%2C2%2016%2C5%2017%2C5%2017%2C1%20%22%2F%3E%0A%3C%2Fsvg%3E");
}
@media (forced-colors: active) {
  .homepage__intro--header--npm::before {
    background-color: #fff;
    filter: grayscale() invert() contrast(434%);
  }
}
.homepage__intro--header--question::before {
  background-image: url("data:image/svg+xml,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22UTF-8%22%20standalone%3D%22no%22%3F%3E%0A%3Csvg%0A%20%20%20width%3D%22933.33331%22%0A%20%20%20height%3D%22749.33331%22%0A%20%20%20version%3D%221.1%22%0A%20%20%20viewBox%3D%220%200%20700%20562%22%0A%20%20%20id%3D%22svg320%22%0A%20%20%20sodipodi%3Adocname%3D%22question.svg%22%0A%20%20%20inkscape%3Aversion%3D%221.1.2%20(b8e25be8%2C%202022-02-05)%22%0A%20%20%20xmlns%3Ainkscape%3D%22http%3A%2F%2Fwww.inkscape.org%2Fnamespaces%2Finkscape%22%0A%20%20%20xmlns%3Asodipodi%3D%22http%3A%2F%2Fsodipodi.sourceforge.net%2FDTD%2Fsodipodi-0.dtd%22%0A%20%20%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%0A%20%20%20xmlns%3Asvg%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%20%20%3Cdefs%0A%20%20%20%20%20id%3D%22defs324%22%20%2F%3E%0A%20%20%3Csodipodi%3Anamedview%0A%20%20%20%20%20id%3D%22namedview322%22%0A%20%20%20%20%20pagecolor%3D%22%23ffffff%22%0A%20%20%20%20%20bordercolor%3D%22%23666666%22%0A%20%20%20%20%20borderopacity%3D%221.0%22%0A%20%20%20%20%20inkscape%3Apageshadow%3D%222%22%0A%20%20%20%20%20inkscape%3Apageopacity%3D%220.0%22%0A%20%20%20%20%20inkscape%3Apagecheckerboard%3D%220%22%0A%20%20%20%20%20inkscape%3Adocument-units%3D%22pt%22%0A%20%20%20%20%20showgrid%3D%22false%22%0A%20%20%20%20%20units%3D%22px%22%0A%20%20%20%20%20inkscape%3Azoom%3D%220.77035714%22%0A%20%20%20%20%20inkscape%3Acx%3D%2278.535002%22%0A%20%20%20%20%20inkscape%3Acy%3D%22378.39592%22%0A%20%20%20%20%20inkscape%3Awindow-width%3D%221698%22%0A%20%20%20%20%20inkscape%3Awindow-height%3D%22969%22%0A%20%20%20%20%20inkscape%3Awindow-x%3D%220%22%0A%20%20%20%20%20inkscape%3Awindow-y%3D%2225%22%0A%20%20%20%20%20inkscape%3Awindow-maximized%3D%220%22%0A%20%20%20%20%20inkscape%3Acurrent-layer%3D%22svg320%22%20%2F%3E%0A%20%20%3Cg%0A%20%20%20%20%20id%3D%22g318%22%3E%0A%20%20%20%20%3Cpath%0A%20%20%20%20%20%20%20d%3D%22m%20418.13%2C491.87%20c%200%2C37.625%20-30.5%2C68.129%20-68.129%2C68.129%20-37.629%2C0%20-68.129%2C-30.504%20-68.129%2C-68.129%200%2C-37.629%2030.5%2C-68.133%2068.129%2C-68.133%2037.629%2C0%2068.129%2C30.504%2068.129%2C68.133%22%0A%20%20%20%20%20%20%20fill-rule%3D%22evenodd%22%0A%20%20%20%20%20%20%20fill%3D%22%23444%22%0A%20%20%20%20%20%20%20id%3D%22path314%22%20%2F%3E%0A%20%20%20%20%3Cpath%0A%20%20%20%20%20%20%20d%3D%22m%20162.23%2C157.86%206.6484%2C-21.602%20c%2021.602%2C-83.086%2094.719%2C-136.26%20179.46%2C-136.26%20101.36%2C0%20189.44%2C79.762%20189.44%2C182.79%200%2C83.086%20-56.5%2C152.88%20-134.6%2C174.48%20v%2036.559%20h%20-108.01%20v%20-64.809%20c%200%2C-36.559%2026.586%2C-68.129%2063.145%2C-71.453%2039.883%2C-4.9844%2073.117%2C-34.895%2073.117%2C-74.777%200%2C-44.867%20-39.883%2C-74.777%20-83.086%2C-74.777%20-36.559%2C0%20-66.469%2C19.941%20-76.438%2C56.5%20l%20-6.6484%2C21.602%20-103.03%2C-28.25%20z%22%0A%20%20%20%20%20%20%20fill%3D%22%23444%22%0A%20%20%20%20%20%20%20id%3D%22path316%22%20%2F%3E%0A%20%20%3C%2Fg%3E%0A%3C%2Fsvg%3E%0A");
}
.homepage__intro--header--donate:before {
  background-image: url("data:image/svg+xml,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22UTF-8%22%20standalone%3D%22no%22%3F%3E%0A%3Csvg%0A%20%20%20width%3D%22933.33331%22%0A%20%20%20height%3D%22766.33331%22%0A%20%20%20version%3D%221.1%22%0A%20%20%20viewBox%3D%220%200%20700%20574.75%22%0A%20%20%20id%3D%22svg375%22%0A%20%20%20sodipodi%3Adocname%3D%22donate.svg%22%0A%20%20%20inkscape%3Aversion%3D%221.1.2%20(b8e25be8%2C%202022-02-05)%22%0A%20%20%20xmlns%3Ainkscape%3D%22http%3A%2F%2Fwww.inkscape.org%2Fnamespaces%2Finkscape%22%0A%20%20%20xmlns%3Asodipodi%3D%22http%3A%2F%2Fsodipodi.sourceforge.net%2FDTD%2Fsodipodi-0.dtd%22%0A%20%20%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%0A%20%20%20xmlns%3Asvg%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%20%20%3Cdefs%0A%20%20%20%20%20id%3D%22defs379%22%20%2F%3E%0A%20%20%3Csodipodi%3Anamedview%0A%20%20%20%20%20id%3D%22namedview377%22%0A%20%20%20%20%20pagecolor%3D%22%23ffffff%22%0A%20%20%20%20%20bordercolor%3D%22%23666666%22%0A%20%20%20%20%20borderopacity%3D%221.0%22%0A%20%20%20%20%20inkscape%3Apageshadow%3D%222%22%0A%20%20%20%20%20inkscape%3Apageopacity%3D%220.0%22%0A%20%20%20%20%20inkscape%3Apagecheckerboard%3D%220%22%0A%20%20%20%20%20inkscape%3Adocument-units%3D%22pt%22%0A%20%20%20%20%20showgrid%3D%22false%22%0A%20%20%20%20%20units%3D%22px%22%0A%20%20%20%20%20inkscape%3Azoom%3D%220.58392857%22%0A%20%20%20%20%20inkscape%3Acx%3D%22466.66667%22%0A%20%20%20%20%20inkscape%3Acy%3D%22466.66667%22%0A%20%20%20%20%20inkscape%3Awindow-width%3D%221920%22%0A%20%20%20%20%20inkscape%3Awindow-height%3D%221093%22%0A%20%20%20%20%20inkscape%3Awindow-x%3D%220%22%0A%20%20%20%20%20inkscape%3Awindow-y%3D%2225%22%0A%20%20%20%20%20inkscape%3Awindow-maximized%3D%220%22%0A%20%20%20%20%20inkscape%3Acurrent-layer%3D%22svg375%22%0A%20%20%20%20%20height%3D%22766.33331px%22%20%2F%3E%0A%20%20%3Cg%0A%20%20%20%20%20id%3D%22g12%22%0A%20%20%20%20%20transform%3D%22matrix(1.308969%2C0%2C0%2C1.2959839%2C-110.07529%2C-74.501495)%22%3E%0A%20%20%20%20%3Cpath%0A%20%20%20%20%20%20%20d%3D%22m%20450.97%2C330.62%20-19.992%2C8.625%20c%207.5586%2C2.0156%2014.672%2C5.2656%2020.777%2C9.6875%200.95312%2C0.67188%202.3516%2C1.7344%203.9766%2C3.0781%2013.215%2C-5.7109%2023.688%2C-11.031%2032.312%2C-16.465%20-10.309%2C-8.6211%20-24.645%2C-10.75%20-37.074%2C-4.9258%20z%22%0A%20%20%20%20%20%20%20id%3D%22path2%22%20fill%3D%22%23444%22%20%2F%3E%0A%20%20%20%20%3Cpath%0A%20%20%20%20%20%20%20d%3D%22m%20470.18%2C373.3%20c%200.11328%2C0.67188%200.11328%2C1.1758%200.16797%2C1.8477%2022.625%2C-6.4961%2042.785%2C-16.52%2060.145%2C-29.793%20-2.2383%2C-2.8008%20-5.9922%2C-6.4961%20-11.762%2C-8.625%20-11.031%2C-3.8633%20-21.055%2C1.457%20-22.902%2C2.5195%20l%20-0.11328%2C0.11328%20c%20-9.1289%2C6.1055%20-20.273%2C11.93%20-34.441%2C18.145%203.5859%2C3.9766%207.0586%2C9.1836%208.9062%2C15.793%20z%22%0A%20%20%20%20%20%20%20id%3D%22path4%22%20fill%3D%22%23444%22%20%2F%3E%0A%20%20%20%20%3Cpath%0A%20%20%20%20%20%20%20d%3D%22m%20430.81%2C432.88%20c%2096.602%2C-23.07%20132.5%2C-56.672%20134.85%2C-69.383%200.39062%2C-2.1289%201.5664%2C-8.8477%20-1.8477%2C-13.105%20-3.9766%2C-5.0391%20-12.824%2C-4.8711%20-14.559%2C-4.8711%20-5.4336%2C0.28125%20-9.6875%2C2.4062%20-11.762%2C3.8086%20-19.207%2C15.23%20-41.887%2C26.488%20-67.312%2C33.488%20-0.11328%2C0.28125%20-0.11328%2C0.67188%20-0.16797%2C0.95312%20-4.0898%2C7.9531%20-16.406%2C8.0625%20-23.016%2C8.1758%20l%20-16.297%2C0.0547%20c%20-18.031%2C0.16797%20-43.062%2C0.39062%20-73.527%2C0.67188%20-2.0156%2C0%20-3.6953%2C-1.625%20-3.6953%2C-3.5859%200%2C-2.0156%201.5664%2C-3.6953%203.5859%2C-3.6953%2030.465%2C-0.28125%2055.609%2C-0.50391%2073.641%2C-0.67188%20l%2016.184%2C-0.11328%20c%203.9766%2C-0.11328%2014.559%2C-0.16797%2016.465%2C-4.1445%200.16797%2C-0.28125%200.78516%2C-1.457%20-0.28125%2C-5.2656%20-1.8477%2C-6.8867%20-6.2148%2C-12.207%20-9.9102%2C-15.734%20-0.28125%2C-0.16797%20-0.50391%2C-0.50391%20-0.78516%2C-0.67188%20-2.0156%2C-1.8477%20-3.8633%2C-3.1914%20-4.9297%2C-3.9766%20-10.191%2C-7.3906%20-21.055%2C-9.8008%20-28.504%2C-10.586%20-23.688%2C3.3047%20-48.215%2C4.2578%20-72.855%2C2.8008%20-12.434%2C-0.89453%20-23.969%2C-2.0156%20-35.113%2C-3.8633%20-2.9102%2C-0.50391%20-5.7109%2C-0.78516%20-8.5117%2C-1.0625%20-36.68%2C-2.9102%20-73.359%2C15.512%20-95.648%2C48.105%20l%20-5.7109%2C8.457%20c%2031.137%2C11.816%2059.754%2C28.727%2085.344%2C50.344%2049.391%2C0.33594%2097.887%2C-5.0977%20144.37%2C-16.129%20z%22%0A%20%20%20%20%20%20%20id%3D%22path6%22%20fill%3D%22%23444%22%20%2F%3E%0A%20%20%20%20%3Cpath%0A%20%20%20%20%20%20%20d%3D%22M%20297.02%2C468.38%20C%20262.188%2C434.501%20220.973%2C410.646%20174.61%2C397.372%20l%20-40.77%2C101.75%20h%20153.83%20z%22%0A%20%20%20%20%20%20%20id%3D%22path8%22%20fill%3D%22%23444%22%20%2F%3E%0A%20%20%20%20%3Cpath%0A%20%20%20%20%20%20%20d%3D%22m%20349.11%2C317.97%2096.938%2C-96.938%20c%2056.336%2C-54.824%2045.695%2C-100.91%2038.527%2C-118.16%20-10.754%2C-25.594%20-35.391%2C-42.895%20-60.93%2C-42%20-30.238%2C0.55859%20-56.168%2C24.137%20-71.121%2C64.512%20l%20-3.4141%2C9.2383%20-3.4141%2C-9.2383%20c%20-14.953%2C-40.375%20-40.824%2C-63.953%20-71.121%2C-64.512%20h%20-1.1758%20c%20-25.312%2C0%20-49.168%2C16.801%20-59.754%2C42%20-7.168%2C17.246%20-17.863%2C63.336%2038.527%2C118.05%20z%22%0A%20%20%20%20%20%20%20id%3D%22path10%22%20fill%3D%22%23444%22%20%2F%3E%0A%20%20%3C%2Fg%3E%0A%3C%2Fsvg%3E%0A");
}
.homepage__intro--header--bug:before {
  background-image: url("data:image/svg+xml,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22UTF-8%22%20standalone%3D%22no%22%3F%3E%0A%3Csvg%0A%20%20%20width%3D%22933.33331%22%0A%20%20%20height%3D%22766.33331%22%0A%20%20%20version%3D%221.1%22%0A%20%20%20viewBox%3D%220%200%20700%20574.75%22%0A%20%20%20id%3D%22svg375%22%0A%20%20%20sodipodi%3Adocname%3D%22bug.svg%22%0A%20%20%20inkscape%3Aversion%3D%221.1.2%20(b8e25be8%2C%202022-02-05)%22%0A%20%20%20xmlns%3Ainkscape%3D%22http%3A%2F%2Fwww.inkscape.org%2Fnamespaces%2Finkscape%22%0A%20%20%20xmlns%3Asodipodi%3D%22http%3A%2F%2Fsodipodi.sourceforge.net%2FDTD%2Fsodipodi-0.dtd%22%0A%20%20%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%0A%20%20%20xmlns%3Asvg%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%20%20%3Cdefs%0A%20%20%20%20%20id%3D%22defs379%22%20%2F%3E%0A%20%20%3Csodipodi%3Anamedview%0A%20%20%20%20%20id%3D%22namedview377%22%0A%20%20%20%20%20pagecolor%3D%22%23ffffff%22%0A%20%20%20%20%20bordercolor%3D%22%23666666%22%0A%20%20%20%20%20borderopacity%3D%221.0%22%0A%20%20%20%20%20inkscape%3Apageshadow%3D%222%22%0A%20%20%20%20%20inkscape%3Apageopacity%3D%220.0%22%0A%20%20%20%20%20inkscape%3Apagecheckerboard%3D%220%22%0A%20%20%20%20%20inkscape%3Adocument-units%3D%22pt%22%0A%20%20%20%20%20showgrid%3D%22false%22%0A%20%20%20%20%20units%3D%22px%22%0A%20%20%20%20%20inkscape%3Azoom%3D%220.58392857%22%0A%20%20%20%20%20inkscape%3Acx%3D%22466.66667%22%0A%20%20%20%20%20inkscape%3Acy%3D%22466.66667%22%0A%20%20%20%20%20inkscape%3Awindow-width%3D%221920%22%0A%20%20%20%20%20inkscape%3Awindow-height%3D%221093%22%0A%20%20%20%20%20inkscape%3Awindow-x%3D%2245%22%0A%20%20%20%20%20inkscape%3Awindow-y%3D%2262%22%0A%20%20%20%20%20inkscape%3Awindow-maximized%3D%220%22%0A%20%20%20%20%20inkscape%3Acurrent-layer%3D%22svg375%22%0A%20%20%20%20%20height%3D%22766.33331px%22%20%2F%3E%0A%20%20%3Cg%0A%20%20%20%20%20id%3D%22g373%22%3E%0A%20%20%20%20%3Cpath%0A%20%20%20%20%20%20%20d%3D%22m%20452.68%2C102.65%20c%200%2C2.0156%20-0.0547%2C4.0312%20-0.16797%2C5.9922%20-66.785%2C-20.609%20-138.23%2C-20.609%20-205.02%2C0%20-0.11328%2C-1.9609%20-0.16797%2C-3.9766%20-0.16797%2C-5.9922%200.0781%2C-36.633%2019.664%2C-70.449%2051.398%2C-88.742%2031.738%2C-18.293%2070.816%2C-18.293%20102.55%2C0%2031.734%2C18.293%2051.324%2C52.109%2051.398%2C88.742%20z%22%0A%20%20%20%20%20%20%20id%3D%22path369%22%20fill%3D%22%23444%22%20%2F%3E%0A%20%20%20%20%3Cpath%0A%20%20%20%20%20%20%20d%3D%22m%20617.4%2C297.41%20c%20-6.9766%2C-6.6953%20-14.633%2C-12.645%20-22.848%2C-17.75%20-26.543%2C-15.902%20-50.512%2C-12.207%20-72.352%2C-4.0898%20v%20-82.934%20c%2019.207%2C-10.191%2037.855%2C-23.969%2045.023%2C-52.414%201.5664%2C-6.2734%202.6328%2C-12.656%203.6406%2C-18.871%20v%20-0.004%20c%200.96094%2C-10.109%203.6523%2C-19.977%207.9531%2C-29.175997%201.5898%2C-2.6992%202.4414%2C-5.7695%202.4648%2C-8.9023%20-0.0273%2C-4.875%20-2.1641%2C-9.4961%20-5.8633%2C-12.664%20-3.6992%2C-3.1719%20-8.5938%2C-4.5781%20-13.414%2C-3.8555%20-4.8164%2C0.71875%20-9.082%2C3.5%20-11.691%2C7.6133%20-6.8359%2C12.934%20-11.113%2C27.058997%20-12.602%2C41.608997%20-0.95313%2C5.7109%20-1.8477%2C11.145%20-3.0781%2C16.07%20-2.9688%2C11.836%20-10.941%2C21.793%20-21.84%2C27.273%20-49.484%2C-28.641%20-105.65%2C-43.723%20-162.82%2C-43.723%20-57.176%2C0%20-113.34%2C15.082%20-162.82%2C43.723%20-10.871%2C-5.5039%20-18.82%2C-15.453%20-21.785%2C-27.273%20-1.2305%2C-4.9297%20-2.1289%2C-10.359%20-3.0781%2C-16.07%20-1.4883%2C-14.551%20-5.7695%2C-28.675997%20-12.602%2C-41.608997%20-2.9688%2C-4.9141%20-8.3125%2C-7.8984%20-14.055%2C-7.8398%20-4.0195%2C-0.01172%20-7.9102%2C1.4062%20-10.973%2C4.0078%20-3.0625%2C2.6016%20-5.0977%2C6.2109%20-5.7344%2C10.18%20-0.6367%2C3.9691%200.16406%2C8.0312%202.2578%2C11.461%204.3008%2C9.199197%206.9922%2C19.065997%207.9531%2C29.175997%201.0078%2C6.2148%202.0703%2C12.602%203.6406%2C18.871%207.168%2C28.449%2025.816%2C42.223%2045.023%2C52.414%20v%2082.938%20c%20-21.84%2C-8.1211%20-45.809%2C-11.816%20-72.297%2C4.0898%20-8.2422%2C5.0898%20-15.918%2C11.043%20-22.902%2C17.75%20-3.3086%2C3.0273%20-5.2695%2C7.25%20-5.4492%2C11.727%20-0.17578%2C4.4805%201.4414%2C8.8438%204.4961%2C12.121%203.0547%2C3.2812%207.2969%2C5.2031%2011.773%2C5.3438%204.4805%2C0.13672%208.832%2C-1.5195%2012.082%2C-4.6055%205.2695%2C-5.1055%2011.07%2C-9.6289%2017.305%2C-13.496%2017.754%2C-10.695%2032.145%2C-6.7773%2055.273%2C3.5859%200.30078%2C32.176%205.0508%2C64.156%2014.109%2C95.031%20-0.33594%2C0.16797%20-0.73047%2C0.33594%20-1.0625%2C0.50391%20-23.184%2C11.199%20-49.504%2C23.969%20-58.352%2C59.023%20-1.5664%2C6.3281%20-2.6328%2C12.711%20-3.6406%2C18.871%20-0.95312%2C10.129%20-3.6445%2C20.016%20-7.9531%2C29.234%20-2.0938%2C3.4258%20-2.8945%2C7.4922%20-2.2578%2C11.461%200.63672%2C3.9648%202.6719%2C7.5742%205.7344%2C10.176%203.0625%2C2.6018%206.9531%2C4.0234%2010.973%2C4.0078%205.7578%2C0.0625%2011.113%2C-2.9453%2014.055%2C-7.8945%206.8281%2C-12.914%2011.105%2C-27.02%2012.602%2C-41.551%200.95313%2C-5.7695%201.8477%2C-11.199%203.0781%2C-16.07%204.7031%2C-18.816%2017.582%2C-25.93%2039.816%2C-36.734%2020.945%2C38.977%2051.129%2C56.336%2080.754%2C73.305%20v%20-0.004%20c%2018.98%2C9.7969%2036.543%2C22.137%2052.191%2C36.68%20l%2011.871%2C11.871%2011.871%2C-11.871%20c%2015.648%2C-14.543%2033.211%2C-26.883%2052.191%2C-36.68%2029.625%2C-16.969%2059.809%2C-34.328%2080.754%2C-73.305%2022.234%2C10.809%2035.113%2C17.922%2039.816%2C36.734%201.2305%2C4.8711%202.1289%2C10.305%203.0781%2C16.07%20v%200.004%20c%201.5%2C14.527%205.7773%2C28.637%2012.602%2C41.551%202.9492%2C4.7617%208.0898%2C7.7305%2013.691%2C7.8984%205.5977%2C0.16797%2010.91%2C-2.4805%2014.141%2C-7.0586%201.9062%2C-2.6992%202.9883%2C-5.8945%203.1094%2C-9.1953%200.11719%2C-3.3008%20-0.73047%2C-6.5664%20-2.4375%2C-9.3945%20-4.3008%2C-9.1992%20-6.9922%2C-19.07%20-7.9531%2C-29.18%20-1.0078%2C-6.2148%20-2.0703%2C-12.602%20-3.6406%2C-18.93%20-8.8477%2C-35.051%20-35.168%2C-47.82%20-58.406%2C-59.02%20L%20507.807%2C407.116%20c%209.0586%2C-30.875%2013.809%2C-62.855%2014.113%2C-95.031%2023.129%2C-10.305%2037.52%2C-14.281%2055.273%2C-3.5859%20h%20-0.004%20c%206.2344%2C3.8672%2012.035%2C8.3906%2017.305%2C13.496%203.25%2C3.0859%207.6016%2C4.7461%2012.082%2C4.6094%204.4844%2C-0.13672%208.7227%2C-2.0586%2011.781%2C-5.3398%203.0547%2C-3.2812%204.6719%2C-7.6445%204.4922%2C-12.125%20-0.17969%2C-4.4805%20-2.1406%2C-8.7031%20-5.4531%2C-11.73%20z%20m%20-202.66%2C56.844%20c%204.2383%2C4.2383%205.8945%2C10.422%204.3438%2C16.215%20-1.5508%2C5.793%20-6.0781%2C10.32%20-11.871%2C11.871%20-5.7969%2C1.5547%20-11.977%2C-0.10156%20-16.219%2C-4.3438%20l%20-40.992%2C-40.992%20-40.992%2C40.992%20c%20-4.2422%2C4.2422%20-10.422%2C5.8984%20-16.219%2C4.3438%20-5.793%2C-1.5508%20-10.32%2C-6.0781%20-11.871%2C-11.871%20-1.5508%2C-5.793%200.10547%2C-11.977%204.3438%2C-16.215%20l%2040.996%2C-40.992%20-40.992%2C-40.992%20h%20-0.004%20c%20-4.2383%2C-4.2422%20-5.8945%2C-10.426%20-4.3438%2C-16.219%201.5508%2C-5.793%206.0781%2C-10.32%2011.871%2C-11.871%205.7969%2C-1.5547%2011.977%2C0.10156%2016.219%2C4.3438%20l%2040.992%2C40.992%2040.992%2C-40.992%20c%204.2422%2C-4.2422%2010.422%2C-5.8984%2016.219%2C-4.3438%205.793%2C1.5508%2010.32%2C6.0781%2011.871%2C11.871%201.5508%2C5.793%20-0.10547%2C11.977%20-4.3438%2C16.219%20l%20-40.996%2C40.992%20z%22%0A%20%20%20%20%20%20%20id%3D%22path371%22%20fill%3D%22%23444%22%20%2F%3E%0A%20%20%3C%2Fg%3E%0A%3C%2Fsvg%3E%0A");
}
.homepage__intro a {
  color: #CF1744;
  border-bottom: 3px solid;
  text-decoration: none;
}
.homepage__bottom-copy {
  background: #CF1744;
  color: #fff;
  line-height: 1.5;
  padding: 20px;
  text-align: center;
}
@media only screen and (min-width: 960px) {
  .homepage__bottom-copy {
    padding: 20px calc((100% - 1024px) / 2 + 20px);
    padding-bottom: 60px;
  }
}
.homepage__bottom-copy--heading {
  font-weight: bold;
  font-size: 1.8rem;
  color: #fff;
  display: inline-flex;
  align-items: stretch;
  margin-bottom: 0px;
}
@media only screen and (min-width: 720px) {
  .homepage__bottom-copy--heading {
    font-size: 2.375rem;
  }
}
.homepage__bottom-copy--heading::before {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}
.homepage__bottom-copy.background-secondary {
  background: #f4f7f5;
}
.homepage__bottom-copy.background-secondary p {
  color: #17183B;
}
.homepage__bottom-copy.background-tertiary {
  background: #17183B;
}
.homepage__bottom-copy.background-tertiary a {
  color: #FF9F1C;
}
.background-secondary .homepage__bottom-copy--heading {
  color: #17183B;
}
.homepage__bottom-copy ul {
  margin: 0;
  padding: 0;
}
@media only screen and (min-width: 720px) {
  .homepage__bottom-copy ul {
    column-count: 2;
    column-gap: 13px;
  }
}
.homepage__bottom-copy ul li {
  margin-bottom: 20px;
  background-color: #fff;
  border-radius: 25px;
  padding: 20px;
  list-style-type: none;
  color: #2b2929;
}
/*# sourceMappingURL=index.css.map */