.font-heading-3 {
  font-family: "OpenSans", "Helvetica", "Arial", sans-serif;
  font-weight: bold;
  padding-top: 20px;
  font-size: 1.25rem;
  border-bottom: double 3px #000;
}
.input-mask-example__field-seperator {
  margin-bottom: 1.875rem;
}
.input-mask-example .usa-label {
  font-weight: bold;
  margin-top: 1.25rem;
  display: inline-block;
}
.input-mask-example .usa-input {
  margin-top: 0;
}
.input-mask-example #cc {
  max-width: calc(30rem - 200px);
}
