.example__field-seperator {
  margin-bottom: 1.875rem;
}
.example .label {
  font-weight: bold;
  margin-top: 1.25rem;
  display: inline-block;
}
.example input {
  font-size: 20 / 16rem;
}
.example #cc {
  max-width: calc(30rem - 200px);
}
