.font-heading-3 {
  font-family: "OpenSans", "Helvetica", "Arial", sans-serif;
  font-weight: bold;
  padding-top: 20px;
  font-size: 1.25rem;
  border-bottom: double 3px #000;
}
[role="link"] {
  color: blue;
  text-decoration: underline;
  cursor: pointer;
}
a[target="_blank"] {
  color: #00f;
}
a[target="_blank"]:visited {
  color: #009;
}
a[target="_blank"] .new-window-icon {
  height: 0.75rem;
  display: inline;
}
a[target="_blank"] .new-window-icon-dark {
  height: 0.75rem;
  display: none;
}
@media (prefers-color-scheme: dark) {
  a[target="_blank"] {
    color: #a8c7fa;
  }
  a[target="_blank"]:visited {
    color: #4593f8;
  }
  a[target="_blank"] .new-window-icon {
    display: none;
  }
  a[target="_blank"] .new-window-icon-dark {
    display: inline;
  }
}
nav.breadcrumb {
  padding: 0.8em 1em;
  border: 1px solid hsl(0deg 0% 90%);
  border-radius: 4px;
  background: hsl(300deg 14% 97%);
}
nav.breadcrumb ol {
  margin: 0;
  padding-left: 0;
  list-style: none;
}
nav.breadcrumb li {
  display: inline;
}
nav.breadcrumb li + li::before {
  display: inline-block;
  margin: 0 0.25em;
  transform: rotate(15deg);
  border-right: 0.1em solid currentColor;
  height: 0.8em;
  content: "";
}
nav.breadcrumb [aria-current="page"] {
  color: #000;
  font-weight: 700;
  text-decoration: none;
}
