/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
body {
  font-family: "Helvetica", "Arial", sans-serif;
  line-height: 1.1;
  color: #444;
}
strong {
  font-weight: bold;
}
ul {
  list-style: initial;
}
ol {
  list-style: decimal;
}
h1 {
  font-weight: bold;
  font-size: 2rem;
}
h2 {
  font-weight: bold;
  font-size: 1.5rem;
  border-bottom: solid 1px #999999;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
h3 {
  font-weight: bold;
  font-size: 20px;
  margin-top: 45px;
}
ul,
ol {
  padding-left: 3rem;
}
ul {
  list-style: disc;
}
ul,
p {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
.example h1 {
  text-align: center;
}
.example main {
  max-width: 1024px;
  margin: 0 auto;
}
.example .example-nav {
  text-align: center;
}
.example .example-nav ul li {
  display: inline-block;
  list-style: none;
}
.example .notes {
  border: dashed #9c6f39 3px;
  padding: 1em;
  background-color: #ffffee;
  margin: 2em auto;
  max-width: calc(1024px - 2em);
}
.example .notes h2 {
  margin: 0;
  border-bottom: none;
}
input,
select {
  font-size: 1em;
}
.enable-example {
  padding: 1em;
  border: solid 1px black;
  margin: 3em 0;
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
.mobile {
  display: none !important;
}
@media only screen and (min-width: 1px) and (max-width: 719px) {
  .mobile {
    display: inherit !important;
  }
}
.tablet {
  display: none  !important;
}
@media only screen and (min-width: 720px) and (max-width: 959px) {
  .tablet {
    display: inherit !important;
  }
}
.desktop {
  display: none  !important;
}
@media only screen and (min-width: 960px) {
  .desktop {
    display: inherit !important;
  }
}
.mobile-and-tablet {
  display: none  !important;
}
@media only screen and (min-width: 1px) and (max-width: 959px) {
  .mobile-and-tablet {
    display: inherit !important;
  }
}
/*********************************************************
 * a11y.css - a stylesheet to help create 
 * accessible websites.
 * 
 * by Zoltan Hawryluk (zoltan.dulac@gmail.com)
 * Licensed under the MIT License
 * 
 * https://opensource.org/licenses/MIT
 ********************************************************/
.sr-only {
  clip: rect(1px 1px 1px 1px);
  /* IE 6/7 */
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  margin: -1px;
}
/*
 * For `.sr-only` elements that should be visible when it gains focus. 
 */
.visible-when-focused:focus {
  clip: auto;
  height: auto;
  overflow: visible;
  position: static;
  white-space: normal;
  width: auto;
  margin: auto;
}
/*
 * Style for "Skip Navigation" type links.  Should have an href linked to 
 * a `.ally-target` element.
 */
.bypass-block-link:focus {
  position: absolute;
  text-decoration: none;
  background: #ffffcc;
  padding: 0.2em;
  z-index: 10;
}
/*
 * We don't want the `.bypass-block-target` to have an outline on *just* focus,
 * since this will look strange if regular users click inside this element,
 * since it will look like it was tabbed into
 */
.bypass-block-target:focus {
  outline: none;
}
/*
 * We do, however, want the `.bypass-block-target` to have an outline when
 * it has focus and it is the target of the document (i.e. the hash tag of the
 * document URL is the same as the "Skip Nav" link).
 * 
 * Note that this style is the same as the focus state on all the tabbable 
 * elements.  It doesn't have to be.  WCAG 2.4.7 – Focus Visible (Level AA) 
 * only requires that the focus state is visible, so you can have, say, the 
 * focus state of a button different than that of a form element. 
 */
.bypass-block-target:focus:target {
  outline: solid 2px #3b99fc;
}
*:focus {
  /* Outline focus state for all browsers */
  outline: solid 2px #3b99fc;
}
*:focus:not(:focus-visible) {
  /* Undo all the above focused button styles
      if the element has focus but the browser wouldn't normally
      show default focus styles */
  outline: solid 2px #3b99fc;
}
*:focus-visible {
  /* Put the focus CSS back in if the browser would normally show default focus style */
  outline: solid 2px #3b99fc;
}
/*
 * Placeholder text should mmet WCAG requirement 1.4.3: Contrast (Minimum) 
 * Level AA
 * 
 * From https://www.w3.org/WAI/tutorials/forms/instructions/
 */
.placeholder-removed {
  opacity: 0.999;
}
[placeholder] {
  background-color: #fff;
  border: solid 1px #777;
}
::-webkit-input-placeholder {
  color: #777;
  opacity: 1;
}
:-moz-placeholder {
  /* Firefox 18- */
  color: #777;
  opacity: 1;
}
::-moz-placeholder {
  /* Firefox 19+ */
  color: #777;
  opacity: 1;
}
:-ms-input-placeholder {
  color: #777;
  opacity: 1;
}
input[type="submit"] {
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0;
  padding-bottom: 0;
}
input[type="submit"] {
  margin-bottom: 1em;
}
.form-heading {
  font-weight: bold;
  font-size: 1rem;
  margin-top: 30px;
  margin-bottom: -10px;
  border-bottom: 2px black solid;
}
fieldset,
.fieldset,
[role="radiogroup"] {
  padding: 0.5em;
  margin-top: 1em;
  padding-top: 2em;
  background-color: #eeeeee;
}
fieldset legend,
.fieldset legend,
[role="radiogroup"] legend,
fieldset .legend,
.fieldset .legend,
[role="radiogroup"] .legend {
  position: relative;
  top: 1.5em;
  border-color: #aaaaaa;
  font-weight: bold;
  font-size: 1em;
}
fieldset .legend,
.fieldset .legend,
[role="radiogroup"] .legend {
  top: -1.5em;
  margin-bottom: -1em;
}
.annotate {
  font-style: italic;
  color: #366ED4;
}
.listbox-area {
  padding: 20px;
  background: #eee;
  border: 1px solid #aaa;
  font-size: 0px;
}
.left-area,
.right-area {
  box-sizing: border-box;
  display: inline-block;
  font-size: 14px;
  vertical-align: top;
  width: 50%;
}
.left-area {
  padding-right: 10px;
}
.right-area {
  padding-left: 10px;
}
[role="listbox"] {
  min-height: 18em;
  padding: 0px;
  background: white;
  border: 1px solid #aaa;
}
[role="option"] {
  display: block;
  padding: 0 1em;
  position: relative;
  line-height: 1.8em;
}
[role="option"].focused {
  background: #bde4ff;
}
[role="option"][aria-selected] {
  padding-left: 1.5em;
}
[role="option"][aria-selected="true"]::before {
  content: 'âœ“';
  position: absolute;
  left: 0.5em;
}
button {
  font-size: 16px;
}
button[aria-disabled="true"] {
  opacity: 0.5;
}
.move-right-btn {
  padding-right: 20px;
  position: relative;
}
.move-right-btn::after {
  content: ' ';
  height: 10px;
  width: 12px;
  background-image: url('../imgs/Arrows-Right-icon.png');
  background-position: center right;
  position: absolute;
  right: 2px;
  top: 6px;
}
.move-left-btn {
  padding-left: 20px;
  position: relative;
}
.move-left-btn::after {
  content: ' ';
  height: 10px;
  width: 12px;
  background-image: url('../imgs/Arrows-Left-icon.png');
  background-position: center left;
  position: absolute;
  left: 2px;
  top: 6px;
}
#ss_elem_list {
  max-height: 18em;
  overflow-y: auto;
  position: relative;
}
#exp_button {
  border-radius: 0;
  font-size: 16px;
  text-align: left;
  padding: 5px 10px;
  width: 150px;
  position: relative;
}
#exp_button::after {
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 8px solid #aaa;
  content: " ";
  position: absolute;
  right: 5px;
  top: 10px;
}
#exp_button[aria-expanded="true"]::after {
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 0;
  border-bottom: 8px solid #aaa;
  content: " ";
  position: absolute;
  right: 5px;
  top: 10px;
}
#exp_elem_list {
  border-top: 0;
  max-height: 10em;
  overflow-y: auto;
  position: absolute;
  margin: 0;
  width: 148px;
}
.hidden {
  display: none;
}
.toolbar {
  font-size: 0;
}
.toolbar-item {
  border: 1px solid #aaa;
  background: #ccc;
}
.toolbar-item[aria-disabled="false"]:focus {
  background-color: #eee;
}
.offscreen {
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  font-size: 14px;
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
