:root {
  --focus-color: #097efb;
  --focus-color-dark-bg: #3b99fc;
}
@media (prefers-color-scheme: dark) {
  :root {
    --focus-color: #3b99fc;
    --focus-color-dark-bg: #097efb;
  }
}
[role="log"] {
  background: black;
  color: #090;
  font-family: ModeSeven;
  padding: 1em;
  height: 183px;
  overflow: auto;
  white-space: break-spaces;
}
