.font-heading-3 {
  font-family: "OpenSans", "Helvetica", "Arial", sans-serif;
  font-weight: bold;
  padding-top: 20px;
  font-size: 1.25rem;
  border-bottom: double 3px #000;
}
[role="log"] {
  background: black;
  color: #090;
  font-family: ModeSeven;
  padding: 1em;
  height: 183px;
  overflow: auto;
  white-space: break-spaces;
}
