:root {
  --focus-color: #097efb;
  --focus-color-dark-bg: #3b99fc;
}
@media (prefers-color-scheme: dark) {
  :root {
    --focus-color: #3b99fc;
    --focus-color-dark-bg: #097efb;
  }
}
[role="marquee"] {
  background: black;
  color: white;
  text-align: center;
  padding: 10px;
}
[role="marquee"] a {
  color: white;
}
