.meter-container {
  align-items: center;
  column-gap: 10px;
  display: grid;
  grid-template-columns: 1fr auto;
  justify-content: space-between;
  text-wrap: nowrap;
  width: min-content;
}

.enable-custom-meter {
  background: #EFEFEF;
  border: 1px solid #E4E4E4;
  border-radius: 1em;
  block-size: 0.5em;
  display: block;
  width: 80px;
}

.enable-custom-meter:before {
  background: var(--meter-color);
  content: "";
  display: block;
  height: 100%;
  width: var(--meter-percentage);
}