.font-heading-3 {
  font-family: "OpenSans", "Helvetica", "Arial", sans-serif;
  font-weight: bold;
  padding-top: 20px;
  font-size: 1.25rem;
  border-bottom: double 3px #000;
}
.container {
  align-items: center;
  column-gap: 10px;
  display: grid;
  grid-template-columns: 1fr auto;
  justify-content: space-between;
  text-wrap: nowrap;
  width: fit-content;
}
.enable-custom-meter {
  background: #EFEFEF;
  border: 1px solid #E4E4E4;
  border-radius: 1em;
  block-size: 1em;
  display: block;
  width: 120px;
  /* Hides ::-webkit-meter-bar for cross browser consistency with Safari */
  /* Styles and attribute selectors for :before must also be applied to ::moz-meter-bar to support Firefox */
}
.enable-custom-meter:before {
  border-radius: 1em;
  content: "";
  display: block;
  height: 100%;
  width: var(--meter-percentage);
}
.enable-custom-meter[meter-state="positive"]:before {
  background: #387a26;
}
.enable-custom-meter[meter-state="neutral"]:before {
  background: #f4bc41;
}
.enable-custom-meter[meter-state="negative"]:before {
  background: #c74821;
}
.enable-custom-meter::-webkit-meter-bar {
  display: none;
}
.enable-custom-meter::-moz-meter-bar {
  border-radius: 1em;
  content: "";
  display: block;
  height: 100%;
  width: var(--meter-percentage);
}
.enable-custom-meter[meter-state="positive"]::-moz-meter-bar {
  background: #387a26;
}
.enable-custom-meter[meter-state="neutral"]::-moz-meter-bar {
  background: #f4bc41;
}
.enable-custom-meter[meter-state="negative"]::-moz-meter-bar {
  background: #c74821;
}
