/*
 * Class for elements that are only visible to the screen reader. From
 * https://www.paciellogroup.com/blog/2012/05/html5-accessibility-chops-hidden-and-aria-hidden/
 */
/*
 * Example 2: more graphical
 */
/* All HTML5 progress enabled browsers */
.uam {
  /* Turns off styling - not usually needed, but good to know. */
  -webkit-appearance: none;
  -khtml-appearance: none;
  -ms-appearance: none;
  -moz-appearance: none;
  appearance: none;
  /* Apply border. */
  border: inset 3px;
  /* Dimensions */
  width: 242px;
  height: 45px;
}
progress.uam {
  /*
    * Background of the progress bar background
    */
  /* Firefox and Polyfill */
  background: url("../images/example2BW.png") #cccccc;
  /* Chrome */
  /*
    * Background of the progress bar value
    */
  /* Firefox */
  /* Chrome */
}
progress.uam::-webkit-progress-bar {
  background: url("../images/example2BW.png") #cccccc;
}
progress.uam::-moz-progress-bar {
  background: url("../images/example2Color.png") #8f6534;
}
progress.uam::-webkit-progress-value {
  background: url("../images/example2Color.png") #8f6534;
}
.uam[role="progressbar"] {
  background: url("../images/example2BW.png") #cccccc;
  /* Polyfill */
  /* Polyfill */
}
.uam[role="progressbar"]:after {
  background-image: none;
  /* removes default background from polyfill */
}
.uam[role="progressbar"] strong {
  display: none;
}
.uam[role="progressbar"][aria-valuenow]:before {
  content: "";
  display: block;
  height: 100%;
  background: url("../images/example2Color.png") #8f6534;
}
.uam[role="progressbar"][aria-valuenow="0"]:before {
  width: 0%;
}
.uam[role="progressbar"][aria-valuenow="10"]:before {
  width: 10%;
}
.uam[role="progressbar"][aria-valuenow="20"]:before {
  width: 20%;
}
.uam[role="progressbar"][aria-valuenow="30"]:before {
  width: 30%;
}
.uam[role="progressbar"][aria-valuenow="40"]:before {
  width: 40%;
}
.uam[role="progressbar"][aria-valuenow="50"]:before {
  width: 50%;
}
.uam[role="progressbar"][aria-valuenow="60"]:before {
  width: 60%;
}
.uam[role="progressbar"][aria-valuenow="70"]:before {
  width: 70%;
}
.uam[role="progressbar"][aria-valuenow="80"]:before {
  width: 80%;
}
.uam[role="progressbar"][aria-valuenow="90"]:before {
  width: 90%;
}
.uam[role="progressbar"][aria-valuenow="100"]:before {
  width: 100%;
}
.verbose[aria-valuenow="0"] li:nth-child( -n + 0) {
  font-weight: bold;
}
.verbose[aria-valuenow="1"] li:nth-child( -n + 1) {
  font-weight: bold;
}
.verbose[aria-valuenow="2"] li:nth-child( -n + 2) {
  font-weight: bold;
}
.verbose[aria-valuenow="3"] li:nth-child( -n + 3) {
  font-weight: bold;
}
.verbose[aria-valuenow="4"] li:nth-child( -n + 4) {
  font-weight: bold;
}
.verbose[aria-valuenow="5"] li:nth-child( -n + 5) {
  font-weight: bold;
}
.verbose[aria-valuenow="6"] li:nth-child( -n + 6) {
  font-weight: bold;
}
.verbose[aria-valuenow="7"] li:nth-child( -n + 7) {
  font-weight: bold;
}
progress.verbose {
  appearance: none;
}
input {
  display: block;
}
