/*
 * Class for elements that are only visible to the screen reader. From
 * https://www.paciellogroup.com/blog/2012/05/html5-accessibility-chops-hidden-and-aria-hidden/
 */
input[type="radio"] + label,
input[type="checkbox"] + label,
[role="radio"] + label,
[role="checkbox"] + label {
  display: inline;
}
input[type="submit"] {
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0;
  padding-bottom: 0;
}
input[type="submit"] {
  margin-bottom: 1em;
}
fieldset,
.aria-form-group,
.fieldset {
  padding: 0.5em;
  margin-top: 1em;
  padding-top: 2em;
  background-color: #eeeeee;
}
fieldset legend,
.aria-form-group legend,
.fieldset legend,
fieldset .legend,
.aria-form-group .legend,
.fieldset .legend {
  position: relative;
  top: 1.5em;
  border-color: #aaaaaa;
  font-weight: bold;
  font-size: 1em;
}
fieldset .legend,
.aria-form-group .legend,
.fieldset .legend {
  top: -1.5em;
  margin-bottom: -1em;
}
fieldset label {
  font-weight: normal;
}
@media only screen and (min-width: 1px) and (max-width: 719px) {
  fieldset label {
    width: 100%;
  }
}
[role="radio"],
[role="checkbox"] {
  display: inline-block;
  position: relative;
  width: 0.875em;
  height: 0.875em;
  margin: 0.25em 0.5em 0.25em 0.25em;
  border: 0.0625em solid #444;
  background: #e0e0e0;
  background-image: -webkit-linear-gradient(90deg, #322f2f, #e0e0e0);
  background-image: -moz-linear-gradient(90deg, #322f2f, #e0e0e0);
  background-image: -ms-linear-gradient(90deg, #322f2f, #e0e0e0);
  background-image: -o-linear-gradient(90deg, #322f2f, #e0e0e0);
  background-image: linear-gradient(0deg, #322f2f, #e0e0e0);
  vertical-align: bottom;
}
[role="radio"],
[role="radio"]:after {
  border-radius: 50%;
}
[role="radio"][aria-checked="true"]:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 0.5em;
  height: 0.5em;
  margin: 0.125em;
  border: 0.0625em solid #444;
  background: #99cc66;
}
[role="checkbox"][aria-checked="true"]:after {
  content: "✓";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 1em;
  color: #060;
  font-size: 0.875em;
  line-height: 1em;
  text-align: center;
  text-shadow: 0 0 0.0714em #73994d;
  font-weight: bold;
  transform: scale(2.5) translateY(-2px);
}
