:root {
  --focus-color: #097efb;
  --focus-color-dark-bg: #3b99fc;
}
@media (prefers-color-scheme: dark) {
  :root {
    --focus-color: #3b99fc;
    --focus-color-dark-bg: #097efb;
  }
}
/* ARIA radio buttons */
/* This is the radio button's outer circle */
[role="radio"] {
  display: inline-block;
  position: relative;
  width: 1.5rem;
  height: 1.5rem;
  margin: 0.25rem;
  border: 0.0625rem solid #444;
  background: #e0e0e0;
  background-image: linear-gradient(0deg, #ffffff, #e0e0e0);
  vertical-align: bottom;
  /* Ensures both the inner and outer circles are circles, not squares. */
}
[role="radio"][aria-checked="true"]::after {
  /*
       * These styles ensure the checkbox appears 
       * as an 'X' in Windows High Contrast Mode
       */
  content: "x";
  text-align: center;
  font-size: 1.5625rem;
  line-height: 1.375rem;
  /*
       * These styles are for sighted users who
       * don't use assistive technology.
       */
  color: #900;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 1.375rem;
  height: 1.375rem;
  transform: scale(0.65);
  background: #900;
}
[role="radio"],
[role="radio"]::after {
  border-radius: 50%;
}
.aria-radio-label {
  font-size: 1.125rem;
  line-height: 1.38888889;
}
.enable-radio [type="radio"] {
  -webkit-appearance: none;
  -khtml-appearance: none;
  -ms-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: absolute;
  z-index: 1;
  width: 1.375rem;
  height: 1.375rem;
  margin: 0;
  opacity: 0;
}
.enable-radio [type="radio"],
.enable-radio [type="radio"]::before,
.enable-radio [type="radio"]::after {
  box-sizing: border-box;
}
.enable-radio [type="radio"],
.enable-radio [type="radio"] + label {
  margin-bottom: 0.5rem;
}
.enable-radio [type="radio"] + label {
  position: relative;
  padding-left: 2.1875rem;
  cursor: pointer;
  display: inline-block;
  color: #666;
  font-size: 1.125rem;
  line-height: 1.44444444;
}
.enable__is-dark-mode .enable-radio [type="radio"] + label {
  color: #ccc;
}
.enable-radio [type="radio"] + label:before {
  border: 0.125rem solid #ddd;
}
.enable-radio [type="radio"] + label:before,
.enable-radio [type="radio"] + label:after {
  content: "";
  display: block;
  position: absolute;
  left: -0.125rem;
  top: -0.125rem;
  width: 1.375rem;
  height: 1.375rem;
  border-radius: 100%;
  background: #fff;
}
.enable-radio [type="radio"] + label:after {
  border: 0.125rem solid transparent;
  transition: opacity 0.25s ease-in-out, transform 0.25s ease-in-out;
}
.enable-radio [type="radio"]:focus + label {
  outline: 2px solid var(--focus-color);
}
.enable-radio [type="radio"]:not(:checked) + label:after {
  opacity: 0;
  transform: scale(0);
}
.enable-radio [type="radio"]:checked + label:after {
  opacity: 1;
  background: #060;
  transform: scale(0.6);
}
fieldset legend,
.fieldset legend,
[role="radiogroup"] legend,
fieldset .legend,
.fieldset .legend,
[role="radiogroup"] .legend {
  border-bottom: none;
  text-align: left;
}
.circleless-radio-buttons {
  /* The following two selectors are the keyboard only instructions CSS. */
  /* This ensures the instructions only appear if a keyboard user applies focus to one of the radio buttons */
}
.circleless-radio-buttons fieldset {
  margin: 10px 0;
}
.circleless-radio-buttons label {
  padding: 5px;
  border-radius: 4px;
  margin: 0 10px 10px 0;
  border: solid 1px #333;
}
.enable__is-dark-mode .circleless-radio-buttons label {
  border: solid 1px #ccc;
}
.circleless-radio-buttons label:focus-within {
  /* This insures a focus ring appears around the label when focus is applied to the input inside it. */
  outline: 2px solid var(--focus-color);
}
.circleless-radio-buttons label:has(input[type="radio"]:checked) {
  background: #ccc;
}
.enable__is-dark-mode .circleless-radio-buttons label:has(input[type="radio"]:checked) {
  background: #555;
}
.circleless-radio-buttons .keyboard-instructions {
  display: none;
  padding: 5px;
  margin-bottom: 20px;
  color: white;
  background-color: black;
}
.enable__is-dark-mode .circleless-radio-buttons .keyboard-instructions {
  color: black;
  background-color: white;
}
.circleless-radio-buttons fieldset:focus-within:has(:focus-visible) .keyboard-instructions {
  display: block;
}
/*# sourceMappingURL=radiogroup.css.map */