__checkbox:focus + __label {
  outline: solid 2px #3b99fc;
}
.read-more__wrapper {
  margin: 0 auto;
}
.read-more__overflow-content {
  display: none;
}
.read-more__overflow-content--visible {
  display: block;
}
