.search {
  width: 100%;
  position: relative;
  display: flex;
}
.search__term {
  width: 100%;
  border: 3px solid #4e7963;
  border-right: none;
  padding: 5px;
  height: 2.25rem;
  border-radius: 5px 0 0 5px;
  color: #000;
}
.search__button {
  width: 2.5rem;
  height: 2.25rem;
  border: 1px solid #4e7963;
  background: #4e7963;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  margin: 0 !important;
}
.search__icon {
  width: 1.25rem;
}
