html,
body {
  width: 100vw;
}
.showcode {
  border: solid 1px #999;
  clip-path: polygon(0 0, 100% 0%, 100% calc(100% - 45px), 0 calc(100% - 45px));
}
.showcode__container {
  position: relative;
  z-index: 1;
  background: white;
}
.showcode__heading {
  font-weight: bold;
  padding-top: 20px;
  font-size: 1.25rem;
  border-bottom: double 3px #000;
}
.showcode__example {
  display: block;
  position: relative;
  font-family: "ModeSeven", "Consolas", monospace;
  background: black;
  color: #090;
  /* @media @mobile {
            margin: 0 -2em -25px -1em;
        } */
}
.showcode__example code {
  display: block;
  padding: 10px;
  max-width: calc(100vw - 20px);
  overflow: scroll;
}
.showcode__example--desc {
  display: none;
}
@media only screen and (min-width: 1px) and (max-width: 719px) {
  .showcode__example--desc {
    font-family: "Arial", "Helvetica", sans-serif;
    background: white;
    color: black;
    font-size: 1em;
    text-align: center;
    display: block;
  }
  .showcode__example::after {
    content: "";
    display: block;
    position: absolute;
    z-index: 0;
    pointer-events: none;
    top: 0;
    left: 0;
    background-image: linear-gradient(-270deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 80%, #000);
    width: 100%;
    height: 100%;
  }
  .showcode__example.fade-both::after {
    background-image: linear-gradient(-270deg, #000, rgba(0, 0, 0, 0) 20%, rgba(0, 0, 0, 0) 80%, #000);
  }
  .showcode__example.fade-left::after {
    background-image: linear-gradient(-270deg, #000, rgba(0, 0, 0, 0) 20%, rgba(0, 0, 0, 0));
  }
}
.showcode__highlight {
  display: inline-block;
  color: white;
  border: solid 2px white;
}
.showcode__highlight .showcode__highlight {
  border: none;
}
.showcode__select-label {
  padding: 5px 10px;
  display: inline-block;
  width: initial;
  width: 10rem;
  white-space: nowrap;
}
.showcode__steps {
  border-bottom: none;
  padding: 10px 0;
}
.showcode__steps select {
  width: calc(100% - 10rem - 40px);
  float: right;
  margin: 3px 40px 0 0;
}
.showcode__ui {
  position: sticky;
  top: 0;
  z-index: 1;
  background: white;
  padding-bottom: 10px;
}
.showcode__notes code {
  font-weight: bold;
}
.showcode__notes:not(:empty) {
  border: dashed #705029 3px;
  padding: 1em;
  margin: 0 10px 1em 10px;
  background-color: #ffffee;
}
