:root {
  --focus-color: #097efb;
  --focus-color-dark-bg: #3b99fc;
}
@media (prefers-color-scheme: dark) {
  :root {
    --focus-color: #3b99fc;
    --focus-color-dark-bg: #097efb;
  }
}
html {
  width: calc(100vw - (100vw - 100%));
  overflow-x: hidden;
}
code {
  font-family: "ModeSeven", "Consolas", monospace;
  font-style: normal;
}
.static-code {
  display: block;
  position: relative;
  font-family: "ModeSeven", "Consolas", monospace;
  background: #000;
  color: #090;
  box-shadow: 8px 0 0 black inset, -8px 0 0 black inset, 0 8px 0 black inset, 0 -53px 0 black inset;
}
.showcode {
  background-color: #f5deb3;
  clip-path: polygon(0 0, 100% 0%, 100% calc(100% - 45px), 0 calc(100% - 45px));
}
h4.showcode__heading {
  border-bottom: none;
  padding: 15px 0 0 0;
  font-size: 1.125rem;
  margin-bottom: -5px;
}
.showcode__example--code:focus {
  outline: solid 2px var(--focus-color) !important;
  outline-offset: -4px;
}
.showcode__example--code:focus:not(:focus-visible) {
  outline: none !important;
  outline-offset: 0;
}
.showcode__example--code:focus-visible {
  outline: solid 2px var(--focus-color) !important;
  outline-offset: -4px;
}
.showcode--no-js-container {
  clip-path: none;
}
.showcode__container {
  position: relative;
  z-index: 1;
}
.showcode__heading {
  font-weight: bold;
  padding-top: 20px;
  font-size: 1.25rem;
  border-bottom: double 3px #000;
}
.showcode__example {
  display: block;
  position: relative;
  font-family: "ModeSeven", "Consolas", monospace;
  background: #000;
  color: #090;
  box-shadow: 8px 0 0 black inset, -8px 0 0 black inset, 0 8px 0 black inset, 0 -53px 0 black inset;
  /* @media @mobile {
            margin: 0 -2em -25px -1em;
        } */
}
.showcode__example a {
  color: #8f8fff;
}
.showcode__example:focus-within {
  box-shadow: 4px 0 0 var(--focus-color) inset, -4px 0 0 var(--focus-color) inset, 0 4px 0 var(--focus-color) inset, 0 -49px 0 var(--focus-color) inset, 8px 0 0 white inset, -8px 0 0 white inset, 0 8px 0 white inset, 0 -53px 0 white inset;
}
.showcode__example:focus-within code {
  outline: transparent 2px solid;
}
.showcode__example code {
  display: block;
  padding: 10px;
  max-width: calc(100vw - 20px);
  overflow-x: auto;
  background: #000;
}
.enable__is-dark-mode .showcode__example code {
  background: #121212;
}
.showcode__example--desc {
  display: none;
}
@media only screen and (min-width: 1px) and (max-width: 719px) {
  .showcode__example {
    /* Fade CSS */
  }
  .showcode__example--desc {
    font-family: "Arial", "Helvetica", sans-serif;
    background: white;
    color: black;
    font-size: 1em;
    text-align: center;
    display: block;
  }
  .showcode__example::after {
    content: "";
    display: block;
    position: absolute;
    z-index: 0;
    pointer-events: none;
    top: 0;
    left: 0;
    background-image: linear-gradient(-270deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 80%, #000);
    width: 100%;
    height: 100%;
  }
  .showcode__example:focus-within::after {
    top: 4px;
    left: 4px;
    width: calc(100% - 2 * 4px);
    height: calc(100% - 2 * 4px);
  }
  .showcode__example.fade-both::after {
    background-image: linear-gradient(-270deg, #000, rgba(0, 0, 0, 0) 20%, rgba(0, 0, 0, 0) 80%, #000);
  }
  .showcode__example.fade-left::after {
    background-image: linear-gradient(-270deg, #000, rgba(0, 0, 0, 0) 20%, rgba(0, 0, 0, 0));
  }
}
.showcode--no-js {
  white-space: pre;
  margin: 0 0 20px 0;
  padding: 10px;
  overflow: auto;
}
.showcode__highlight {
  display: inline-block;
  color: white;
  border: solid 2px white;
  font-family: "ModeSeven", "Consolas", monospace;
  font-style: normal;
  background: black;
}
.showcode__highlight .showcode__highlight {
  border: none;
}
.showcode__select-label {
  padding: 5px 10px;
  display: inline-block;
  width: initial;
  width: 10rem;
  white-space: nowrap;
}
.showcode__steps {
  border-bottom: none;
  padding: 10px 0;
  background-color: #f5deb3;
}
.showcode__steps select {
  display: block;
  width: calc(100% - 20px);
  margin: 0 auto;
}
@media only screen and (min-width: 720px) {
  .showcode__steps select {
    width: calc(100% - 10rem - 10px);
    float: right;
    margin: 3px 10px 0 0;
  }
}
.showcode__ui {
  position: sticky;
  top: 5rem;
  z-index: 1;
  background-color: #f5deb3;
  padding: 0.01em;
  border: solid 1px #666;
}
.showcode__ui:has(.showcode__notes--is-overflowed.is-expanded) {
  position: relative;
}
.showcode__notes-container {
  position: relative;
  color: #000;
}
.enable__is-dark-mode .showcode__notes-container {
  color: #ededed;
}
.showcode__notes + .showcode__notes-view-toggle {
  display: none;
  border: none;
  background: transparent;
  text-decoration: underline;
  position: absolute;
  bottom: 20px;
  right: 0;
  text-align: center;
  width: 100%;
}
.showcode__has-wrapped-text-in-code .showcode__notes + .showcode__notes-view-toggle {
  bottom: 3.625rem;
}
.showcode__notes code {
  font-family: "ModeSeven", "Consolas", monospace;
  font-style: normal;
}
.showcode__notes:not(:empty) {
  border: dashed #705029 3px;
  padding: 1em 1em 1em 1em;
  margin: 0 10px 20px 10px;
  background-color: #ffffee;
}
.enable__is-dark-mode .showcode__notes:not(:empty) {
  border-color: #a3917b;
  background-color: #000011;
}
.showcode__notes:not(:empty) > div {
  overflow: hidden;
  -webkit-line-clamp: 2;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}
@media only screen and (min-width: 720px) {
  .showcode__notes:not(:empty) > div {
    display: block;
  }
}
.showcode__notes:not(:empty).is-expanded > div {
  display: block;
}
@media only screen and (min-width: 720px) and (max-width: 959px) {
  .showcode__notes:not(:empty).is-expanded > div {
    display: none !important;
  }
}
.showcode__notes.showcode__notes--is-overflowed.is-expanded:not(:empty) + .showcode__notes-view-toggle .showcode__notes-view-toggle--more {
  display: none;
}
.showcode__notes.showcode__notes--is-overflowed.is-expanded:not(:empty) + .showcode__notes-view-toggle .showcode__notes-view-toggle--less {
  display: block;
}
.showcode__notes.showcode__notes--is-overflowed:not(:empty) {
  padding-bottom: 3em;
}
.showcode__notes.showcode__notes--is-overflowed:not(:empty) + .showcode__notes-view-toggle {
  display: inherit;
}
.showcode__notes.showcode__notes--is-overflowed:not(:empty) + .showcode__notes-view-toggle .showcode__notes-view-toggle--less {
  display: none;
}
.showcode__has-wrapped-text-in-code:not(.showcode--no-js-container) .showcode__example {
  white-space: pre-wrap;
}
.showcode__has-wrapped-text-in-code:not(.showcode--no-js-container) .showcode__example::after {
  display: none;
}
.showcode__has-wrapped-text-in-code .showcode__scroll-message {
  display: none;
}
.showcode__has-wrapped-text-in-code .showcode--no-js {
  white-space: break-spaces;
}
.showcode--no-js-container {
  margin-top: 20px;
}
figure.wide .showcode__example {
  margin-bottom: -2.5rem;
}
.enable__is-dark-mode .showcode__steps,
.enable__is-dark-mode .showcode__ui {
  background-color: #705029;
}
/*# sourceMappingURL=showcode.css.map */