html {
  width: calc(100vw - (100vw - 100%));
  overflow-x: hidden;
}
code {
  font-family: "ModeSeven", "Consolas", monospace;
}
.showcode {
  background-color: #f5deb3;
  border: solid 1px #999;
  clip-path: polygon(0 0, 100% 0%, 100% calc(100% - 45px), 0 calc(100% - 45px));
}
.showcode__container {
  position: relative;
  z-index: 1;
}
.showcode__heading {
  font-weight: bold;
  padding-top: 20px;
  font-size: 1.25rem;
  border-bottom: double 3px #000;
}
.showcode__example {
  display: block;
  position: relative;
  font-family: "ModeSeven", "Consolas", monospace;
  background: black;
  color: #090;
  box-shadow: 8px 0 0 black inset, -8px 0 0 black inset, 0 8px 0 black inset, 0 -53px 0 black inset;
  /* @media @mobile {
            margin: 0 -2em -25px -1em;
        } */
}
.showcode__example:focus-within {
  box-shadow: 4px 0 0 #3b99fc inset, -4px 0 0 #3b99fc inset, 0 4px 0 #3b99fc inset, 0 -49px 0 #3b99fc inset, 8px 0 0 white inset, -8px 0 0 white inset, 0 8px 0 white inset, 0 -53px 0 white inset;
}
.showcode__example:focus-within code {
  outline: 0;
}
.showcode__example code {
  display: block;
  padding: 10px;
  max-width: calc(100vw - 20px);
  overflow-x: auto;
}
.showcode__example--desc {
  display: none;
}
@media only screen and (min-width: 1px) and (max-width: 719px) {
  .showcode__example--desc {
    font-family: "Arial", "Helvetica", sans-serif;
    background: white;
    color: black;
    font-size: 1em;
    text-align: center;
    display: block;
  }
  .showcode__example::after {
    content: "";
    display: block;
    position: absolute;
    z-index: 0;
    pointer-events: none;
    top: 0;
    left: 0;
    background-image: linear-gradient(-270deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 80%, #000);
    width: 100%;
    height: 100%;
  }
  .showcode__example:focus-within::after {
    top: 4px;
    left: 4px;
    width: calc(100% - 2 * 4px);
    height: calc(100% - 2 * 4px);
  }
  .showcode__example.fade-both::after {
    background-image: linear-gradient(-270deg, #000, rgba(0, 0, 0, 0) 20%, rgba(0, 0, 0, 0) 80%, #000);
  }
  .showcode__example.fade-left::after {
    background-image: linear-gradient(-270deg, #000, rgba(0, 0, 0, 0) 20%, rgba(0, 0, 0, 0));
  }
}
.showcode__highlight {
  display: inline-block;
  color: white;
  border: solid 2px white;
}
.showcode__highlight .showcode__highlight {
  border: none;
}
.showcode__select-label {
  padding: 5px 10px;
  display: inline-block;
  width: initial;
  width: 10rem;
  white-space: nowrap;
}
.showcode__steps {
  border-bottom: none;
  padding: 10px 0;
  background-color: #f5deb3;
}
.showcode__steps select {
  display: block;
  width: calc(100% - 20px);
  margin: 0 auto;
}
@media only screen and (min-width: 720px) {
  .showcode__steps select {
    width: calc(100% - 10rem - 10px);
    float: right;
    margin: 3px 10px 0 0;
  }
}
.showcode__ui {
  position: sticky;
  top: 2.5rem;
  z-index: 1;
  background-color: #f5deb3;
  padding: 0.01em;
}
@media only screen and (min-width: 960px) {
  .showcode__ui {
    top: 0;
  }
}
.showcode__notes + .showcode__notes-view-toggle {
  display: none;
  border: none;
  background: transparent;
  text-decoration: underline;
  position: absolute;
  bottom: 4em;
  right: 0;
  text-align: center;
  width: 100%;
}
.showcode__notes code {
  font-family: "ModeSeven", "Consolas", monospace;
}
.showcode__notes:not(:empty) {
  border: dashed #705029 3px;
  padding: 1em 1em 1em 1em;
  margin: 0 10px 1em 10px;
  background-color: #ffffee;
}
.showcode__notes:not(:empty) > div {
  overflow: hidden;
  -webkit-line-clamp: 4;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}
@media only screen and (min-width: 720px) and (max-width: 959px) {
  .showcode__notes:not(:empty) > div {
    display: block;
  }
}
.showcode__notes:not(:empty).is-expanded > div {
  display: block;
}
@media only screen and (min-width: 720px) and (max-width: 959px) {
  .showcode__notes:not(:empty).is-expanded > div {
    display: none !important;
  }
}
.showcode__notes.showcode__notes--is-overflowed.is-expanded:not(:empty) + .showcode__notes-view-toggle .showcode__notes-view-toggle--more {
  display: none;
}
.showcode__notes.showcode__notes--is-overflowed.is-expanded:not(:empty) + .showcode__notes-view-toggle .showcode__notes-view-toggle--less {
  display: block;
}
.showcode__notes.showcode__notes--is-overflowed:not(:empty) {
  padding-bottom: 2em;
}
.showcode__notes.showcode__notes--is-overflowed:not(:empty) + .showcode__notes-view-toggle {
  display: inherit;
}
.showcode__notes.showcode__notes--is-overflowed:not(:empty) + .showcode__notes-view-toggle .showcode__notes-view-toggle--less {
  display: none;
}
.showcode__has-wrapped-text-in-code .showcode__example {
  white-space: pre-wrap;
}
.showcode__has-wrapped-text-in-code .showcode__example::after {
  display: none;
}
.showcode__has-wrapped-text-in-code .showcode__scroll-message {
  display: none;
}
