/*
 * Gradient mixin from https://webdesign.tutsplus.com/tutorials/making-gradients-easier-with-less-mixins--cms-24072
 */
body {
  font-family: "Helvetica", "Arial", sans-serif;
  margin: 10px;
  line-height: 1.1;
}
strong {
  font-weight: bold;
}
ul {
  list-style: initial;
}
ol {
  list-style: decimal;
}
h1 {
  font-weight: bold;
  font-size: 2rem;
}
h2 {
  font-weight: bold;
  font-size: 1.5rem;
  border-bottom: solid 1px #999999;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
ul,
ol {
  padding-left: 3rem;
}
ul {
  list-style: disc;
}
ul,
p {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
.example h1 {
  text-align: center;
}
.example main {
  max-width: 1024px;
  margin: 0 auto;
}
.example .example-nav {
  text-align: center;
}
.example .example-nav ul li {
  display: inline-block;
  list-style: none;
}
.example .notes {
  border: dashed #9C6F39 3px;
  padding: 1em;
  background-color: #ffffee;
  margin: 2em auto;
  max-width: calc(1024px - 2em);
}
.example .notes h2 {
  margin: 0;
  border-bottom: none;
}
input,
select {
  font-size: 1em;
}
h3 {
  padding-top: 20px;
  font-size: 20px;
}
html,
body {
  width: 100vw;
  overflow-x: hidden;
}
.showcode__example {
  display: block;
  position: relative;
  font-family: "ModeSeven", "Consolas", monospace;
  background: black;
  color: green;
  margin: 2em -1em 0 -1em;
}
@media only screen and (min-width: 1px) and (max-width: 719px) {
  .showcode__example::before {
    content: "☜ Swipe to see full source  ☞";
    font-family: "Arial", "Helvetica", sans-serif;
    background: white;
    color: black;
    font-size: 1em;
    margin-top: -1.5em;
    margin-left: 0.5em;
    position: absolute;
    width: 100vw;
    text-align: center;
    display: block;
  }
  .showcode__example::after {
    content: "";
    display: block;
    position: absolute;
    z-index: 10;
    pointer-events: none;
    top: 0;
    left: 0;
    background-image: linear-gradient(-270deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0) 80%, #000);
    width: 100%;
    height: 100%;
  }
  .showcode__example.fade-both::after {
    background-image: linear-gradient(-270deg, #000, rgba(255, 255, 255, 0) 20%, rgba(255, 255, 255, 0) 80%, #000);
  }
  .showcode__example.fade-left::after {
    background-image: linear-gradient(-270deg, #000, rgba(255, 255, 255, 0) 20%, rgba(255, 255, 255, 0));
  }
}
.showcode__example code {
  display: block;
  padding: 10px;
  width: calc(100vw - 20px);
  overflow: scroll;
}
.showcode__hilite {
  display: inline-block;
  color: white;
  border: solid 2px white;
}
.showcode__steps {
  padding-bottom: 20px;
}
.showcode__steps select {
  width: 100%;
}
.showcode__notes:not(:empty) {
  border: dashed #705029 3px;
  padding: 1em;
  margin-bottom: 1em;
  background-color: #ffffee;
}
