.sub-component-navigation {
  position: fixed;
  width: 200px;
  height: 100%;
  overflow: auto;
  padding: 40px;
}
.sub-component-navigation a {
  color: #000;
}
main {
  width: calc(100% - 400px);
  display: flex;
  flex-direction: column;
  height: 100%;
}
.plp h1 {
  margin: 0 0 80px 0;
}
.plp h2 {
  font-size: 1.625rem;
  font-weight: bold;
  color: #222;
  padding: 20px 0;
  margin: 40px 0 79px;
}
.plp h2 a {
  color: #000;
}
.plp .plp-list {
  margin: 20px 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}
.plp .plp-list .item-wrapper {
  display: flex;
  margin-bottom: 25px;
}
.plp .plp-list .item-wrapper .icon-wrapper {
  min-width: 355px;
  min-height: 288px;
  border-radius: 10px;
  text-align: center;
  padding: 10px 10px;
  background-color: #f5f7f5;
}
.plp .plp-list .item-wrapper .icon-wrapper h5 {
  display: block;
  color: #000;
  font-weight: bold;
  font-size: 1.5rem;
  padding: 40px 20px;
  margin: auto;
}
.plp .plp-list .item-wrapper .icon-wrapper .icon {
  min-height: 100px;
}
.plp .plp-list .item-wrapper .icon-wrapper img {
  max-width: 100%;
}
.plp .plp-list .item-wrapper .links-wrapper ul {
  width: 40rem;
  text-decoration: none;
  margin: 0;
  padding-left: 3rem;
}
.plp .plp-list .item-wrapper .links-wrapper ul li {
  list-style-type: none;
  padding: 26px 0;
  border-bottom: 2px solid #000;
}
.plp .plp-list .item-wrapper .links-wrapper ul li code {
  font-size: 1rem;
  color: #E12251;
}
.plp .plp-list .item-wrapper .links-wrapper ul li a {
  font-size: 1.3rem;
  color: #000;
  font-family: helvetica;
  font-weight: bold;
  text-decoration: none;
}
.plp .plp-list .item-wrapper .links-wrapper ul li a:hover {
  color: #E12251;
}
.plp .plp-list .item-wrapper .links-wrapper ul li a.get-code {
  position: relative;
}
.plp .plp-list .item-wrapper .links-wrapper ul li .get-code:after {
  content: " ";
  width: 25px;
  height: 25px;
  background: url(/images/icons/components/link-to-external-site.svg);
  position: absolute;
  right: -34px;
  top: -2px;
}
.plp .plp-list .item-wrapper .links-wrapper ul li:last-child {
  border-bottom: 0;
}
.enable-flyout__open-level-button,
.enable-flyout__link {
  font-weight: bold;
}
.enable-flyout__open-level-button:hover,
.enable-flyout__link:hover,
.enable-flyout__open-level-button:focus,
.enable-flyout__link:focus {
  font-weight: bold;
}
.enable-flyout__level .enable-flyout__menu-item {
  font-size: 14px;
  margin-right: 0;
}
.enable-flyout__link {
  text-indent: 0px;
  padding: 13px 13px 13px 21px;
}
@media only screen and (min-width: 960px) {
  .enable-flyout {
    /* styles specific to Interactive Elements flyout */
  }
  .enable-flyout__link-image {
    width: 105px;
    border: solid 1px #999999;
  }
  .enable-flyout__level .enable-flyout__level .enable-flyout__menu-item {
    width: 890px;
    padding-bottom: 10px;
  }
  #code-patterns-section.enable-flyout__level .enable-flyout__level .enable-flyout__list--photo-layout,
  #content-section.enable-flyout__level .enable-flyout__level .enable-flyout__list--photo-layout {
    width: fit-content;
  }
  .enable-flyout__level .enable-flyout__level .enable-flyout__list--photo-layout .enable-flyout__menu-item {
    width: 118px;
    float: left;
    height: 11.75rem;
  }
  #code-patterns-section.enable-flyout__level .enable-flyout__level .enable-flyout__list--photo-layout .enable-flyout__menu-item {
    width: 118px;
  }
  .enable-flyout__level .enable-flyout__level .enable-flyout__list--photo-layout .enable-flyout__link {
    position: relative;
    min-height: 11.75rem;
    box-sizing: border-box;
    font-size: 0.8125rem;
    padding: 10px 20px 0 20px;
  }
  #content-section.enable-flyout__level .enable-flyout__level .enable-flyout__list--photo-layout .enable-flyout__link,
  #code-patterns-section.enable-flyout__level .enable-flyout__level .enable-flyout__list--photo-layout .enable-flyout__link {
    padding: 10px 5px 0 5px;
  }
  .enable-flyout__level .enable-flyout__level .enable-flyout__list--photo-layout .enable-flyout__link:hover,
  .enable-flyout__level .enable-flyout__level .enable-flyout__list--photo-layout .enable-flyout__link:focus {
    box-shadow: 2px 2px 5px #999;
  }
  .enable-flyout__level .enable-flyout__level .enable-flyout__list--photo-layout .enable-flyout__link:hover {
    outline: solid 1px #666;
    z-index: 2;
  }
  .enable-flyout__level .enable-flyout__level .enable-flyout__list--photo-layout .enable-flyout__link:focus {
    outline: solid 2px #097efb;
  }
  .enable-flyout__level .enable-flyout__menu-item--close {
    display: none;
  }
  #forms-section > :not(.enable-flyout__menu-item) > .enable-flyout__menu-item {
    width: calc(50% - 18px * 2);
    float: left;
    margin-left: 18px;
    margin-right: 18px;
  }
  #forms-section > :not(.enable-flyout__menu-item) > .enable-flyout__menu-item .enable-flyout__list {
    width: 100%;
    padding-left: 30px;
  }
  .enable-flyout #forms-section .enable-flyout__level-heading {
    text-align: center;
  }
  #code-patterns-section > :not(.enable-flyout__menu-item) > .enable-flyout__menu-item:nth-child(2),
  #content-section > :not(.enable-flyout__menu-item) > .enable-flyout__menu-item:nth-child(3) {
    width: calc(100% / 3 - 36px);
    float: left;
    margin-left: 18px;
    margin-right: 18px;
  }
  .text-zoom #code-patterns-section > :not(.enable-flyout__menu-item) > .enable-flyout__menu-item:nth-child(2),
  .text-zoom #content-section > :not(.enable-flyout__menu-item) > .enable-flyout__menu-item:nth-child(3) {
    width: auto;
  }
  #code-patterns-section > :not(.enable-flyout__menu-item) > .enable-flyout__menu-item:nth-child(3) {
    width: calc(200% / 3 - 36px);
    float: left;
    margin-left: 18px;
    margin-right: 18px;
  }
  #content-section > :not(.enable-flyout__menu-item) > .enable-flyout__menu-item:nth-child(3) {
    width: calc(300% / 3 - 36px);
    float: left;
    margin-left: 18px;
    margin-right: 18px;
  }
  #content-section > :not(.enable-flyout__menu-item) > .enable-flyout__menu-item:nth-child(3),
  #content-section > :not(.enable-flyout__menu-item) > .enable-flyout__menu-item:nth-child(4) {
    width: calc(150% / 3 - 36px);
    float: left;
    margin-left: 18px;
    margin-right: 18px;
  }
  #code-patterns-section > :not(.enable-flyout__menu-item) > .enable-flyout__menu-item:nth-child(4) {
    margin-left: 18px;
    margin-right: 18px;
  }
  #content-section > :not(.enable-flyout__menu-item) > .enable-flyout__menu-item {
    width: 100%;
    float: left;
  }
  #content-section .enable-flyout__list--photo-layout .enable-flyout__menu-item {
    height: 14.0625rem;
  }
  .enable-flyout__open-level-button,
  .enable-flyout__close-level-button,
  .enable-flyout__link {
    width: initial;
  }
  .enable-flyout__list .enable-flyout__list {
    width: 960px;
    width: fit-content;
    margin: 20px auto;
  }
}
.enable-logo {
  width: 3.75rem;
  color: #fff;
}
@media only screen and (min-width: 720px) {
  .enable-logo {
    width: 3.125rem;
  }
}
.enable-logo__container {
  text-decoration: none;
  text-align: center;
  color: #2b2828;
  margin-bottom: -10px;
}
@media only screen and (min-width: 1px) and (max-width: 719px) {
  .enable-logo__container {
    transform-origin: 0 50%;
    margin-left: 10px;
  }
}
@media only screen and (min-width: 720px) {
  .enable-logo__container {
    padding: 0 30px;
    margin-bottom: 0;
  }
}
.enable-logo__link {
  color: #fff;
  text-decoration: none;
  display: inline-block;
  position: relative;
  margin: 10px 0;
}
.enable-logo__text {
  color: #fff;
  padding-left: 1.25rem;
  width: 150px;
}
.enable-logo__sub-text {
  display: block;
  font-size: 17px;
  font-style: italic;
  padding: 0 10px;
  margin-top: -8px;
  font-style: normal;
}
.enable-stats {
  list-style-type: none;
  margin: 14px 0;
  padding: 0;
  border: solid 3px black;
  border-radius: 1.25rem;
  overflow: hidden;
  color: #000;
  text-align: center;
}
.enable-stats__desc {
  min-height: 2.5rem;
  padding: 5px 20px;
  display: inline-block;
  position: relative;
  padding-left: 3.125rem;
}
@media only screen and (min-width: 1px) and (max-width: 719px) {
  .enable-stats__desc {
    padding: 5px 10px 5px 1.5625rem;
  }
}
.enable-stats__desc:only-child {
  width: 100%;
}
.enable-stats__desc--scratch {
  background-color: #ccffcc;
}
.enable-stats__desc--integrate {
  background-color: #ffffcc;
}
.enable-stats__desc--do-not {
  background-color: #ffcccc;
}
.enable-stats__desc--style {
  background-color: #ccccff;
}
.enable-stats__desc--npm {
  background-color: #ccfffc;
}
.enable-stats__center {
  display: flex;
  /* justify-content: center; */
  min-height: 2.5rem;
  resize: vertical;
  align-items: center;
}
.enable-stats__icon {
  height: 1.875rem;
  margin: 0px 15px 5px 0px;
  display: inline-block;
}
.enable-stats__label {
  display: inline-block;
  text-align: left;
}
.screenshot-table {
  margin-bottom: 40px;
}
.screenshot-table thead th,
.screenshot-table td {
  text-align: center;
}
.screenshot-table td {
  border: solid 1px black;
}
.footer ul {
  margin: 20px;
  padding: 0;
}
.footer ul li {
  list-style: none;
  display: inline;
  padding: 10px 0;
}
.footer ul li::after {
  content: "|";
}
.footer ul li:last-child::after {
  content: "";
}
.footer__attribution {
  font-size: small;
}
/*# sourceMappingURL=site.css.map */