:root {
  --focus-color: #097efb;
  --focus-color-dark-bg: #3b99fc;
}
@media (prefers-color-scheme: dark) {
  :root {
    --focus-color: #3b99fc;
    --focus-color-dark-bg: #097efb;
  }
}
#header {
  position: sticky;
  top: 0;
  z-index: 10001;
}
.nav-container {
  position: relative;
  display: flex;
  justify-content: space-between;
  background: #5d5c5c;
  padding: 0 30px;
}
.enable-logo {
  text-decoration: none;
  text-align: center;
  width: 150px;
  min-height: 85px;
  display: flex;
  vertical-align: middle;
}
.enable-logo a {
  display: flex;
  vertical-align: middle;
}
.enable-logo img {
  max-width: 100%;
}
.plp h1 {
  margin: 0 0 80px 0;
}
.plp h2 {
  font-size: 1.625rem;
  font-weight: bold;
  color: #222;
  padding: 20px 0;
  margin: 40px 0 79px;
}
.plp h2 a {
  color: #000;
}
.plp .plp-list {
  margin: 20px 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}
.plp .plp-list .item-wrapper {
  display: flex;
  margin-bottom: 25px;
  flex-direction: column;
}
@media only screen and (min-width: 720px) and (max-width: 959px), only screen and (min-width: 960px) {
  .plp .plp-list .item-wrapper {
    flex-direction: row;
  }
}
.plp .plp-list .item-wrapper .icon-wrapper {
  width: 100%;
  min-height: 250px;
  border-top: 5px solid #CF1744;
  text-align: center;
  padding: 10px 10px;
  background-color: #f5f7f5;
}
@media only screen and (min-width: 720px) and (max-width: 959px), only screen and (min-width: 960px) {
  .plp .plp-list .item-wrapper .icon-wrapper {
    width: 33.33%;
  }
}
.plp .plp-list .item-wrapper .icon-wrapper h2 {
  display: block;
  color: #000;
  font-weight: bold;
  font-size: 1.5rem;
  padding: 40px 20px;
  margin: auto;
  border-bottom: none;
}
.plp .plp-list .item-wrapper .icon-wrapper .icon {
  min-height: 100px;
}
.plp .plp-list .item-wrapper .icon-wrapper img {
  max-width: 100%;
}
.plp .plp-list .item-wrapper .links-wrapper {
  width: 100%;
}
@media only screen and (min-width: 720px) and (max-width: 959px), only screen and (min-width: 960px) {
  .plp .plp-list .item-wrapper .links-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 66.66%;
    padding-left: 3rem;
  }
}
.plp .plp-list .item-wrapper .links-wrapper p {
  list-style-type: none;
  padding: 26px 0;
  margin: 0;
  border-bottom: 2px solid #000;
}
.plp .plp-list .item-wrapper .links-wrapper code {
  font-size: 1rem;
  color: #5d5c5c;
}
.plp .plp-list .item-wrapper .links-wrapper a {
  font-size: 1.3rem;
  color: #000;
  font-family: helvetica;
  font-weight: bold;
  text-decoration: none;
  display: inline-block;
  margin: 16px 0;
  padding: 10px 0;
}
.plp .plp-list .item-wrapper .links-wrapper a:hover {
  color: #CF1744;
}
.plp .plp-list .item-wrapper .links-wrapper a.get-code {
  position: relative;
}
.plp .plp-list .item-wrapper .links-wrapper .get-code:after {
  content: " ";
  width: 25px;
  height: 25px;
  background: url(/images/icons/components/link-to-external-site.svg);
  position: absolute;
  right: -34px;
  top: -2px;
}
.sidemenu {
  display: top;
  float: left;
  margin-right: 50px;
  padding-right: 100px;
}
.sidemenu__title {
  border-bottom: none;
  margin-bottom: 15px;
  font-size: 20px;
  font-weight: bold;
}
.sidemenu__item {
  border-bottom: none;
  font-size: 12px;
}
.sidemenu__item a {
  text-decoration: none;
  color: #2b2929;
}
.enable-stats {
  list-style-type: none;
  margin: 14px 0;
  padding: 0;
  border: solid 3px black;
  border-radius: 1.25rem;
  overflow: hidden;
  color: #000;
  text-align: center;
}
.enable-stats__desc {
  min-height: 2.5rem;
  padding: 5px 20px;
  display: inline-block;
  position: relative;
  padding-left: 3.125rem;
}
@media only screen and (min-width: 1px) and (max-width: 719px) {
  .enable-stats__desc {
    padding: 5px 10px 5px 1.5625rem;
  }
}
.enable-stats__desc:only-child {
  width: 100%;
}
.enable-stats__desc--scratch {
  background-color: #ccffcc;
}
.enable-stats__desc--integrate {
  background-color: #ffffcc;
}
.enable-stats__desc--do-not {
  background-color: #ffcccc;
}
.enable-stats__desc--style {
  background-color: #ccccff;
}
.enable-stats__desc--npm {
  background-color: #ccfffc;
}
.enable-stats__center {
  display: flex;
  /* justify-content: center; */
  min-height: 2.5rem;
  resize: vertical;
  align-items: center;
}
.enable-stats__icon {
  height: 1.875rem;
  margin: 0px 15px 5px 0px;
  display: inline-block;
}
.enable-stats__heading-icon {
  margin: 0 0.9375rem 0 0;
}
.enable-stats__label {
  display: inline-block;
  text-align: left;
}
.screenshot-table {
  margin-bottom: 40px;
}
.screenshot-table thead th,
.screenshot-table td {
  text-align: center;
}
.screenshot-table td {
  border: solid 1px black;
}
.footer__links {
  font-size: 14px;
  font-weight: bold;
}
.footer__links a {
  text-decoration: none;
}
.footer__attribution {
  font-size: small;
}
enable__is-dark-mode .plp .plp-list .item-wrapper .links-wrapper a {
  color: white;
}
enable__is-dark-mode .plp .plp-list .item-wrapper .links-wrapper p {
  border-bottom: 2px solid white;
}
enable__is-dark-mode .plp .plp-list .item-wrapper .icon-wrapper {
  background-color: #444;
}
enable__is-dark-mode .plp .plp-list .item-wrapper .icon-wrapper h2 {
  color: white;
}
enable__is-dark-mode .plp .plp-list .item-wrapper .links-wrapper code {
  color: #ddd;
}
enable__is-dark-mode .sidemenu__item a {
  color: white;
}
enable__is-dark-mode .enable-stats__desc {
  color: white;
}
enable__is-dark-mode .enable-stats__desc--scratch {
  background-color: #3c4c3d;
}
enable__is-dark-mode .enable-stats__desc--integrate {
  background-color: #7d5d12;
}
enable__is-dark-mode .enable-stats__desc--integrate a {
  color: #FFD8A2;
}
enable__is-dark-mode .enable-stats__desc--npm {
  background-color: #516664;
}
enable__is-dark-mode .enable-stats__desc--do-not {
  background-color: #763f56;
}
enable__is-dark-mode .enable-stats__desc--style {
  background-color: #432155;
}
enable__is-dark-mode .enable-stats__icon {
  filter: invert();
}
enable__is-dark-mode .enable-stats__heading-icon {
  filter: invert();
}
