.wiktionary-lookup__content {
  height: 200px;
  overflow: auto;
  margin: 1em 0;
  padding: 1em;
  border: solid 1px #999;
}
.wiktionary-lookup__content-container {
  display: none;
}
.wiktionary-lookup__content-container--is-loaded {
  display: block;
}
.mw-editsection {
  display: none;
}
