:root {
  --focus-color: #097efb;
  --focus-color-dark-bg: #3b99fc;
}
@media (prefers-color-scheme: dark) {
  :root {
    --focus-color: #3b99fc;
    --focus-color-dark-bg: #097efb;
  }
}
#tabs h2 {
  margin: 0.5em 0;
}
.tabs__instructions {
  display: none;
}
.tabs--has-js .tabs__instructions {
  display: inherit;
  background: black;
  color: white;
  padding: 0.5em;
}
.enable__is-dark-mode .tabs--has-js .tabs__instructions {
  background: #333366;
  color: #ffffcc;
}
[role="tablist"] {
  /* float: left;
  list-style: none;
  margin: 0;
  padding-left: 2.35em;
  position: relative;
  z-index: 2; */
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #1357AA;
  padding: 0.25em;
  margin: 0 0 0.5em;
  border-radius: 0.75em;
}
[role="tablist"] li {
    display: flex;
    flex: 1;
    list-style: none;
    position: relative;
    /* float: left; */
    margin: 0 0.1em 0 0;
    z-index: 1;
    align-items: center;
    background-color: transparent;
}
@media only screen and (min-width: 960px) {
  [role="tablist"] li {
    margin: 0 0.5em 0 0;
  }
}
[role="tablist"] li [role="tab"] {
  flex: 1;
  font-size: 1em;
  font-weight: 700;
  text-align: center;
  text-shadow: none;
  color: #fff;
  text-decoration: none;
  padding: 0.5em 0.5em 0.35em;
  -moz-border-radius: 0.5em;
  -moz-border-radius: 0.5em;
  -webkit-border-radius: 0.5em;
  -webkit-border-radius: 0.5em;
  border-radius: 0.5em;
  cursor: pointer;
}
.enable__is
.enable__is-dark-mode [role="tablist"] li [role="tab"] {
  color: #fff;
}
@media only screen and (min-width: 1px) and (max-width: 719px) {
  [role="tablist"] li [role="tab"] {
    font-size: 0.8em;
  }
}
[role="tablist"] li [role="tab"]:hover,
[role="tablist"] li [role="tab"]:focus,
[role="tablist"] li [role="tab"]:active {
  border-color: #999;
}
.enable__is-dark-mode [role="tablist"] li [role="tab"]:hover,
.enable__is-dark-mode [role="tablist"] li [role="tab"]:focus,
.enable__is-dark-mode [role="tablist"] li [role="tab"]:active {
  border-color: #999;
}
[role="tablist"] li [role="tab"]:focus {
  outline-offset: 5px;
}
[role="tablist"] li [role="tab"]:focus:not(:focus-visible) {
  outline: none;
}
[role="tablist"] li [role="tab"]:focus-visible {
  outline-offset: 5px;
}
[role="tablist"] li [role="tab"]:active {
  top: 2px;
}
[role="tablist"] li [role="tab"][aria-selected="true"] {
  background: #fff;
  color: #1357AA;
}
.enable__is-dark-mode [role="tablist"] li [role="tab"][aria-selected="true"] {
  background: #fff;
  color: #AEC7C7;
}
[role="tabpanel"] {
  position: relative;
  /*for z-index*/
  visibility: visible;
  clear: left;
  overflow: auto;
  padding: 0.5em 3em 2em;
  border-radius: 1em;
  z-index: 1;
  border: 2px solid #1357AA;
  color: #333;
  background-color: #fff;
}
[role="tabpanel"] a {
  color: #134C9A;
}
.enable__is-dark-mode [role="tabpanel"] {
  color: #333;
  background-color: transparent;
}
[role="tabpanel"] p,
[role="tabpanel"] li {
  color: #444;
}
.enable__is-dark-mode [role="tabpanel"] p,
.enable__is-dark-mode [role="tabpanel"] li {
  color: #ededed;
}
.tabs--has-js [role="tabpanel"] {
  display: none;
}
[role="tabpanel"].visible {
  display: block;
}
[role="tabpanel"] h2 {
  display: inline-block;
  border: none;
  color: #1357AA;
}
[role="tabpanel"] ol {
  margin-bottom: 10px;
}
[role="tab"] {
  appearance: none;
}
/*# sourceMappingURL=tabs.css.map */