:root {
  --focus-color: #097efb;
  --focus-color-dark-bg: #3b99fc;
}
@media (prefers-color-scheme: dark) {
  :root {
    --focus-color: #3b99fc;
    --focus-color-dark-bg: #097efb;
  }
}
#tabs h2 {
  margin: 0.5em 0;
}
.tabs__instructions {
  display: none;
}
.tabs--has-js .tabs__instructions {
  display: inherit;
  background: black;
  color: white;
  padding: 0.5em;
}
.enable__is-dark-mode .tabs--has-js .tabs__instructions {
  background: #333366;
  color: #ffffcc;
}
[role="tablist"] {
  float: left;
  list-style: none;
  margin: 0;
  padding-left: 2.35em;
  position: relative;
  z-index: 2;
}
@media only screen and (min-width: 1px) and (max-width: 719px) {
  [role="tablist"] {
    padding-left: 0;
  }
}
[role="tablist"] li {
  position: relative;
  /*for z-index*/
  float: left;
  margin: 0 0.1em 0 0;
  z-index: 1;
}
@media only screen and (min-width: 960px) {
  [role="tablist"] li {
    margin: 0 0.5em 0 0;
  }
}
[role="tablist"] li [role="tab"] {
  appearance: none;
  position: relative;
  font-size: 1em;
  top: 3px;
  float: left;
  overflow: hidden;
  font-weight: normal;
  text-shadow: none;
  background: #fff;
  color: #444;
  text-decoration: none;
  margin: 0.5em 0 0;
  padding: 0.5em 0.5em 0.35em;
  border-style: solid;
  border-color: #ccc;
  border-width: 2px 2px 0;
  -moz-border-radius-topleft: 0.5em;
  -moz-border-radius-topright: 0.5em;
  -webkit-border-top-left-radius: 0.5em;
  -webkit-border-top-right-radius: 0.5em;
  border-top-left-radius: 0.5em;
  border-top-right-radius: 0.5em;
  cursor: pointer;
}
.enable__is-dark-mode [role="tablist"] li [role="tab"] {
  background: #343434;
  color: #bbbbbb;
  border-color: #ccc;
}
@media only screen and (min-width: 1px) and (max-width: 719px) {
  [role="tablist"] li [role="tab"] {
    font-size: 0.8em;
  }
}
[role="tablist"] li [role="tab"]:hover,
[role="tablist"] li [role="tab"]:focus,
[role="tablist"] li [role="tab"]:active {
  border-color: #999;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}
.enable__is-dark-mode [role="tablist"] li [role="tab"]:hover,
.enable__is-dark-mode [role="tablist"] li [role="tab"]:focus,
.enable__is-dark-mode [role="tablist"] li [role="tab"]:active {
  border-color: #999;
}
[role="tablist"] li [role="tab"]:focus {
  outline-offset: 5px;
}
[role="tablist"] li [role="tab"]:focus:not(:focus-visible) {
  outline: none;
}
[role="tablist"] li [role="tab"]:focus-visible {
  outline-offset: 5px;
}
[role="tablist"] li [role="tab"]:active {
  top: 2px;
}
[role="tablist"] li [role="tab"][aria-selected="true"] {
  background: #c0dcee;
  border-color: #999;
  border-bottom: #c0dcee 4px solid;
  color: #444;
  font-weight: bold;
}
.enable__is-dark-mode [role="tablist"] li [role="tab"][aria-selected="true"] {
  background: #526068;
  border-color: #ccc;
  border-bottom: 4px solid #526068;
}
[role="tabpanel"] {
  position: relative;
  /*for z-index*/
  visibility: visible;
  clear: left;
  overflow: auto;
  padding: 0.5em 3em 2em;
  border-radius: 1em;
  z-index: 1;
  border: 2px solid #999;
  color: #444;
  background-color: #c0dcee;
}
[role="tabpanel"] a {
  color: #8c5000;
}
.enable__is-dark-mode [role="tabpanel"] {
  border: 2px solid #ccc;
  color: #bbbbbb;
  background-color: #526068;
}
.enable__is-dark-mode [role="tabpanel"] a {
  color: #FFD397;
}
[role="tabpanel"] p,
[role="tabpanel"] li {
  color: #444;
}
.enable__is-dark-mode [role="tabpanel"] p,
.enable__is-dark-mode [role="tabpanel"] li {
  color: #ededed;
}
.tabs--has-js [role="tabpanel"] {
  display: none;
}
@media only screen and (min-width: 1px) and (max-width: 719px) {
  [role="tabpanel"] {
    border-radius: 0 1em 1em 1em;
  }
}
[role="tabpanel"].visible {
  display: block;
}
[role="tabpanel"] h2 {
  display: inline-block;
}
[role="tabpanel"] ol {
  margin-bottom: 10px;
}
[role="tab"] {
  appearance: none;
}
/*# sourceMappingURL=tabs.css.map */