.zoltan {
  this: that;
}
#tabs h2 {
  margin: 0.5em 0;
}
.tabs__instructions {
  display: none;
}
.tabs--has-js .tabs__instructions {
  display: inherit;
  background: black;
  color: white;
  padding: 0.5em;
}
[role="tablist"] {
  float: left;
  list-style: none;
  margin: 0;
  padding-left: 2.35em;
  position: relative;
  z-index: 2;
}
@media only screen and (min-width: 1px) and (max-width: 719px) {
  [role="tablist"] {
    padding-left: 0;
  }
}
[role="tablist"] li {
  position: relative;
  /*for z-index*/
  float: left;
  margin: 0 0.1em 0 0;
  z-index: 1;
}
@media only screen and (min-width: 960px) {
  [role="tablist"] li {
    margin: 0 0.5em 0 0;
  }
}
[role="tablist"] li [role="tab"] {
  appearance: none;
  position: relative;
  font-size: 1em;
  top: 3px;
  float: left;
  overflow: hidden;
  font-weight: normal;
  text-shadow: none;
  background: #fff;
  color: #444;
  text-decoration: none;
  margin: 0.5em 0 0;
  padding: 0.5em 0.5em 0.35em;
  border-style: solid;
  border-color: #ccc;
  border-width: 2px 2px 0;
  -moz-border-radius-topleft: 0.5em;
  -moz-border-radius-topright: 0.5em;
  -webkit-border-top-left-radius: 0.5em;
  -webkit-border-top-right-radius: 0.5em;
  border-top-left-radius: 0.5em;
  border-top-right-radius: 0.5em;
  cursor: pointer;
}
@media only screen and (min-width: 1px) and (max-width: 719px) {
  [role="tablist"] li [role="tab"] {
    font-size: 0.8em;
  }
}
[role="tablist"] li [role="tab"]:link {
  border-color: #ccc;
}
[role="tablist"] li [role="tab"]:hover,
[role="tablist"] li [role="tab"]:focus,
[role="tablist"] li [role="tab"]:active {
  border-color: #999;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}
[role="tablist"] li [role="tab"]:focus {
  outline-offset: 5px;
}
[role="tablist"] li [role="tab"]:focus:not(:focus-visible) {
  outline: none;
}
[role="tablist"] li [role="tab"]:focus-visible {
  outline-offset: 5px;
}
[role="tablist"] li [role="tab"]:active {
  top: 2px;
}
[role="tablist"] li [role="tab"][aria-selected="true"] {
  background: #c0dcee;
  border-color: #999;
  border-bottom: #c0dcee 4px solid;
  font-weight: bold;
}
[role="tablist"][aria-selected="true"] a {
  top: 2px;
  font-weight: bold;
  color: #333;
  background: #fafafa;
  border-color: #999;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}
[role="tablist"][aria-selected="true"] a:hover,
[role="tablist"][aria-selected="true"] a:focus {
  color: #333;
  background-color: #fafafa;
}
[role="tablist"][aria-selected="true"] a span {
  position: absolute;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
  opacity: 0;
}
[role="tabpanel"] {
  position: relative;
  /*for z-index*/
  visibility: visible;
  clear: left;
  overflow: auto;
  padding: 0.5em 3em 2em;
  border: 2px solid #999;
  border-radius: 1em;
  z-index: 1;
  color: #333;
  background-color: #c0dcee;
}
.tabs--has-js [role="tabpanel"] {
  display: none;
}
@media only screen and (min-width: 1px) and (max-width: 719px) {
  [role="tabpanel"] {
    border-radius: 0 1em 1em 1em;
  }
}
[role="tabpanel"].visible {
  display: block;
}
[role="tabpanel"] h2 {
  display: inline-block;
}
[role="tabpanel"] ol {
  margin-bottom: 10px;
}
[role="tab"] {
  appearance: none;
}
