.font-heading-3 {
  font-family: "OpenSans", "Helvetica", "Arial", sans-serif;
  font-weight: bold;
  padding-top: 20px;
  font-size: 1.25rem;
  border-bottom: double 3px #000;
}
.text-resize__hero {
  position: relative;
  color: #fff;
}
.text-resize__hero--image {
  width: 100%;
}
.text-zoom .text-resize__hero--image {
  clip-path: inset(66vw 0 0 0);
  margin-top: -66vw;
}
.text-resize__hero--text {
  position: absolute;
  top: 6vw;
  left: 10px;
  width: calc(100% - 20px);
  max-width: initial;
  transform: none;
  background: rgba(0, 0, 0, 0.7);
  padding: 10px;
  text-align: center;
}
.text-zoom .text-resize__hero--text {
  position: static;
  transform: none;
  width: 100%;
  max-width: initial;
  background: #000;
}
.text-resize__hero--main-text {
  line-height: 1;
  font-size: 1.25rem;
  font-weight: bold;
}
.text-resize__hero--sub-text {
  margin-bottom: 0;
  font-size: 0.75rem;
}
@media only screen and (min-width: 455px) {
  .text-resize__hero--text {
    top: 37vw;
    transform: translateY(-50%);
  }
  .text-resize__hero--main-text {
    font-size: 3.75rem;
  }
  .text-resize__hero--sub-text {
    font-size: 0.9375rem;
  }
}
@media only screen and (min-width: 720px) {
  .text-resize__hero--text {
    left: 30px;
    top: 50%;
    width: 40vw;
    transform: translateY(-50%);
    max-width: 395px;
  }
  .text-zoom .text-resize__hero--image {
    clip-path: none;
    margin-top: 0;
  }
}
