[role="textbox"] {
  display: inline-block;
  width: 200px;
  font-size: 1rem;
  line-height: 1.375;
  height: 1.375rem;
  border: solid 1px black;
  background: #fff;
}
[role="textbox"][aria-multiline="true"] {
  min-height: 2.75rem;
  overflow: auto;
  -webkit-appearance: textarea;
  -khtml-appearance: textarea;
  -ms-appearance: textarea;
  -moz-appearance: textarea;
  appearance: textarea;
  resize: both;
}
