.enable-toast__controls {
  margin-bottom: 1.25rem;
  display: flex;
  flex-direction: column;
  gap: 0.625rem;
}
.enable-toast__controls .enable-toast__control-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.625rem;
}
.enable-toast__controls label {
  font-weight: normal;
}
.enable-toast__controls .enable-toast__button-group {
  display: flex;
  gap: 0.625rem;
}
