.enable-toast__container {
  position: fixed;
  z-index: 9999;
  display: flex;
  transition: all 0.5s ease-in-out;
}
.enable-toast__container--bottom-right,
.enable-toast__container--bottom-left,
.enable-toast__container--bottom-center {
  bottom: 20px;
}
.enable-toast__container--top-right,
.enable-toast__container--top-left,
.enable-toast__container--top-center {
  top: 20px;
}
.enable-toast__container--bottom-right,
.enable-toast__container--top-right {
  right: 20px;
}
.enable-toast__container--bottom-left,
.enable-toast__container--top-left {
  left: 20px;
}
.enable-toast__container--top-center,
.enable-toast__container--bottom-center,
.enable-toast__container--middle-center {
  left: 50%;
  transform: translateX(-50%);
}
.enable-toast__container--middle-center {
  top: 50%;
  transform: translate(-50%, -50%);
}
.enable-toast__toast {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px 0;
  background: #333;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}
.enable-toast__toast--visible {
  opacity: 1;
}
.enable-toast__toast--exit {
  opacity: 0;
}
.enable-toast__close-button {
  background: none;
  border: none;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}
.enable-toast__close-button:hover {
  color: #ff0000;
}
.enable-toast__rack {
  position: fixed;
  top: 20px;
  right: 20px;
  background: rgba(241, 241, 241, 0.9);
  border: 1px solid #ddd;
  padding: 10px;
  width: 300px;
  max-height: 400px;
  overflow-y: auto;
  display: none;
  z-index: 9998;
}
