.font-heading-3 {
  font-family: "OpenSans", "Helvetica", "Arial", sans-serif;
  font-weight: bold;
  padding-top: 20px;
  font-size: 1.25rem;
  border-bottom: double 3px #000;
}
.tooltip {
  display: block;
  background: black;
  color: white;
  padding: 0.5rem;
  max-width: 20rem;
  position: absolute;
  border-radius: 0.5rem;
  z-index: 2147483647;
  /* 
     * We put a transparent border here for Windows High Contrast Mode. 
     * Otherwise, the background will blend into the content underneath.
    */
  border: 1px solid transparent;
  /* Additional tooltip styles */
}
.tooltip:before {
  content: "";
  width: 3;
  height: 3;
  position: absolute;
  left: 0.1rem;
  /* Again, we put a transparent border here for Windows High Contrast Mode */
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid black;
}
.tooltip:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1.1rem;
  top: -1.1rem;
  left: 0;
}
.tooltip--hidden {
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  margin: -1px;
}
.tooltip.tp:before {
  top: -0.5rem;
}
.tooltip.btm:before {
  bottom: -0.5rem;
  transform: rotate(180deg);
}
.icon-button {
  width: 20px;
  height: 20px;
  background-color: blue;
  border-radius: 50%;
  /* to make it circular */
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: bold;
  font-size: 12px;
  /* adjust font size as needed */
  border: none;
  cursor: pointer;
}
.icon-button:focus-visible {
  /* Ensure the focus style is distinct from the background */
  outline: solid 2px #3b99fc;
  outline-offset: 2px;
}
.icon-button:hover {
  /* Hover styling */
  transition: background-color 0.3s ease;
  /* smooth transition */
  background-color: darkblue;
  /* Example darker background on hover */
}
