/*
 * Class for elements that are only visible to the screen reader. From
 * https://www.paciellogroup.com/blog/2012/05/html5-accessibility-chops-hidden-and-aria-hidden/
 */
.tooltip {
  display: block;
  background: black;
  color: white;
  padding: 0.5rem;
  max-width: 20rem;
  position: absolute;
  border-radius: 0.5rem;
}
.tooltip:before {
  content: "";
  width: 1rem;
  height: 1rem;
  background: black;
  position: absolute;
  top: -0.5rem;
  left: 2rem;
  transform: rotate(45deg);
}
.tooltip--hidden {
  clip: rect(1px 1px 1px 1px);
  /* IE 6/7 */
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  margin: -1px;
}
