__checkbox:focus + __label {
  outline: solid 2px #3b99fc;
}
.enable__video-player {
  background: rgba(18, 21, 30, 0.8);
}
.enable__video-player .able {
  margin-bottom: 0;
}
.enable__video-player .able .able-big-play-button.icon-play {
  width: 100% !important;
  height: 100% !important;
}
.enable__video-player .able .able-big-play-button.icon-play:hover:before {
  width: 119px;
  height: 119px;
  top: calc(50% + 10px);
  left: calc(50% + 10px);
  transform: translate(calc(-50% - 10px), calc(-50% - 10px));
}
.enable__video-player .able-timer {
  bottom: 9px;
  position: relative;
}
.enable__video-player .able-wrapper {
  margin: -21px 0 !important;
}
.enable__video-player .able-media-container iframe {
  width: 100%;
  height: 210px;
}
.enable__video-player .able-controller {
  background-color: #00113a;
  padding: 0 10px 10px;
  height: 62px;
  display: inline-block;
  width: 100%;
}
.enable__video-player .able-controller .buttonOff {
  opacity: 1;
}
.enable__video-player .able-controller div[role=button] {
  display: flex;
  align-items: center;
  justify-content: center;
}
.enable__video-player .able-controller div[role=button] svg {
  width: px-to-rem(24px);
  height: px-to-rem(24px);
}
.enable__video-player .able-right-controls {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  column-gap: px-to-rem(20px);
}
.enable__video-player .able-right-controls div[role="button"]:not(.buttonOff):not(.able-button-handler-fullscreen):not(.able-button-handler-volume):after {
  content: '';
  bottom: -5px;
  width: 100%;
  height: 2px;
  background-color: #eb0028;
  position: absolute;
  left: 13px;
  transform: translate(-50%, 50%);
}
.enable__video-player .icon-play {
  opacity: 1;
}
.enable__video-player .icon-play:before {
  content: " ";
  background: url(../../../Content/images/play-icon.png) no-repeat;
  position: absolute;
  top: 50%;
  width: 109px;
  height: 109px;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 120ms cubic-bezier(0.65, 0.05, 0.36, 1);
  background-size: contain;
}
.enable__video-player .able-captions-wrapper.able-captions-below {
  background-color: #12151e !important;
  padding: 12px;
  z-index: auto;
  position: absolute;
  bottom: 3px;
}
.enable__video-player .able-captions {
  background-color: #12151e !important;
}
.enable__video-player .able-button-handler-forward,
.enable__video-player .able-button-handler-rewind,
.enable__video-player .able-button-handler-slower,
.enable__video-player .able-button-handler-faster,
.enable__video-player .able-button-handler-slower + span,
.enable__video-player .able-button-handler-faster + span,
.enable__video-player .able-button-handler-transcript + span,
.enable__video-player .able-button-handler-restart,
.enable__video-player .able-button-handler-preferences,
.enable__video-player .able-status {
  display: none !important;
}
.enable__video-player .able-timer {
  transform: translate(40px, -29px);
  font-size: 0.875rem;
  color: #fff;
}
.enable__video-player .able-transcript {
  line-height: 1.71428571;
  height: 400px;
}
.enable__video-player .able-transcript::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}
.enable__video-player .able-transcript::-webkit-scrollbar-track,
.enable__video-player .able-transcript::-webkit-scrollbar-corner {
  background: #f4f6fe;
}
.enable__video-player .able-transcript::-webkit-scrollbar-thumb {
  background: #001D60D3;
  border-radius: 24px;
  border: 3px solid #f4f6fe;
}
.enable__video-player .able-transcript::-webkit-scrollbar-thumb:hover {
  background: #001D60;
}
.enable__video-player .able-transcript-block {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  row-gap: 24px;
}
.enable__video-player .able-transcript-seekpoint {
  transition: all 120ms cubic-bezier(0.65, 0.05, 0.36, 1);
}
.enable__video-player .able-transcript-seekpoint:hover,
.enable__video-player .able-transcript-seekpoint:focus,
.enable__video-player .able-transcript-seekpoint:active,
.enable__video-player .able-transcript-seekpoint span:hover,
.enable__video-player .able-transcript-seekpoint span:focus,
.enable__video-player .able-transcript-seekpoint span:active {
  background-color: #f4f6fe;
}
.enable__video-player .able-transcript-seekpoint.able-highlight {
  transition: all 120ms cubic-bezier(0.65, 0.05, 0.36, 1);
  background-color: transparent;
}
.enable__video-player .able-transcript-seekpoint.able-highlight .able-transcript-caption-inner {
  transition: all 120ms cubic-bezier(0.65, 0.05, 0.36, 1);
}
.enable__video-player .able-transcript-seekpoint.able-highlight .able-transcript-caption-inner:not(:first-of-type),
.enable__video-player .able-transcript-seekpoint.able-highlight .able-unspoken {
  background-color: #afb5c3;
}
.enable__video-player .able-transcript-desc {
  background-color: #f4f6fe !important;
  border-color: #f4f6fe !important;
  transition: all 120ms cubic-bezier(0.65, 0.05, 0.36, 1);
}
.enable__video-player .able-transcript-caption {
  display: grid;
  grid-template-columns: 10% 90%;
  transition: all 120ms cubic-bezier(0.65, 0.05, 0.36, 1);
}
.enable__video-player .able-transcript-area {
  height: auto;
  padding-top: 20px;
  padding-bottom: 0px;
}
.enable__video-player .able-transcript-area::before {
  font-size: 1.125rem;
  content: "Transcript";
  color: #12151e;
  padding: 25px;
}
.enable__video-player .able-volume-slider {
  height: 70px;
  background-color: #00113a;
}
.enable__video-player .able-volume-track {
  width: 0;
}
.enable__video-player .able-button-handler-transcript svg path {
  clip-rule: evenodd;
  fill: #ffffff;
  fill-rule: evenodd;
}
.enable__video-player .able-button-handler-captions svg path {
  fill: #ffffff;
  stroke: #ffffff;
}
.enable__video-player .able-volume-head {
  height: 12px;
  width: 12px;
  left: -6px;
  border-radius: 50%;
  display: inline-block;
}
.enable__video-player .able-volume-head:hover,
.enable__video-player .able-volume-head:focus {
  background-color: #ffffff !important;
}
.enable__video-player .able-status-bar {
  min-height: 0;
  height: 0;
  padding: 0;
}
.enable__video-player .able-seekbar {
  border: none !important;
  background-color: #ffffff;
  height: px-to-rem(4px);
  margin: 0 -10px !important;
  transition: all 120ms cubic-bezier(0.65, 0.05, 0.36, 1);
}
.enable__video-player .able-seekbar-wrapper {
  width: 100% !important;
  margin: auto !important;
  transform: translateY(-10px);
  transition: all 120ms cubic-bezier(0.65, 0.05, 0.36, 1);
}
.enable__video-player .able-seekbar-wrapper:hover .able-seekbar-head {
  opacity: 1;
}
.enable__video-player .able-seekbar-wrapper:hover .able-seekbar,
.enable__video-player .able-seekbar-wrapper:hover .able-seekbar-played,
.enable__video-player .able-seekbar-wrapper:hover .able-seekbar-loaded {
  height: px-to-rem(5px);
}
.enable__video-player .able-seekbar-played {
  background-color: #ff1414;
  height: px-to-rem(4px);
  transition: height 120ms cubic-bezier(0.65, 0.05, 0.36, 1);
}
.enable__video-player .able-seekbar-loaded {
  height: px-to-rem(4px);
  background-color: #ffffff;
  transition: height 120ms cubic-bezier(0.65, 0.05, 0.36, 1);
}
.enable__video-player .able-seekbar-head {
  display: inline-block;
  color: #eb0028;
  background-color: #eb0028;
  top: -4px;
  opacity: 0;
  transition: opacity 120ms cubic-bezier(0.65, 0.05, 0.36, 1);
}
.enable__video-player .able-window-toolbar {
  background-color: #ffffff;
  border-bottom: 0.7px solid #d7dce7;
  margin: 0 20px;
}
.enable__video-player .able-window-toolbar label {
  color: black;
  font-size: 10px;
}
.enable__video-player .close {
  position: absolute;
  right: 32px;
  top: 32px;
  width: 30px;
  height: 30px;
  z-index: 9999999;
  color: #ffffff;
  opacity: 1;
}
.enable__video-player .close:before,
.enable__video-player .close:after {
  position: absolute;
  left: 15px;
  content: " ";
  height: 30px;
  width: 2px;
  background-color: #ffffff;
}
.enable__video-player .close:before {
  transform: rotate(45deg);
}
.enable__video-player .close:after {
  transform: rotate(-45deg);
}
__video-player .able-descriptions {
  display: none !important;
}
__video-player .able-wrapper.is-fullscreen .able-media-container iframe {
  height: calc(100vh - 0px);
}
__video-player .able-wrapper.is-fullscreen .able-controller {
  position: absolute;
  bottom: 0;
  width: 100%;
}
__video-player .able-wrapper.is-fullscreen .able-player.able-video {
  z-index: 2;
}
__video-player .able-wrapper.is-fullscreen .able-captions-wrapper.able-captions-overlay {
  bottom: 54px;
  background-color: #12151e !important;
  padding: 18px;
  z-index: 0;
  position: absolute;
}
__video-player .able-wrapper.is-fullscreen button.able-big-play-button {
  height: calc(100vh - 60px) !important;
  clip: rect(0 calc(100vw - 50px) 100vh 0);
}
@supports (clip-path: polygon(50% 0, 100% 50%, 50% 100%, 0 50%)) {
  __video-player .able-wrapper.is-fullscreen button.able-big-play-button {
    clip: auto;
    clip-path: polygon(0 0, 100% 0, 100% calc(100% - 65px), calc(100% - 45px) calc(100% - 65px), calc(100% - 45px) 100%, 0 100%);
  }
}
__video-player .able-wrapper.is-fullscreen .able-vidcap-container {
  height: 100vh !important;
}
@media only screen and (min-width: 720px) {
  __text {
    text-align: left;
    max-width: 40% !important;
  }
  __descrption-btn {
    width: auto;
  }
  __container--row {
    flex-direction: row;
  }
  __media--play-icon {
    top: 40%;
    left: 45%;
  }
  __video-player .able-media-container iframe {
    height: 290px;
  }
}
@media only screen and (min-width: 960px) {
  __video-player .able-media-container iframe {
    height: 458px;
  }
}
/*
  @include breakpoint-screen-up("xl") {
    .able-transcript-area {
      max-width: px-to-rem(389px);
      height: px-to-rem(523px);
    }
    &__text {
      text-align: left;
    }
    &__text--left {
      padding: 32px 42px 0 18px !important;
    }
    &__text--right {
      padding: 32px 18px 0 42px !important;
    }
    &__descrption-btn {
      width: auto;
    }
    &__container {
      max-width: px-to-rem(1366px);
    }
  }
  */
@media only screen and (min-width: 720px) {
  .text-on-left .split-banner-wrapper__text--right {
    display: none;
  }
  .text-on-left .split-banner-wrapper__text--left {
    display: block;
  }
}
@media only screen and (min-width: 1px) and (max-width: 959px) {
  __video-player .able-transcript-area {
    width: 100% !important;
    top: auto !important;
    left: auto !important;
  }
}
__video-player .able-transcript-area {
  margin-top: 19px;
}
.modal-content {
  background-color: transparent;
}
.modal-content.has-transcript {
  background-color: transparent;
}
@media only screen and (min-width: 720px) and (max-width: 959px) {
  .able-transcript-area {
    position: static !important;
    width: 100% !important;
  }
}
@media only screen and (min-width: 960px) {
  .modal-content .able {
    margin-top: 0;
  }
  .modal-content .able-transcript-area {
    top: 2px !important;
  }
}
@media only screen and (min-width: 1px) and (max-width: 719px) {
  __description {
    line-height: 1.71428571;
  }
  __headline {
    line-height: 1.14285714;
  }
  .able-right-controls {
    column-gap: px-to-rem(8px);
  }
}
