.font-heading-3 {
  font-family: "OpenSans", "Helvetica", "Arial", sans-serif;
  font-weight: bold;
  padding-top: 20px;
  font-size: 1.25rem;
  border-bottom: double 3px #000;
}
.eliza #notification-area {
  position: fixed;
  left: 15px;
  top: 10px;
  width: 200px;
  z-index: 100;
}
.eliza .notification-wrapper {
  width: 100%;
  padding: 4px 8px;
  border-radius: 5px;
  margin-bottom: 6px;
}
.eliza .positive-notification {
  background-color: #D8F6CE;
}
.eliza .info-notification {
  background-color: #F5D0A9;
}
.eliza .negative-notification {
  background-color: #8A0808;
}
.eliza .notification-text {
  font-family: 'Lato', sans-serif;
  font-size: 0.75rem;
}
.eliza .notification-hiding-text {
  font-family: 'Lato', sans-serif;
  font-size: 0.625rem;
}
.eliza .dark-text {
  color: #2e2e2e;
}
.eliza .light-text {
  color: white;
}
