@import "shared/reset";
@import "shared/defaults";
@import "shared/a11y";
@import "shared/landmarks";
@import "table";

table {
    td:first-child,
    td:nth-child(2) {
        font-family: "Consolas",  monospace;
    }
}

 