@import "shared/mixins-and-vars";

.enable-drawer {
    margin: 20px 0;
}

main strong {
    background: white;
}

@media (prefers-color-scheme: dark) {
    main strong {
        background: #222;
    }
}
