@import "shared/mixins-and-vars";


/* From the old stuff */

@checkbox-size: 24;
@checkbox-border: 1;

/* These are the styles for the ARIA example */
[role="checkbox"] {
  display: inline-block;
  position: relative;
  width: (@checkbox-size/@px);
  height: (@checkbox-size/@px);
  margin: (4/@px) (8/@px) (4/@px) (4/@px);
  border: (@checkbox-border/@px) solid #444;

  background: rgb(224, 224, 224);
  .gradient(linear; rgb(255, 255, 255),rgb(224,224,224));
  vertical-align: bottom;

  &[aria-checked="true"] {
    &:after {
      content: "✓";
      display: block;
      position: absolute;
      top: (6/@px);
      left: (5/@px);
      width: 1em;
      color: #060;
      font-size: 0.875em;
      line-height: 1em;
      text-align: center;
      text-shadow: 0 0 0.0714em rgb(115, 153, 77);
      font-weight: bold;
      transform: scale(2.5) translateY(-2px);
    }
  }
}



/* This is the CSS to style the custom HTML5 checkbox */
.enable-checkbox {
  @width-checkbox: 16;

  input[type="checkbox"] {

    /*Adding focus styles on the outer-box of the fake checkbox*/
    .enable-focus(
      {
        + label::before {
          outline: @focus-color auto 5px;
        }
      }, {
        + label::before {
          outline: none;
        }
      }
    );

    &, & + label::before {
      .vendor(appearance, none);
      box-sizing: border-box;
      width: (@width-checkbox / @px);
      height: (@width-checkbox / @px);
      margin: 0;
      padding: 0;
      display: inline-block;
      border: solid 1px #333;
    }

    /*Hide the checkmark by default*/
    + label::after {
      content: none;
    }

    /*Unhide on the checked state*/
    &:checked + label::after {
      content: "";
      height: ((0.31 * @width-checkbox)  / @px);
      width: ((0.87 * @width-checkbox) / @px);
      border-left: (2 / @px) solid #600;
      border-bottom: (2 / @px) solid #600;

      transform: rotate(-45deg) scale(2);

      left: ((0.43 * @width-checkbox) / @px);
      top: ((-0.31 * @width-checkbox) / @px);
    }

    + label {
      position: absolute;
      display: inline-block;

      /*16px width of fake checkbox + 6px distance between fake checkbox and text*/
      margin-left: ((0 - @width-checkbox ) / @px);

      &::before,
      &::after {
        position: absolute;
        content: "";

        /*Needed for the line-height to take effect*/
        display: inline-block;
        pointer-events: none;
      }

      
    }
  }
}


/* These are styles just for the global error */
.error {
  text-align: left;
  color: #e60000;

  &::before {
    content: '';
    background-image: url('../images/error.svg');
    background-size: 0.7rem 0.7rem;
    display: inline-block;
    width: 0.7rem;
    height: 0.7rem;
    margin-right: 0.5em;
  }
}