@import "shared/all";

.enable-combobox {
	/* pc is positioning context */ 
	position: relative;
	width: 30em;
	max-width: 400px;
	font-size: 100%;
	font-family: sans-serif;

	[hidden] {
		display: none !important;
	}

	input[role="combobox"] {
		font-size: 12px;
		height: 1.5em;
		width: 100%; /* of pc */
		border: solid 1px #000;
		min-height: 1em;
		padding: 0.9em 0.5em;
		box-sizing: border-box;
	}
	[role="status"] {
		position: absolute;
		top: 0.3em;
		right: 0.5em;
		font-size: 0.8em;
		color: #777;
	}
	ul[role="listbox"] {
		position: absolute;
		margin: 0;
		padding: 0;
		list-style: none;
		top: 1.5em;
		left: 0;
		background-color: #fff;
		border: solid 1px #ccc;
		width: 100%; /* of pc */
		box-sizing: border-box;
	}
	li[role="option"] {
		display: block;
		margin: 0;
		padding: 0.3em 0.5em;
		list-style: none;
		font-size: 12px;
		cursor: pointer;
	}
	li[role="option"]:hover {
		color: #000;
		background-color: #ccc;
	}

	[aria-selected="true"] {
		color: #fff;
		background-color: #666;
	}
}
