.context-menu {
  &__example {
    display: none;
  }

  &__list {
    display: block;
    position: fixed;
    z-index: 99;

    list-style-type: none;
    padding: 0;
    margin-top: 0;
    margin-left: 0;
    width: 200px;
    background: white;
    border: 1px solid #ddd;
    border-radius: 4px;
    outline: none;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #444;

    .listItem {
      padding: 4px 12px 4px 26px;
      cursor: pointer;
      display: flex;
      justify-content: space-between;
      align-items: center;
      color: #6f42c1;

      &:hover {
        background: #6f42c1;
        color: #fff;
      }
    }

    &__item {
      .listItem();

      &__divider {
        height: 1px;
        background: #6f42c1;
        margin: 4px 8px;
      }

      &__disabled {
        .listItem();
        color: #ccc;
        cursor: default;

        &:hover {
          background: unset;
          color: #ccc;
        }
      }

      &__withIcon {
        .listItem();
        padding-left: 4px;
        justify-content: flex-start;
        gap: 4px;

        &__icon {
          width: 16px;
          height: 16px;
        }
      }
    }
  }
}
