@import "shared/mixins-and-vars";

.enable-visible-on-focus {
  @skip-link-width: 100%;

  &--mobile {

    /* Here is the general styles of the link */
    box-sizing: border-box;
    position: relative;
    display: inline-block;
    background: #225502;
    color: #fff;
    padding: 1px;
    text-decoration: none;
    font-weight: bold;
    text-align: center;

    /* Make sure the width and margin-left are the same value */
    width: @skip-link-width;
    margin-left: @skip-link-width;

    &:focus {
      /*
      * We use a negative outline-offset here. If we didn't,
      * the outline would get cut off due to the container's
      * `overflow: hidden` property
      */
      outline-offset: -1px;
    }
  }

  &__container {

    &--mobile {
      display: block;
      width: @skip-link-width;
      margin: 0;
      overflow: hidden;
      pointer-events: none;

      // to make it hidden
      clip: rect(1px, 1px, 1px, 1px);
      position: absolute;

      &:focus-within {
        outline: solid 2px @focus-color;
        outline-offset: 2px;
        z-index: 2;
      }

      &--visible {
        clip: auto;
        position: relative;
        pointer-events: auto;
      }
    }
  }
}

.enable-skip-link {
  &--begin {
    top: 0;
  }

  &--end {
    bottom: 0;
  }
}

/* This is just a mock of the component */
.fake-component {
  display: block;
  background: black;
  height: 200px;
  width: 100%;
  position: relative;
}
