@import "shared/mixins-and-vars";

figure,
[role="figure"] {
    display: table;
    margin: 40px auto 0 auto;
    padding: 1em;
    border: solid 1px #ccc;
    background: #ffffcc;

    img {
        max-width: 100%;
    }

    figcaption,
    span {
        text-align: center;
        font-family: 'Times New Roman', Times, serif;
        font-style: italic;
        display: table-caption;
        caption-side: bottom;
        margin-bottom: 2rem;
        margin-top: 1rem;
    }

    code {
        display: block;
        padding: 1em;
        background: @color-background-term-code;
        color: @color-term-code;
        width: 100%;
        border: solid 1px #ccc;
    }

    &.wide {
        width: 100%;
    }
}


a.tile-cta {
    @height: (30/@px);

    display: block;
    padding: 0 20px 0 30px;
    border-radius: (@height / 2);
    color: white;
    background-color: rgb(48, 48, 248);
    width: fit-content;
    height: @height;
    line-height: @height;
    font-weight: bold;
    text-decoration: none;
    position: relative;
    margin: 30px auto;

    &::after {
        content: url("../images/chevron-right.svg");
        filter: invert();
        transform: scale(0.8) translateY(6/@px);
        display: inline-block;
    }
}