@import "shared/mixins-and-vars";

figure,
[role="figure"] {
    width: 80%;
    margin: 0 auto;
    padding: 1em;

    figcaption,
    span {
        display: block;
        margin-top: 1rem;
        text-align: center;
        font-family: 'Times New Roman', Times, serif;
        font-style: italic;
    }

    code {
        display: block;
        padding: 1em;
        background: black;
        color: #00ff00;
        width: 100%;
        border: solid 1px #ccc;
    }
}