@import "shared/mixins-and-vars";

#double-focus-ring-example {
    background-image: linear-gradient(to right, #fffbd5, #b20a2c);

    a {
        margin: 5px;
        padding: 10px;
        background: #ffffcc;
        display: inline-block;
    }

    * {
        .enable-focus(
      {
        outline: solid 2px @focus-color;
        box-shadow: 3px 3px 0 white,
          -3px -3px 0 white,
          -3px 3px 0 white,
          3px -3px 0 white;
      },
      {
        outline: none;
        box-shadow: none;
      }
    );
    }
}

@media (prefers-color-scheme: dark) {
    #double-focus-ring-example {
        a {
            background: #7d5d12;
            color: #c9e0fd;
        }
        a:visited {
            color: #c589f9;
        }
    }
}
