@import "shared/reset";
@import "shared/defaults";
@import "shared/a11y";

label,
input[type=submit] {
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0;
  padding-bottom: 0;
}

input[type=submit] {
  margin-bottom: 1em;
}

fieldset,
.aria-form-group {
  padding: 0.5em;
  margin-top: 1em;
  padding-top: 1em;
  background-color: #EEEEEE;
}

fieldset legend {
  position: relative;
  top: 1.5em;
  border-color: #AAAAAA;
  font-weight: bold;
  font-size: 1em;
}

fieldset label {
  font-weight: normal;
}