// Color variables (appears count calculates by raw css)
@color0: #fff; // Appears 4 times
@color1: #494a50; // Appears 3 times
@color2: #a5a5a4; // Appears 2 times
@color3: #20c270; // Appears 2 times
@anim-time: 0.2s;
@large-anim-time: 0.2s;

@menu-orientation: right;


// Height variables (appears count calculates by raw css)
@height0: 100%; // Appears 3 times

@media screen and (max-width: 600px) {
    .pushNav {
      width: 75%;
      right: -75%;
      visibility: hidden;
    }
  }
  
  @media screen and (min-width: 601px) {
    .pushNav {
      width: 350px;
      right: -350px;
      visibility: hidden;
    }
  }

ul.pushNav {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.pushNav {
	background: #2e2f35;
	color: @color0;
	font-family: helvetica, sens-serif;
	font-size: 1em;
	font-weight: 100;
	height: @height0;
	overflow: hidden;
	position: fixed;
	text-decoration: none;
	top: 0;
	transition: visibility 0s, all ease-in-out @large-anim-time;
	z-index: 100;
	hr {
		border: 1px solid #555555;
	}
	a, button {
		color: @color0;
		display: block;
		font-family: helvetica, sens-serif;
		font-size: 1em;
		font-weight: 100;
		padding: 1em 0;
		text-decoration: none;
		text-indent: 20px;
		transition: background @anim-time ease-in-out;
		width: 100%;
		background: transparent;
		border: none;
		text-align: left;
		/* Corrects inability to style clickable `input` types in iOS */
		-webkit-appearance: none;
		&:hover {
			background: @color1;
		}
	}
}
.pushNavIsOpen {
	height: @height0;
	overflow: auto;
	.screen {
		height: @height0;
		opacity: 1;
	}
}
.js-topPushNav.isOpen {
	right: 0;
    visibility: visible;
}
.pushNav_level.isOpen {
	right: 0;
    visibility: visible;
}
.closeLevel {
	color: @color2;
	cursor: pointer;
	display: block;
	font-size: 1em;
	padding: 1em 0;
	text-indent: 20px;
	transition: background @anim-time ease-in-out;
	&:hover {
		background: @color1;
	}
}
.openLevel {
	cursor: pointer;
	display: block;
	padding: 1em 0;
	text-indent: 20px;
	transition: background @anim-time ease-in-out;
	&:hover {
		background: @color1;
	}
}
.hdg {
	background-color: #1e1e24;
}
closelevel>i {
	color: @color2;
	font-size: 1em;
}
.burger {
	position: absolute;
	right: 48px;
	top: 24px;
	i {
		font-size: 3em;
	}
}
.screen {
	background: rgba(0, 0, 0, 0.7);
	bottom: 0;
	height: 0;
	opacity: 0;
	position: fixed;
	right: 0;
	top: 0;
	transition: opacity @large-anim-time ease-in-out;
	width: 100%;
}
.fa {
	display: inline;
	padding: 5px;
}
body {
	background-color: black;
	background-repeat: no-repeat;
	background-size: 100% auto;
	background: url(https://static.pexels.com/photos/379600/pexels-photo-379600.jpeg);
}
.wrapper {
	color: @color0;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-size: 1.1em;
	font-weight: 100;
	line-height: 1.4em;
	margin: 120px auto;
	max-width: 625px;
	padding: 0 20px;
	a {
		color: @color3;
		text-decoration: none;
	}
	button {
		background-color: @color3;
		border: none;
		display: block;
		margin: 50px auto;
		padding: 10px 40px;
		&:hover {
			background-color: #18a960;
		}
		a {
			color: @color0;
			font-size: 2em;
		}
	}
}

button.burger {
    border: none;
    margin: 0;
    padding: 0;
    width: auto;
    overflow: visible;

    background: transparent;

    /* inherit font & color from ancestor */
    color: inherit;
    font: inherit;

    /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
    line-height: normal;

    /* Corrects font smoothing for webkit */
    -webkit-font-smoothing: inherit;
    -moz-osx-font-smoothing: inherit;

    /* Corrects inability to style clickable `input` types in iOS */
    -webkit-appearance: none;
}