@import "shared/mixins-and-vars";

// Color variables (appears count calculates by raw css)
@color0: #fff; // Appears 4 times
@color1: #494a50; // Appears 3 times
@color2: #a5a5a4; // Appears 2 times
@color3: #20c270; // Appears 2 times
@anim-time: 0.2s;
@large-anim-time: 0.2s;
@desktop-min: 960px;
@flyout-width: 75vw;
@desktop: ~"only screen and (min-width: @{desktop-min})"; // please use mobile first here.
@hamburger-translate-y: min(@flyout-width, 350px);
@hamburger-offset-y: calc(-1 * @hamburger-translate-y);

.icon-mixin(@img) {
  content: "";
  display: inline-block;
  width: (26/@px);
  height: (31/@px);
  background: url(@img);
  background-repeat: no-repeat;
  background-position: 0 (6 / @px);
  background-size: (20/@px) (20/@px);
  filter: invert();
  position: absolute;
  top: (7 / @px);
} 

@menu-orientation: right;

// Height variables (appears count calculates by raw css)
@height0: 100%; // Appears 3 times

* {
  box-sizing: border-box;
}


.enable-flyout {
  --enable-flyout__desktop-media-query: @desktop;
  --enable-flyout__is-hamburger: 1;
  --enable-flyout__desktop-min: @desktop-min;

  width: calc(min(@flyout-width, 350px));
  right: @hamburger-offset-y;
  background: #2e2f35;
  color: @color0;
  
  font-size: 1em;
  font-weight: 100;
  height: @height0;
  position: absolute;
  text-decoration: none;
  top: 0;
  z-index: 100;
  display: none;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  scrollbar-width: thin;

  &::-webkit-scrollbar {
    width: 2px;
  }


  &--hidden {
    display: none;
  }

  &--will-animate {
    display: block;

    .enable-flyout {
      will-change: right;
    }
  }

  &__container {
    padding: 0;
    margin-bottom: 0;
  }

  // Animation for the hamburger menu icon stolen from:
  // https://codepen.io/designcouch/pen/Atyop

  &__hamburger-icon {
    @hamburger-width: 30px;
    @hamburger-height: 30px;
    @hamburger-padding-horiz: 18px;
    @hamburger-padding-vert: 8px;
    @hamburger-height-div-five: (@hamburger-width / 5);
    @hamburger-stroke-width: 6px;

    width: @hamburger-width;
    height: @hamburger-height;

    display: block;
    position: relative;
    margin: (@hamburger-padding-vert) (@hamburger-padding-horiz);
    transform: rotate(0deg);
    transition: 0.5s ease-in-out;
    cursor: pointer;

    &-facade {
      display: block;
      width: @hamburger-width + (2 * @hamburger-padding-horiz);
      height: @hamburger-height + (2 * @hamburger-padding-vert);
      position: absolute;
      right: 2px;
      top: 0px;
      background: none;
      border: none;
    }

    span {
      display: block;
      position: absolute;
      height: @hamburger-stroke-width;
      width: 100%;
      background: currentColor;

      // This is to ensure the logo appears in Windows
      // High Contast mode.
      border: 1px solid transparent;
      border-radius: (@hamburger-stroke-width / 2);
      opacity: 1;
      left: 0;
      transform: rotate(0deg);
      transition: 0.5s ease-in-out;

      &:nth-child(1) {
        top: 0px;
      }

      &:nth-child(2),
      &:nth-child(3) {
        top: (@hamburger-height-div-five * 2);
      }

      &:nth-child(4) {
        top: (@hamburger-height-div-five * 4);
      }
    }

    .enable-flyout__open-menu-button[aria-expanded="true"] & {
      span {
        background-color: white;
      }
      span:nth-child(1) {
        top: (@hamburger-height-div-five * 2);
        width: 0%;
        left: 50%;
      }

      span:nth-child(2) {
        transform: rotate(45deg);
      }

      span:nth-child(3) {
        transform: rotate(-45deg);
      }

      span:nth-child(4) {
        top: (@hamburger-height-div-five * 2);
        width: 0%;
        left: 50%;
        outline: none;
      }
    }
  }

  &__list {
    list-style-type: none;
    margin: 0;
    padding: 50px 0 0 0;
  }

  &__separator {
    border: 1px solid #555555;
  }

  &__open-level-button,
  &__close-level-button,
  &__link {
    color: @color0;
    display: block;
    
    font-size: 1em;
    font-weight: 100;
    padding: 1em 1em 1em 0;
    text-decoration: none;
    text-indent: 20px;
    transition: background @anim-time ease-in-out;
    width: 100%;
    background: transparent;
    border: none;
    text-align: left;

    // Corrects inability to style clickable `input` types in iOS
    .vendor(appearance, none);
    &:hover {
      background: @color1;
    }

    // Fix Windows Contrast Mode cutting off focus outline.
    &:focus {
      position: relative;
      z-index: 2;
    }
  }

  &__with-home-icon {
    position: relative;
    padding-left: 32px;
    &::before {
      .icon-mixin("../images/Home.svg");
      position: static;
    }
  }

  &__menu-item {
    width: 100%;
  }

  &__open-level-button {
    padding: 25px;
    position: relative;

    &::after {
      .icon-mixin("../images/chevron-right.svg");
    }
  }

  &__body--is-open {
    height: @height0;
    overflow: hidden;
  }

  &__body--is-open &__overlay-screen {
    height: @height0;
    opacity: 1;
  }

  animation: enable-flyout__anim--mobile-close @anim-time ease-in-out forwards;
  &--is-open {
    animation: enable-flyout__anim--mobile-open @anim-time ease-in-out forwards;
    display: block;
  }

  &--is-closed {
    animation: enable-flyout__anim--mobile-open @anim-time ease-in-out reverse;
  }

  &__level&--is-open {
    animation: enable-flyout__anim--mobile-open @anim-time ease-in-out forwards;
  }

  &__level-heading {
    display: none;
  }

  &__close-level-button {
    color: @color2;
    cursor: pointer;
    display: block;
    font-size: 1em;
    padding: 1em 0;
    text-indent: 20px;
    transition: background @anim-time ease-in-out;
    position: relative;
    padding-left: 26px;

    &::before {
      .icon-mixin("../images/chevron-left.svg");
      margin-left: -33px;
    }

    &:hover {
      background: @color1;
    }
  }
  &__open-level-button {
    cursor: pointer;
    display: block;
    padding: 1em 0;
    text-indent: 20px;
    transition: background @anim-time ease-in-out;
    &:hover {
      background: @color1;
    }
  }
  &__close-level-button {
    background-color: #1e1e24;
  }

  &__open-menu-button {
    position: absolute;
    right: 2px;
    top: 0;
    z-index: 101;

  }

  &__overlay-screen {
    background: rgba(0, 0, 0, 0.7);
    bottom: 0;
    height: 0;
    opacity: 0;
    position: fixed;
    right: 0;
    top: 0;
    transition: opacity @large-anim-time ease-in-out;
    width: 100%;
    z-index: 3;
  }

  &__open-menu-button {
    background-color: @color3;
    border: none;
    display: block;
    margin: 50px auto;
    padding: 10px 40px;
    a {
      color: @color0;
      font-size: 2em;
    }
  }

  &__open-menu-button {
    border: none;
    margin: 0;
    padding: 0;
    width: auto;
    overflow: visible;

    background: transparent;

    // inherit font & color from ancestor
    color: inherit;
    font: inherit;

    // Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+.
    line-height: normal;

    // Corrects font smoothing for webkit
    -webkit-font-smoothing: inherit;
    -moz-osx-font-smoothing: inherit;

    // Corrects inability to style clickable `input` types in iOS
    .vendor(appearance, none);
  }

  /* These items are hidden in the mobile breakpoint */
  &__link-image {
    display: none;
  }

  @media @desktop {
    width: 100%;
    visibility: visible;
    right: auto;
    margin: 0;
    left: 0px;
    animation: enable-flyout__anim--desktop-close @anim-time ease-in-out
      forwards;
    top: auto;
    height: auto;
    min-height: auto;

    --enable-flyout__is-hamburger: 0;
    
    &__hamburger-icon {
      &-facade {
        display: none;
      }
    }

    &__top-level {
      position: relative;
    }

    &__open-menu-button {
      display: none;
    }

    &__list {
      padding-top: 0;
    }

    &--is-open {
      animation: enable-flyout__anim--desktop-open @anim-time ease-in-out
        forwards;
      visibility: visible;
      border-bottom: 1px solid #ccc;
      box-shadow: 0 5px 5px #999;
    }

    &--is-closed {
      animation: enable-flyout__anim--desktop-open @anim-time ease-in-out
        reverse;
    }

    &__level&--is-open {
      animation: enable-flyout__anim--desktop-open @anim-time ease-in-out
        forwards;
      visibility: visible;
      padding-bottom: 3em;
      padding-left: calc(50vw - (@desktop-min / 2));
      padding-right: calc(50vw - (@desktop-min / 2));
    }

    &__open-level-button,
    &__close-level-button,
    &__link {
      &:hover {
        background: none;
        font-weight: bold;
      }
    }

    &__level {
      display: none;
      overflow: visible;
    }

    &__level-heading {
      font-weight: bold;
      font-size: (26 / @px);
      border-bottom: 1px solid #999;
      padding: 20px 20px 0 20px;
      display: block;
      text-align: left;
    }

    &__top-level {
      display: block;
      height: auto;
      overflow: visible;
    }

    &--is-open {
      .enable-flyout__open-level-button {
        display: none;
      }
    }

    &--is-open &__level {
      display: block;
      position: static;
      background: white;
      color: black;
      width: 100%;
    }

    &__menu-item {
      width: auto;
    }

    &--is-open &__menu-item {
      width: 100%;
    }

    &__list--photo-layout &__menu-item {
      width: (100% / 5);
      float: left;
      margin: 0;
    }

    &__list--photo-layout &__link {
      transition: transform @anim-time ease-in-out;
      &:hover,
      &:focus {
        transform: scale(1.2);
        font-weight: bold;
        background: white; 
      }
    }

    &__list {
      display: flow-root;
      text-align: center;
    }

    &__open-level-button {
      padding-right: 35px;

      &::after {
        background-image: url("../images/chevron-down.svg");
      }

      &[aria-expanded="true"] {
        &::after {
          background-image: url("../images/chevron-up.svg");
        }
      }
    }

    &__close-level-button {
      display: none;
    }

    &__menu-item {
      display: inline-block;

      &--close {
        display: none;
        padding-right: 0;
      }
    }

    &__link {
      display: inline-block;
      text-align: center;
    }

    &__link-image {
      display: block;
      margin: 0 auto 10px auto;
      width: 180px;
    }

    &--is-open {
      display: block;
      background: #fff;
      color: black;
      text-align: center;

      .enable-flyout__open-level-button,
      .enable-flyout__close-level-button,
      .enable-flyout__link {
        color: black;

        &::after {
          filter: none;
        }
      }
    }
  }
}


@keyframes enable-flyout__anim--mobile-open {
  0% {
    display: block;
  }

  0.001% {
    display: block;
    right: @hamburger-offset-y;
  }

  100% {
    right: 0;
  }
}

@keyframes enable-flyout__anim--mobile-close {
  0% {
    right: 0;
  }

  0.999% {
    right: @hamburger-offset-y;
  }
}
