@import "shared/mixins-and-vars";

table {
    max-width: 750px;
    margin-bottom: 40px;

    &.api-table {
        tbody {
            td {
                text-align: left;
            }
        }
    }
}