@import "shared/mixins-and-vars";

main {
    // background-color: #444;
    // color: white;
    color: #2b2929;
    width: 100%;
}

a,
a:-webkit-any-link {
    // color: @color-style;
    // color: #2b2929;
    // color: #05a8aa;
    color: #fb8b24;
    //color: #ef2556;
    /* font-weight: bold; */
    // border-bottom: 3px solid;
    // text-decoration: none;
}

// a:-webkit-any-link {
//     color: #fb8b24;
// }

// strong {
//     color: #fff !important;
// }

.homepage {
    &__hero {
        color: @color0;
        // background: #ccc;
        min-height: 30vh;
        padding: 20px;
        text-align: center;

        // center text vertically
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-size: 1.8rem;

        &--heading {
            font-family: @font-default-brand;
            // font-size: (80 / @px);
            font-size: 4.8rem;

            margin: 30px auto;
            font-weight: normal;
            // color: darken(@color1, 5%);
            color: #e12351;
        }

        &--copy {
            margin-bottom: 40px;
        }
    }

    &__hero-link {
        @button-height: (50 / @px);
        text-decoration: none;

        &:focus,
        &:hover {
            text-decoration: underline;
        }

        &--main {
            display: inline-block;
            height: @button-height;
            line-height: @button-height;
            background: @color1;
            color: white;
            padding: 0 20px;
            margin-right: 20px;
        }

        &--secondary {
            display: inline-block;
            white-space: nowrap;
            color: @color0;

            height: @button-height;
            line-height: @button-height;

            @media @mobile {
                margin-top: 20px;
            }

            &:after {
                .icon-mixin("../images/chevron-up.svg");
                filter: none;
                transform: rotate(90deg);
                top: (4.5 / @px);
            }
        }
    }

    &__intro {
        display: flex;
        justify-content: center;
        flex-direction: column;

        @media @tablet-up {
            flex-direction: row;
        }

        &--section {
            font-size: 18px;
            border-radius: 25px;
            // background-color: #fffffff2;
            background-color: #f4f7f5;
            padding: 20px;
            flex-grow: 1;
            width: 100%;
            text-align: center;

            @media @tablet-up {
                width: 33%;
            }
        }

        &--section + &--section {
            margin-left: 2%;

            // background-color: #b8d5b8;
            background-color: #f4f7f5;
        }

        &--section-icon {
            width: 100px;
            height: 100px;
        }

        &--header {
            // font-family: "OpenSans", "Helvetica", "Arial", sans-serif;
            font-weight: bold;
            font-size: (20 / @px);
            border: none;
            margin-top: 20px;
            margin-bottom: 30px;
            // color: #ccc;
            color: #2b2929;
            text-align: left;
            display: flex;

            &::before {
                content: "";
                // display: block;
                // width: 100px;
                // height: 100px;
                display: inline-flex;
                width: 50px;
                height: 50px;
                border-radius: 50%;
                // margin: 0 auto 30px auto;
                margin-right: 20px;
                padding: 20px;
                // box-shadow: 5px 5px 0px rgba(0, 0, 0, 0.5);
                // background-size: 80px 80px;
                // box-shadow: 3px 2px 1px rgba(0, 0, 0, 0.5);
                background-size: 40px;
                background-repeat: no-repeat;
                background-position: 50% 50%;
                background-color: #fff;
                flex-shrink: 0;

                @media (forced-colors: active) {
                    & {
                        filter: invert() brightness(61%) contrast(434%);
                    }
                }
            }

            &--code::before {
                background-image: data-uri("../images/icons/code.svg");
                // background-color: @color-scratch;
            }

            &--existing::before {
                background-image: data-uri("../images/icons/integrate.svg");
                // background-color: @color-integrate;
            }

            &--npm::before {
                background-image: data-uri("../images/icons/npm.svg");
                // background-color: @color-npm;

                @media (forced-colors: active) {
                    & {
                        background-color: #fff;
                        filter: grayscale() invert() contrast(434%);
                    }
                }
            }

            &--question::before {
                background-image: data-uri("../images/icons/question.svg");
                // background-color: @color-npm;
            }

            &--donate:before {
                background-image: data-uri("../images/icons/donate.svg");
                // background-color: @color-scratch;
            }

            &--bug:before {
                background-image: data-uri("../images/icons/bug.svg");
                // background-color: @color-integrate;
            }
        }

        a {
            // color: @color-style;
            // color: #2b2929;
            // color: #05a8aa;
            // color: #fb8b24; // Orange
            color: #ef2556; // Pink
            /* font-weight: bold; */
            border-bottom: 3px solid;
            text-decoration: none;
        }
    }

    &__bottom-copy {
        background: #e12251;
        //color: #222;
        color: #fff;
        line-height: 1.5;
        padding: 20px;
        text-align: center;

        // &:nth-child(2n) {
        //     background: #f4f7f5;
        // }

        @media @desktop {
            padding: 20px calc(~"(100% - 1024px) / 2 + 20px");
            padding-bottom: 60px;
        }

        // strong {
        //     color: #000 !important;
        // }

        /* I have no idea why this was put here -- commenting out for now */
        /* &::after {
      content: "";
      position: absolute; 
      display: block;
      left: 0;
      width: 100vw;
      top: 0;
      right: 0;
      bottom: 0;
    } */

        &--heading {
            // font-family: @font-default-copy;
            font-weight: bold;
            //font-size: (22 / @px);
            font-size: 2.375rem;
            // color: #444;
            color: #fff;
            display: inline-flex;
        }

        &--heading::before {
            width: 20px;
            height: 20px;
            margin-right: 10px;
        }

        &.background-secondary {
            background: #f4f7f5;
            p {
                color: #17183b;
            }
        }

        &.background-tertiary {
            background: #17183b;
        }

        .background-secondary &--heading {
            color: #17183b;
        }

        ul {
            column-count: 2;
            column-gap: 13px;
            margin: 0;
            padding: 0;
            // display: flex;

            li {
                margin-bottom: 20px;
                background-color: #fff;
                border-radius: 25px;
                padding: 20px;
                list-style-type: none;
                color: #2b2929;
                // width: 25%;
                // align-content: center;
            }
        }
    }
}
