@import "shared/mixins-and-vars";

.example {
    &__field-seperator {
        margin-bottom: (30 / @px);
    }

    .label {
        font-weight: bold;
        margin-top: (20 / @px);
        display: inline-block;
    }

    input {
        font-size: 20 / @px;
    }

    #cc {
        max-width: calc(~"30rem - 200px");
    }
}
