@import "shared/mixins-and-vars";

.input-mask-example {
    &__field-seperator {
        margin-bottom: 30/@px;
    }

    .usa-label {
        font-weight: bold;
    }

    .usa-input {
        margin-top: 0;
    }

    #cc {
        max-width: calc(~"30rem - 200px");
    }
}