@import "shared/mixins-and-vars";

[role="link"] {
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}

a[target="_blank"] {
    color: #00f;

    &:visited {
        color: #009;
    }

    .new-window-icon {
        height: (12 / @px);
        display: inline;
    }

    .new-window-icon-dark {
        height: (12 / @px);
        display: none;
    }

    @media (prefers-color-scheme: dark) {
        color: #a8c7fa;

        &:visited {
            color: #4593f8;
        }

        .new-window-icon {
            display: none;
        }

        .new-window-icon-dark {
            display: inline;
        }
    }
}

nav.breadcrumb {
    padding: 0.8em 1em;
    border: 1px solid hsl(0deg 0% 90%);
    border-radius: 4px;
    background: hsl(300deg 14% 97%);

    & ol {
        margin: 0;
        padding-left: 0;
        list-style: none;
    }

    & li {
        display: inline;
    }

    & li + li::before {
        display: inline-block;
        margin: 0 0.25em;
        transform: rotate(15deg);
        border-right: 0.1em solid currentColor;
        height: 0.8em;
        content: "";
    }

    & [aria-current="page"] {
        color: #000;
        font-weight: 700;
        text-decoration: none;

        @media (prefers-color-scheme: dark) {
            color: #fff;
        }
    }

    @media (prefers-color-scheme: dark) {
        background: #282828;
    }
}
