@import "shared/mixins-and-vars";

[role="link"] {
    color: #00f;
    text-decoration: underline;
    cursor: pointer;

    @media (prefers-color-scheme: dark) {
        color: #9999ff; 
    }
}

a[target="_blank"] {
    color: #00f;

    @media (prefers-color-scheme: dark) {
        color: #92f1ff
    }
    &:visited {
        color: #99ff99;
    }

    .new-window-icon {
        height: (12 / @px);

        @media (prefers-color-scheme: dark) {
            filter: invert(100%) hue-rotate(162deg);
        }
    }
}

nav.breadcrumb {
    padding: 0.8em 1em;
    border: 1px solid hsl(0deg 0% 90%);
    border-radius: 4px;
    background: hsl(300deg 14% 97%);

    @media (prefers-color-scheme: dark) {
        background: hsl(300deg 14% 19%);
    }

    & ol {
        margin: 0;
        padding-left: 0;
        list-style: none;
    }

    & li {
        display: inline;
    }

    & li + li::before {
        display: inline-block;
        margin: 0 0.25em;
        transform: rotate(15deg);
        border-right: 0.1em solid currentColor;
        height: 0.8em;
        content: "";
    }

    & [aria-current="page"] {
        color: #000;
        font-weight: 700;
        text-decoration: none;

        @media (prefers-color-scheme: dark) {
            color: @dark-mode-white;
        }
    }
}
