@import "shared/mixins-and-vars";

/*
 * This file contains generic CSS that pertains to the 
 * component, including general CSS code to pause CSS
 * transitions and animations as well as code to 
 * pause animated GIFs. For CSS code specific to the
 * Enable demo page of this control, see 
 * pause-animation-control.less in the enable-a11y 
 * git repository.
 */

.pause-anim-control {
    &__checkbox {
        outline-offset: 3px;
    }
}

.play-pause-anim {
    &__checkbox-container {
        align-items: center;
        position: sticky;
        top: 19.3125rem;
        // position: relative;
        width: 100vw;
        top: 0;
        left: 0;
        color: white;
        padding: 0;
        background-color: #000;
        white-space: nowrap;
        text-align: center;
        // height: 2.4;
        display: flex;
        flex-direction: row;

        @media @desktop {
            // position: fixed;
            // top: (5 / @px);
            top: 120px;
            left: initial;
            // right: 20px;
            // border-radius: 50px;
            // border: solid 2px white;
            // width: min-content;
            line-height: 2.4;
        }

        label {
            padding: 10px 20px;
            // display: inline-block;
            display: inline;
            cursor: pointer;

            @media @desktop {
                padding: 0 20px;
            }
        }

        a {
            color: #ccccff;
            margin-right: 20 / @px;
        }
    }
}

.pause-anim-control__gif {
    &--animated,
    &--still {
        max-width: 100%;
    }

    &--animated {
        display: initial;
    }

    &--still {
        display: none;
    }
}

.prefers-reduced-motion() {
    *,
    ::before,
    ::after {
        animation-delay: -1ms !important;
        animation-duration: 1ms !important;
        animation-iteration-count: 1 !important;
        background-attachment: initial !important;
        scroll-behavior: auto !important;
        transition-duration: 0s !important;
        transition-delay: 0s !important;
    }

    .pause-anim-control__gif {
        &--animated {
            display: none;
        }

        &--still {
            display: initial;
        }
    }
}

/*
 * From Bruce Lawson's awesome blog post
 * https://brucelawson.co.uk/2021/prefers-reduced-motion-and-browser-defaults/
 */
@media (prefers-reduced-motion: reduce) {
    body:not(.pause-anim-control__prefers-motion) {
        .prefers-reduced-motion();
    }
}

body.pause-anim-control__prefers-reduced-motion {
    .prefers-reduced-motion();
}
