@import "shared/mixins-and-vars";

@font-size-reg: 24/@px;
@button-width: ~"max(3vw, @{font-size-reg})";
@double-button-width: ~"calc(@{button-width} * 3)";
@button-top: ~"calc(@{button-width}/11)";

.iframed-example {
  [role="banner"],
  [role="navigation"],
  nav,
  footer {
    display: none;
  }
}

:root {
scrollbar-width: thin;
}

body {
  .scrollbars(3px, #fff, #000); 
}

.reflow-examples {


  &__index {
    text-align: center;
    background: black;
    margin: -1em -1em 1em -1em;
    overflow:hidden; 
    padding: 0 1em;
    position: relative;
  }

  &__arrow-button {
    display: none;
    appearance: none;
    border: none;
    background-color: transparent;
    color: white;
    font-weight: bold;
    font-size: ~"max(3vw, @{font-size-reg})";
    
  }

  &__show-arrow-buttons {
    padding: 0;
  }

  &__show-arrow-buttons &__arrow-button {
    display: inline-block;
    width: @button-width;
    position: absolute;
    top: @button-top;

    &--previous {
      left: 0;
    }

    &--next {
      right: 0;
    }
  }

  &__show-arrow-buttons &__list {
    width: ~"calc(100% - @{double-button-width})";
  }

  &__remove-overflow {
    white-space: normal;
  }



  &__list {
    margin: 0;
    padding: 0;
    display: inline-block;
    width: calc(100% - 2em);
    overflow-x: scroll;

    white-space: nowrap;
  }

  &__remove-overflow  &__list {
    overflow: auto;
    white-space: normal;
  }

  &__list-item {
    font-size: ~"max(3vw, @{font-size-reg})";
    font-weight: bold;
    display: inline-block;
    padding: 0.5vw 1vw;
  }
  

  &__link {
    color: white;
    text-decoration: none;
  }

  &__dropdown {
    background: white;
    margin: 0 -1rem;
    padding: 0 1rem;

    &--content {
      padding: 0;
      margin: 0 -2rem;
    }
  }

  &__dropdown &__list {
    background: black;
  }
}
  
h1 {
  font-size: (25/@px);
}


// Let's make links with tabindex="-1" set unclickable with a mouse.
a[tabindex="-1"] {
  pointer-events: none;
  cursor: not-allowed;
  opacity: 0.5;
}