.search-button {
    width: 28px;
    height: 100%;
    border: 1px solid #4e7963;
    background: #4e7963;
    text-align: center;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    margin: 0 !important;
    position: relative;
    left: -4px;
}

.search {
}

.search-input {
    padding: 5px;
}

.search-bar {
    display: flex;
}

.search-bar-home {
    padding: 1ex 0.5em;
    width: 20em;
    font-size: 1.3rem;
    line-height: 1;
    background: #fff;
    border: 1px solid #d5d5d5;
    border-radius: 2px;
    box-shadow: inset 0 5px 5px -5px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
}

.autocomplete {
    /*the container must be positioned relative:*/
    position: relative;
}

.search-example-2 {
    position: relative;
    left: 0;
    width: 20em;
}

.autocomplete-items {
    position: absolute;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 999999999999999999999999999999999;
    /*position the autocomplete items to be the same width as the container:*/
    top: 100%;
    left: 0;
    right: 0;
}

.autocomplete-list {
    position: absolute;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* border-bottom: 1px solid #d5d5d5; */
    border-top: none;
    background-color: #fff;
    list-style: none;
    width: 12.5em;
    z-index: 999999999999999999999999999999999;
}

.autocomplete-list li {
    color: black;
    padding: 10px;
    border-bottom: 1px solid #d5d5d5;
}

#search-results {
    /* display: none; */
}

.search-results {
    padding: 50;
    border-top: 1px solid red;
    border-top: none;
    max-height: 200px;
    overflow-y: auto;
    position: relative;
    background-color: #fff;
    z-index: 99999999999999999999999;
    top: 100%; /* Position directly below the search input */
    left: 0; /* Align with the left edge of the search input */
    width: 100%; /* Match the width of the search input */
    list-style: none; /* Remove default list styling */
    border-radius: 5px 0 0 5px;
}

.autocomplete-list a {
    text-decoration: none;
}

.autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    background-color: #fff;
    border-bottom: 1px solid #d4d4d4;
}
.autocomplete-list a:hover {
    /*when hovering an item:*/
    background-color: #e9e9e9;
}
.autocomplete-active {
    /*when navigating through the items using the arrow keys:*/
    background-color: DodgerBlue !important;
    color: #ffffff;
}
