@import "shared/mixins-and-vars";

// site specific hamburger menu styles
@default-menu-item-with-photo-width: 118px;
@default-menu-item-with-photo-horiz-padding: 5px;

.sub-component-navigation {
    position: fixed;
    width: 200px;
    height: 100%;
    overflow: auto;
    padding: 40px;

    a {
        color: #000;
    }
}

main {
    width: calc(100% - 400px);
    display: flex;
    flex-direction: column;
    height: 100%;
}

#header {
    position: sticky;
    top: 0;
    z-index: 10001; // 10001 to be above able player
}

.nav-container {
    position: relative;
    display: flex;
    justify-content: space-between;
    background: @grey;
    padding: 0 30px;
}

// Logo in the header
.enable-logo {
    text-decoration: none;
    text-align: center;
    width: 150px;
    min-height: 85px;
    display: flex;
    vertical-align: middle;
    a {
        display: flex;
        vertical-align: middle;
    }
    img {
        max-width: 100%;
    }
}

.plp {
    h1 {
        margin: 0 0 80px 0;
    }

    h2 {
        font-size: (26 / @px);
        font-weight: bold;
        color: #222;
        padding: 20px 0;
        margin: 40px 0 79px;
        a {
            color: #000;
        }
    }

    .plp-list {
        margin: 20px 0;
        padding: 0;
        display: flex;
        flex-direction: column;

        .item-wrapper {
            display: flex;
            margin-bottom: 25px;
            flex-direction: column;

            @media @tablet, @desktop {
                flex-direction: row;
            }

            .icon-wrapper {
                width: 100%;
                min-height: 288px;
                border-radius: 10px;
                text-align: center;
                padding: 10px 10px;
                background-color: #f5f7f5;
                @media @tablet, @desktop {
                    width: 33.33%;
                }

                h2 {
                    display: block;
                    color: #000;
                    font-weight: bold;
                    font-size: (24 / @px);
                    padding: 40px 20px;
                    margin: auto;
                    border-bottom: none;
                }

                .icon {
                    min-height: 100px;
                }

                img {
                    max-width: 100%;
                }
            }

            .links-wrapper {
                width: 100%;
                @media @tablet, @desktop {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    width: 66.66%;
                    padding-left: 3rem;
                }

                p {
                    list-style-type: none;
                    padding: 26px 0;
                    margin: 0;
                    border-bottom: 2px solid #000;
                }

                code {
                    font-size: (16 / @px);
                    color: @grey;
                }

                a {
                    font-size: 1.3rem;
                    color: #000;
                    font-family: helvetica;
                    font-weight: bold;
                    text-decoration: none;
                    display: inline-block;
                    margin: 16px 0;
                    padding: 10px 0;
                }

                a:hover {
                    color: @pink;
                }

                a.get-code {
                    position: relative;
                }

                .get-code:after {
                    content: " ";
                    width: 25px;
                    height: 25px;
                    background: url(/images/icons/components/link-to-external-site.svg);
                    position: absolute;
                    right: -34px;
                    top: -2px;
                }
            }
        }
    }
}

.enable-stats {
    @icon-width: (50 / @px);
    @npm-icon-width: (100 / @px);

    list-style-type: none;
    margin: 14px 0;
    padding: 0;
    border: solid 3px black;
    border-radius: (20 / @px);
    overflow: hidden;
    color: #000;
    text-align: center;

    &__desc {
        min-height: (40 / @px);
        padding: 5px 20px;
        display: inline-block;
        position: relative;
        padding-left: @icon-width;

        @media @mobile {
            padding: 5px 10px 5px (@icon-width / 2);
        }

        &:only-child {
            width: 100%;
        }

        &--scratch {
            background-color: @color-scratch;
        }

        &--integrate {
            background-color: @color-integrate;
        }

        &--do-not {
            background-color: @color-do-not;
        }

        &--style {
            background-color: @color-style;
        }

        &--npm {
            background-color: @color-npm;
        }
    }

    &__center {
        display: flex;
        /* justify-content: center; */
        min-height: (40 / @px);
        resize: vertical;
        align-items: center;
    }
    &__icon {
        height: (30 / @px);
        margin: 0px 15px 5px 0px;
        display: inline-block;
    }
    &__heading-icon {
        margin: 0 (15 / @px) 0 0;
    }

    &__label {
        display: inline-block;
        text-align: left;
    }
}

.screenshot-table {
    margin-bottom: 40px;
    thead th,
    td {
        text-align: center;
    }

    td {
        border: solid 1px black;
    }
}

.enable-flyout__open-menu-button {
    // margin-top: -3px;
}

.footer {
    ul {
        margin: 20px;
        padding: 0;
        li {
            list-style: none;
            display: inline;
            padding: 10px 0;
        }
        li::after {
            content: "|";
        }
        li:last-child::after {
            content: "";
        }
    }

    &__attribution {
        font-size: small;
    }
}
