@import "shared/mixins-and-vars";

// site specific hamburger menu styles

.enable-flyout {

  &__open-level-button,
  &__link {
    font-weight: normal;

    &:hover,
    &:focus {
      font-weight: normal;
    }
  }

  &__level &__menu-item {
    display: inline-block;
    font-size: 14px;
    margin-right: 0;
  }


  &__link {
    text-indent: 0px;
    padding: 13px 13px 13px 21px;
  }

  &__list &__list {
    width: @desktop-min;
    width: fit-content;
    margin: 20px auto;
  }
}

@media @desktop {
  .enable-flyout {
    @item-height: (167 / @px);

    &__link-image {
      width: 105px;
      border: solid 1px #999999;
    }

    &__link {
      padding: 0;
    }  

    &__level &__level &__menu-item {
      width: (@desktop-min - 70px);
      padding-bottom: 10px;
    }

    &__level &__level &__list--photo-layout {
      #code-patterns-section& {
        width: fit-content;
      }
    }

    &__level &__level &__list--photo-layout &__menu-item {
      width: 134px;
      float: left;
      height: @item-height;
      background: white;

      #controls-section& {
        width: 145px; 
      }

      #code-patterns-section& {
        width: 134px;
      }
    }


    &__level &__level &__list--photo-layout &__link {
      position: relative;
      min-height: @item-height;
      //letter-spacing: (0.5 / @px);
      box-sizing: border-box;
      font-size: (13 / @px);
      padding: 10px 20px 0 20px;

      &:hover,
      &:focus {
        //letter-spacing: 0;
        box-shadow: 2px 2px 5px #999;
      }

      &:hover {
        outline: solid 1px #666;
        z-index: 2;
      }

      &:focus {
        outline: solid 2px @focus-color;
      }
    }

    &__level &__menu-item--close {
      display: none;
    }

    @mulit-column-menu-margin: 18px;


    /* styles specific to Interactive Elements flyout */
    #controls-section > :not(&__menu-item) > &__menu-item
    {

      width: calc(50% - @mulit-column-menu-margin * 2);
      float: left;
      margin-left: @mulit-column-menu-margin;
      margin-right: @mulit-column-menu-margin;

      .enable-flyout__list {
        width: 100%;
      }
    }

    #code-patterns-section > :not(&__menu-item) > &__menu-item:nth-child(2) {
      width: calc(100% / 3 - 36px);
      float: left;
      margin-left: @mulit-column-menu-margin;
      margin-right: @mulit-column-menu-margin;

    }

    #code-patterns-section > :not(&__menu-item) > &__menu-item:nth-child(3) {
      width: calc(200% / 3 - 36px);
      float: left;
      margin-left: @mulit-column-menu-margin;
      margin-right: @mulit-column-menu-margin;

    }

    #code-patterns-section > :not(&__menu-item) > &__menu-item:nth-child(4) {
      margin-left: @mulit-column-menu-margin;
      margin-right: @mulit-column-menu-margin;
    }


    #content-section > :not(&__menu-item) > &__menu-item {
      width: 100%;
      float: left;
    }

    #content-section &__list--photo-layout &__menu-item {
      height: (225/@px);
    }
  }

}


// Logo in the header

.enable-logo {
  width: (60/@px);
  color: #fff;

  @media @tablet-up {
    width: (100/@px);
  }

  &__container {
    text-decoration: none;
    font-family: "MoniceDemo", Arial, Helvetica, sans-serif;

    color: #fff;
    margin-bottom: -10px;

    @media @mobile {
      transform: scale(0.75);
      height: (75/@px);
      transform-origin: 0 50%;
      margin-left: 10px;
    }

    @media @tablet-up {
      padding: 0 30px;
      height: (123/@px);
    }
  }

  &__link {
    color: #fff;
    text-decoration: none;
    display: inline-block;
    position: relative;
  }

  &__text {
    display: block;
    position: absolute;
    display: inline-block;
    color: #fff;
    font-size: (59/@px);
    padding-left: (20/@px);
    top: (8/@px);

    @media @tablet-up {
      font-size: (70/@px);
      top: (20/@px);
    }
  }

  &__sub-text {
    display: block;
    font-size: 17px;
    font-style: italic;
    padding: 0 10px;
    margin-top: -8px;
    font-style: normal;
  }
}






.enable-stats {
  @icon-width: (50/@px);
  @npm-icon-width: (100/@px);

  list-style-type: none;
  margin: 14px 0;
  padding: 0;
  border: solid 3px black;
  border-radius: (20/@px);
  overflow: hidden;
  color: #000;
  text-align: center;
  

  &__desc {
    min-height: (40/@px);
    padding: 0 20px;
    display: inline-block;
    position: relative;
    padding-left: @icon-width;
    
    &--npm {
      padding-left: @npm-icon-width;
    }

    @media @mobile {
      padding: 5px 10px 5px @icon-width;
      
      &--npm {
        padding: 5px 10px 5px @npm-icon-width;
      }
    }

    &:only-child {
      width: 100%;
    }

    &--scratch {
      background-color: #ccffcc;
    }

    &--integrate {
      background-color: #ffffcc;
    }

    &--do-not {
      background-color: #ccccff;
    }

    &--style {
      background-color: #ccccff;
    }

    &--npm {
      background-color: #ffcccc;
    }
  }

  &__center {

    display: flex;
    justify-content: center;
    min-height: (40/@px);
    resize: vertical;
    align-items: center;
  }
  &__icon {
    height: (30/@px);
    margin: 5px;
    display: inline-block;
    margin-right: 10px;
  }

  &__desc--npm &__icon {
    margin-left: ( (10/@px) - @npm-icon-width);
  }

  &__label {
    display: inline-block;
    text-align: left;
  }
}

.screenshot-table {
  margin-bottom: 40px;
  thead th,
  td {
    text-align: center;
  }

  td {
    border: solid 1px black;
  }
}


.enable-flyout__open-menu-button {
  margin-top: -3px;
}
