@import "shared/reset";
@import "shared/defaults";
@import "shared/a11y";
@import "shared/landmarks";

@inputHeightPx: 20;
@inputHeight: (@inputHeightPx/@px);
@inputWidth: (70/@px);
@spinButtonHeight: (@inputHeight / 2);
@fontSize: (@inputHeightPx - 4) * 1px;

.enable-spinner {
  
}

.enable-spinner,
input[type="number"] {
  width: @inputWidth;
  height: @inputHeight;
  border: 1px solid black;
}

input[type="number"] {
  font-size: @fontSize;
  text-align: right;
}

.enable-spinner {
  position: relative;
  margin: (20/@px);

  &__button {
    display: block;
    text-align: right;
    font-size: @fontSize;
    padding-right: @spinButtonHeight + (4/@px);
    //width: @inputWidth - @spinButtonHeight - (7/@px);

    &:active,
    &:hover,
    &:focus {
      margin: 0;
      background-color: #faf7f0;
      border: 1px solid red;
      height: (@inputHeightPx - 1) * 1px;
    }
  }

  .spin-button {
    position: absolute;
    right: 0;
    height: @spinButtonHeight;

    &--up {
      top: 0;
    }

    &--down {
      bottom: 0;
    }

    & img {
      margin: 0;
      padding: 0;
      border-left: 1px solid black;
      height: (@inputHeight / 2);
      display: block;
    }
  }
}

label.sbLabel {
  font-weight: bold;
  font-size: 1.2em;
}