@import "shared/reset";
@import "shared/defaults";
@import "shared/a11y";
@import "shared/landmarks";

@fontSize: 1.6rem;

div.spinControl,
input[type="number"] {
  
  width: 100px;
  height: 44px;
  border: 1px solid black;
}

input[type="number"] {
  font-size: @fontSize;
  text-align: right;
}

div.spinControl {
  margin: 20px;
}
div.spinbutton {
  float: left;
  display: inline;
  margin: 1px;
  text-align: right;
  font-size: @fontSize;
  padding: 7px 10px 7px 0;
  width: 65px;
  height: 28px;
  background-color: #faf7f0;

  &:active,
  &:hover,
  &.focus {
    margin: 0;
    background-color: #faf7f0;
    border: 1px solid red;
  }
}

div.button {
  margin: 0;
  margin-left: 77px;
  padding: 0;
  height: 22px;

  & img {
    margin: 0;
    padding: 0;
    border-left: 1px solid black;
  }
}

label.sbLabel {
  font-weight: bold;
  font-size: 1.2em;
}