@import "shared/reset";
@import "shared/defaults";
@import "shared/a11y";
@import "shared/landmarks";

@inputHeight: 20/@px;
@inputWidth: 70/@px;
@spinButtonHeight: @inputHeight / 2;
@fontSize: @inputHeight - 4;

div.spinControl {
  position: relative;
}

div.spinControl,
input[type="number"] {
  width: @inputWidth;
  height: @inputHeight;
  border: 1px solid black;
}

input[type="number"] {
  font-size: @fontSize;
  text-align: right;
}

div.spinControl {
  margin: 20/@px;

  div.spinbutton {
    display: block;
    text-align: right;
    font-size: @fontSize;
    width: @inputWidth - @spinButtonHeight - 7/@px;

    &:active,
    &:hover,
    &.focus {
      margin: 0;
      background-color: #faf7f0;
      border: 1px solid red;
    }
  }

  .spin-button {
    position: absolute;
    right: 0;
    height: @spinButtonHeight;

    &--up {
      top: 0;
    }

    &--down {
      bottom: 0;
    }

    & img {
      margin: 0;
      padding: 0;
      border-left: 1px solid black;
      height: @inputHeight / 2;
      display: block;
    }
  }
}

label.sbLabel {
  font-weight: bold;
  font-size: 1.2em;
}