@import "shared/all";
 
[role="status"] {
    font-size: 4rem;
    font-weight: bold;
    color: white;
    padding: 1rem;
    text-align: center;

    &.neutral {
        color: black;
    }

    &.low {
        background-color: #0f0;
        color: black;
    }

    &.medium {
        background-color: #ff9;
        color: black;
    }

    &.high {
        background-color: #f00;
    }
}