@import "shared/mixins-and-vars";

.wiktionary-lookup {
    &__content {
        height: 200px;
        overflow: auto;
        margin: 1em 0;
        padding: 1em;
        border: solid 1px #999;
    }

    &__content-container {
        display: none;

        &--is-loaded {
            display: block;
        }


        /* Ensure all elements with inline background styles are turned off */
        .enable__is-dark-mode  & * {
            background: none !important;
        }
    }

}

.mw-editsection {
    display: none;
}
