@import "shared/reset";
@import "shared/defaults"; 
@import "shared/a11y";
@import "shared/landmarks";

[role="switch"],
[role="switch"][aria-checked] {
    margin: 0;
    padding: 0;
    height: 26px;
    border: 2px solid black;
    display: inline-block;
    margin-right: 0.25em;
    line-height: 20px;
    vertical-align: middle;
    text-align: center;
    font: 12px "Open Sans", "Arial", serif;

    span {
        padding: 0 4px;
    }


    &[aria-checked="false"] :first-child,
    &[aria-checked="true"] :last-child,
    &[aria-pressed="false"] :first-child,
    &[aria-pressed="true"] :last-child  {
        background: #262;
        color: #eef;
    }

    &[aria-checked="false"] :last-child,
    &[aria-checked="true"] :first-child,
    &[aria-pressed="false"] :last-child,
    &[aria-pressed="true"] :first-child {
        color: #bbd;
    }
}

label.switch--label {
    font: 16px "Open Sans", "Arial", sans-serif;
    line-height: 20px;
    user-select: none;
    vertical-align: middle;
    .vendor(user-select, none);
}