@import "shared/reset";
@import "shared/defaults";
@import "shared/a11y";
 
@table-header-height: 2em;

table,
[role="table"] {
	width: 100%;
	max-width: 1024px;
	margin: 1rem auto 5rem auto;
    border-collapse: collapse;
    display: table;

    caption,
    .caption {
        display: table-caption;
        text-align: center;
    }

    th,td,
    [role="columnheader"], [role="rowheader"], [role="cell"] {
        line-height: 1.2;
        text-align: left;
        padding: 10px;
        display: table-cell;
    }

    th,
    [role="columnheader"], [role="rowheader"] {
        font-weight: bold;
        color: white;
        background-color: black;
    }

    tr, 
    [role="row"] {
        display: table-row;

        &:nth-child(2n) {
            background-color: #cccccc;
        }
    }

    [role="rowgroup"] {
        display: table-row-group;
    }


    @table-width: 100%;
    @table-column-width: @table-width / 7; 
    @table-body-height: 80vh;
    // @column_one_width 33.33vw;
    // @column_two_width: 33.33vw;
    // @column_three_width: 33.33vw;

    &.fixed-headers {
        border-collapse: collapse;
        
        &,
        & thead,
        & .thead {
            width: @table-width;
        }
        
        // td:nth-child(1), th:nth-child(1) { min-width: @column_one_width; }
        // td:nth-child(2), th:nth-child(2) { min-width: @column_two_width; }
        // td:nth-child(3), th:nth-child(3) { width: @column_three_width; }
        td, th,
        [role="columnheader"], [role="rowheader"], [role="cell"] {
            overflow: hidden;
            width: @table-column-width;
            max-width: @table-column-width;
            -webkit-hyphens: auto;
            -moz-hyphens: auto;
            -ms-hyphens: auto;
            -o-hyphens: auto;
            hyphens: auto;
        }

        
        th,
        [role="columnheader"], [role="rowheader"] {
            border-left: solid 1px #fff;
            border-right: solid 1px #fff;
        }

        td,
        [role="cell"] {
            border-left: solid 1px #cccccc;
            border-right: solid 1px #cccccc;
        }
        thead,
        .thead {
            
            tr {
            display: block;
            position: relative;
            }
        }
        tbody,
        .tbody {
            display: block;
            overflow: auto;
            width: calc(~"100% + 16px");
            height: @table-body-height;
            
        }
    }
}
