@import "shared/mixins-and-vars";

#tabs h2 {
    margin: 0.5em 0;
}

.tabs__instructions {
    display: none;
    margin: 0 0 0.5em;

    .tabs--has-js & {
        display: inherit;
        background: black;
        color: white;
        padding: 0.5em;
    }
}

[role="tablist"] {
    display: flex;
    justify-content: space-between;
    background-color: #73b6fc;
    padding: 0.25em;
    margin: 0 0 0.5em;
    border-radius: 0.75em;

    li {
        list-style: none;
        margin: 0;
        padding: 0;

        a {
            display: block;
            padding: 0.55em 0.75em;
            color: #ffffff;
            font-weight: 700;
            text-align: center;
            font-size: 1em;
            text-decoration: none;
            cursor: pointer;
            border: 2px solid transparent;
            border-radius: 0.75em;

            &[aria-selected="true"] {
                background-color: #ffffff;
                color: #2e7de7;
                border-color: #61a7f5;
            }
        }
    }
}

[role="tabpanel"] {
    position: relative; /*for z-index*/
    visibility: visible;
    clear: left;
    overflow: auto;
    padding: 0.5em 3em 2em;
    border: 2px solid #73b6fc;
    border-radius: 1em;
    z-index: 1;
    color: #333;

    .tabs--has-js & {
        display: none;
    }

    @media @mobile {
        border-radius: 0 1em 1em 1em;
    }

    &.visible {
        display: block;
    }

    h2 {
        display: inline-block;
        border: none;
        color: #2e7de7;
    }

    ol {
        margin-bottom: 10px;
    }
}

[role="tab"] {
    appearance: none;
}
