@import "shared/all"; 


#tabs {
    max-width: 50em;
}

#tabs h2 {
    margin: 1em 0 0;
}

#tabs h2:focus {
    outline: 0;
    /* If you're removing the outline, you must add something as good or better! */
    text-decoration: underline;
}

.tabs__instructions {
    background: black;
    color: white;
    padding: 0.5em;
}
 
[role="tablist"] {
    float: left;
    list-style: none;
    margin: 0;
    padding-left: 2.35em;
    position: relative;
    z-index: 2;


    li {
        position: relative; /*for z-index*/
        float: left;
        margin: 0 .5em 0 0;
        z-index: 1;
        
        [role="tab"] {
            appearance: none;
            position: relative;
            font-size: 1em;
            top: 3px;
            float: left;
            overflow: hidden;
            font-weight: normal;
            text-shadow: none;
            background: #fff;
            color: #444;
            text-decoration: none;
            margin: .5em 0 0;
            padding: .5em .5em .35em;
            border-style: solid;
            border-color: #ccc; 
            border-width: 2px 2px 0;
            -moz-border-radius-topleft: 0.5em;
            -moz-border-radius-topright: 0.5em;
            -webkit-border-top-left-radius: 0.5em;
            -webkit-border-top-right-radius: 0.5em;
            border-top-left-radius: 0.5em;
            border-top-right-radius: 0.5em;
            cursor: pointer;

            &:link { border-color: #ccc; }

            &:hover,
            &:focus,
            &:active {
                border-color: #999;
                text-shadow: 0 1px 1px rgba(0, 0, 0,.2);
            }

            &:focus {
                outline-offset: 5px;
            }

            &:active { 
                top: 2px;
            }

            &[aria-selected="true"] {
                background: #c0dcee;
                border-color: #999;
                border-bottom: #c0dcee 4px solid;
                font-weight: bold;
            }
        }
    }

    &[aria-selected="true"] { 

        a {
            top: 2px;
            font-weight: bold;
            color: #333;
            background: #fafafa;
            border-color: #999;
            text-shadow: 0 1px 1px rgba(0, 0, 0,.2);
            
            &:hover,
            &:focus {
                color: #333;
                background-color: #fafafa;
            }

            &:focus { outline: 1px dotted #444; }

            span {
                position: absolute;
                top: auto;
                width: 1px;
                height: 1px;
                overflow: hidden;
                opacity: 0;
            }
        }
    }
}

[role="tabpanel"] {
    position: relative;  /*for z-index*/
    display: none;
    visibility: visible;
    clear: left;
    overflow: auto;
    padding: .5em 3em 2em;
    border: 2px solid #999;
    -moz-border-radius: 1em;
    -webkit-border-radius: 1em;
    border-radius: 1em;
    z-index: 1;
    color: #333;
    background-color: #c0dcee;

    &.visible {
        display: block;
    }
    
    h2 { display: inline-block; }

}

[role="tab"] {
    appearance: none;
}