@import "shared/mixins-and-vars";

@line-height: 22;
@desktop-textarea-width: 314/@px;  

textarea,
[role="textbox"] {
    @font-size: 16;

    display: inline-block;
    font-size: (@font-size/@px);
    line-height: (@line-height/@font-size);
    border: solid 1px black;
    background: #fff;
    vertical-align: bottom;

}

textarea,
[aria-multiline="true"] {
    min-height: (6 * @line-height/@px);
    overflow: auto;
    .vendor(appearance, textarea);
    resize: both;

    @media @tablet-up {
    min-width: @desktop-textarea-width;
    max-width: none !important;
    }
}


.textarea-label {
    vertical-align: top;
}

[role="group"],
fieldset {
    div {
        margin-bottom: 10px;
    }
}

#charcount-example {

    .enable-character-count {
        display: block;
        margin-left: 45%;
        text-align: right;
        margin-top: 5px;

        @media @tablet-up {
            width: @desktop-textarea-width;
        }
    
    }

    label.desc {
        width: 15rem;
        float: left;
    }


}