@import "shared/mixins-and-vars";

.tooltip {
    display: block;
    background: black;
    color: white;
    padding: 0.5rem;
    max-width: 20rem;
    position: absolute;
    border-radius: 0.5rem;
    z-index: 2147483647;

    /* 
     * We put a transparent border here for Windows High Contrast Mode. 
     * Otherwise, the background will blend into the content underneath.
    */
    border: 1px solid transparent;

    &:before {
        content: "";
        width: 3;
        height: 3;
        position: absolute;
        left: 0.1rem;
        /* Again, we put a transparent border here for Windows High Contrast Mode */
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-bottom: 10px solid black;
    }

    &:after {
        content: "";
        position: absolute;
        width: 100%;
        height: 1.1rem;
        top: -1.1rem;
        left: 0;
    }

    &--hidden {
        .enable__visually-hidden();
    }

    /* Additional tooltip styles */
    &.tp:before {
        top: -0.5rem;
    }

    &.btm:before {
        bottom: -0.5rem;
        transform: rotate(180deg);
    }
}

.icon-button {
    width: 20px;
    height: 20px;
    background-color: blue;
    border-radius: 50%; /* to make it circular */
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bold;
    font-size: 12px; /* adjust font size as needed */
    border: none;
    cursor: pointer;
    position: relative; /* Ensure relative positioning for pseudo-elements */

    &:hover {
        /* Hover styling */
        transition: background-color 0.3s ease; /* smooth transition */
        background-color: darkblue; /* Example darker background on hover */
    }

    /* Ensure the button content is centered */
    .icon {
        display: block; /* Ensure block display for icon */
        text-align: center; /* Center text horizontally */
        line-height: 1; /* Adjust line height as needed */
    }
}
