@import "shared/mixins-and-vars";


.tooltip {
    display: block;
    background: black;
    color: white;
    padding: 0.5rem;
    max-width: 20rem;
    position: absolute;
    border-radius: 0.5rem;

    /* 
     * We put a transparent border here for Windows High Contrast Mode. 
     * Otherwise, the background will blend into the content underneath.
     */
    border: 1px solid transparent;

    &:before {
        content: "";
        width: 1rem;
        height: 1rem;
        background: black;
        position: absolute;
        top: -0.5rem;
        left: 2rem;
        transform: rotate(45deg);

        /* Again, we put a transparent border here for Windows High Contrast Mode */
        border-top: 1px solid transparent;
        border-left: 1px solid transparent;
    }

    &--hidden { 
        .enable__visually-hidden()
    }
}