@import "shared/mixins-and-vars";

.enable-video-player {
  .able-descriptions {
    display: none !important;
    border: solid 1px red; 
  }

  .able-status-bar {
    height: 2.4em;
    min-height: 2.4em;
  }


}