@import "shared/mixins-and-vars";

.enable-video-player {
  .able-descriptions {
    display: none !important;
    border: solid 1px red;
  }

  .able-status-bar {
    height: 2.4em;
    min-height: 2.4em;
  }

  * {
    box-sizing: content-box;
  }

  .able-wrapper:not(.is-fullscreen) .able.able-transcript-visible {
    width: calc(50% - 20px);
    display: inline-block;
    margin-right: 20px;

    + .able-transcript-area {
      width: calc(50% - 2px);
      display: inline-block;
      vertical-align: top;
      margin-top: 1em;
    }
  }

  .able-media-container iframe {
    width: 100%;
  }
}
