node_modules
.DS_Store
api-cache
tmp
.vscode/settings.json
report/*
.idea
.slingshot

# generated css map files
*.css.map

# auto-gen PHP files/logs
php_errors.log

# any file that begins with an underscore
_*

