# compiled output
tmp
api-cache

# dependencies
node_modules

# auto-gen PHP files/logs
php_errors.log


# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/launch.json
!.vscode/extensions.json

# System Files
.DS_Store

# misc
npm-debug.log
yarn-error.log
package-lock.json
