# AddType application/x-httpd-php .html .htm
AddType text/css .css

RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteBase /enable-a11y/
RewriteRule "^[^.]*\.php$"  "templates/main.php"
RewriteRule "~(.+)" "enable-node-libs/$1" [L]

# RewriteRule ^(.+)$ /enable-a11y/templates/main.php [QSA,L]