{
    "phpVersion": "8.1",
    "plugins": ["@prettier/plugin-php"],
    "tabWidth": 4,
    "bracketSameLine": true,
    "printWidth": 80,
    "singleQuote": false,
    "trailingComma": "es5",
    "overrides": [
        {
            "files": ["*.js"],
            "options": {
                "singleQuote": true
            }
        },
        {
            "files": ["*.md", "package.json", "package-lock.json"],
            "options": {
                "tabWidth": 2
            }
        },
        {
            "files": ["*.php"],
            "options": {
                "trailingComma": "none"
            }
        }
    ]
}
