{
  "phpVersion": "8.1",
  "plugins": ["@prettier/plugin-php"],
  "bracketSameLine": false,
  "bracketSpacing": true,
  "printWidth": 80,
  "singleQuote": false,
  "semi": true,
  "tabWidth": 2,
  "useTabs": false,
  "trailingComma": "es5",
  "overrides": [
    {
      "files": ["*.js"],
      "options": {
        "singleQuote": true
      }
    }
  ]
}
