{
    "tabWidth": 4,
    "overrides": [
        {
            "files": "*.php",
            "options": {
                "parser": "php",
                "plugins": ["@prettier/plugin-php"]
            }
        }
    ]
}
