/*
 * Gradient mixin from https://webdesign.tutsplus.com/tutorials/making-gradients-easier-with-less-mixins--cms-24072
 */
.gradient(@type; @colors; @dir: 0deg; @prefixes: webkit, moz, ms, o; @index: length(@prefixes)) when (@index > 0) {
    .gradient(@type; @colors; @dir; @prefixes; (@index - 1));
 
    @prefix  : extract(@prefixes, @index);
    @dir-old : 90 - (@dir);
 
    background-image: ~"-@{prefix}-@{type}-gradient(@{dir-old}, @{colors})";
  & when ( @index = length(@prefixes) ) {
        background-image: ~"@{type}-gradient(@{dir}, @{colors})";
    }
}


body {
	font-family: "Helvetica", "Arial", sans-serif;
	margin: 10px;
	line-height: 1.1;
}

strong {
	font-weight: bold;
}

ul {
	list-style: initial;
}

ol {
	list-style: decimal;
}

h1 {
	font-weight: bold;
	font-size: 2rem;
}

h2 {
	font-weight: bold;
	font-size: 1.5rem;
	border-bottom: solid 1px #999999;
	margin-top: 1rem;
	margin-bottom: 1rem;
}


ul {
	padding-left: 3rem;
	list-style: disc;
}

ul, p {
	margin-top: 0.5rem;
}

.vendor(@property, @value) {
    -webkit-@{property}: @value;
	 -khtml-@{property}: @value;
	    -ms-@{property}: @value;
       -moz-@{property}: @value;
            @{property}: @value;
}

.example {

	h1 {
		text-align: center;
	}

	main {
		max-width: 1024px;
		margin: 0 auto;
	}
	.example-nav {
		text-align: center;
		ul {
			li {
				display: inline-block;
				list-style: none;
			}
		}
	}

	.notes {
		border: dashed #9C6F39 3px;
		padding: 1em;
		background-color: #ffffee;
		margin: 2em auto;
		max-width: calc(1024px - 2em);

		h2 {
			margin: 0;
			border-bottom: none;
		}
	}
}