/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import "../../fonts/specify/stylesheet.css";
@import "../../fonts/modeseven/stylesheet.css";
@import "../../fonts/monice/stylesheet.css";
@import "../../fonts/Droid-Sans/stylesheet.css";
@import "../../fonts/OpenSans/stylesheet.css";
@import "../../fonts/GraublauSansWeb/stylesheet.css";
@import "../../fonts/ex-rounded/stylesheet.css";
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 1rem;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
/*
 * Form reset 
 */
legend {
  padding: 0;
  display: table;
}
fieldset {
  border: 0;
  padding: 0.01em 0 0 0;
  margin: 0;
  min-width: 0;
}
body:not(:-moz-handler-blocked) fieldset {
  display: table-cell;
}
:root {
  --focus-color: #097efb;
  --focus-color-dark-bg: #3b99fc;
}
@media (prefers-color-scheme: dark) {
  :root {
    --focus-color: #3b99fc;
    --focus-color-dark-bg: #097efb;
  }
}
body {
  font-family: "Helvetica", "Arial", sans-serif;
  line-height: 1.1;
  color: #444;
  /* @media @tablet-up {
    display: flex;
    width: 100vw;
    min-height: 100vh;
    flex-direction: column;
    justify-content: space-between;
  } */
}
strong {
  font-weight: bold;
  color: #222;
}
em {
  font-family: "OpenSans", "Helvetica", "Arial", sans-serif;
  font-style: italic;
}
ul {
  list-style: initial;
}
ol {
  list-style: decimal;
}
h1 {
  font-weight: bold;
  color: #222;
  font-size: 2.1875rem;
}
h2 {
  font-size: 1.8125rem;
  border-bottom: solid 1px #999999;
  margin: 1.8125rem 0 0 0;
  color: #222;
}
h3 {
  font-weight: bold;
  padding-top: 20px;
  font-size: 1.25rem;
  border-bottom: double 3px #000;
}
.enable__is-dark-mode h3 {
  border-color: #ededed;
}
h4 {
  font-weight: 500;
  padding: 20px 0;
  font-size: 1.25rem;
}
a {
  color: #A76000;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  scroll-margin-top: 100px;
}
.heading__deeplink {
  color: inherit;
  text-decoration: none;
}
.heading__deeplink:focus::after,
.heading__deeplink:hover::after {
  color: #666;
  content: "#";
  display: inline-block;
  font-size: 0.7em;
  margin-left: 4px;
  text-decoration: none;
  transform: translateY(-0.25rem);
}
ul,
ol {
  padding-left: 1.2rem;
  margin-left: 1.2rem;
}
ul table,
ol table {
  margin-top: 1.5rem;
}
ul {
  list-style: disc;
}
ul,
ol,
p {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
table li {
  margin-bottom: 1.5rem;
}
.enable-quote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C" "\201D" "\2018" "\2019";
}
.centered-block {
  margin: 0 auto;
  display: block;
}
.example h1 {
  text-align: center;
}
.example main {
  max-width: 1024px;
  margin: 0 auto;
}
.example .example-nav {
  text-align: center;
}
.example .example-nav ul li {
  display: inline-block;
  list-style: none;
}
.example .notes {
  border: dashed #9c6f39 3px;
  padding: 1em;
  background-color: #ffffee;
  margin: 2em auto;
  max-width: calc(1024px - 2em);
}
.example .notes h2 {
  margin: 0;
  border-bottom: none;
}
input,
select {
  font-size: 1em;
}
.enable-example {
  padding: 1em;
  border: solid 1px black;
  margin: 3em 0;
  border-left: solid 5px black;
  font-family: "Helvetica", "Arial", sans-serif;
}
.enable__is-dark-mode .enable-example {
  border-color: #aaa;
}
.enable-example--no-border {
  border: none;
}
.enable-example:has(video),
.enable-example:has(iframe) {
  padding: 0;
  border: none;
  /* margin: 0 -@mobile-page-padding;

        @media @desktop {
            margin: 0 -@page-padding;
        } */
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
.mobile {
  display: none !important;
}
@media only screen and (min-width: 1px) and (max-width: 719px) {
  .mobile {
    display: inherit !important;
  }
}
.tablet {
  display: none !important;
}
@media only screen and (min-width: 720px) and (max-width: 959px) {
  .tablet {
    display: inherit !important;
  }
}
.desktop {
  display: none !important;
}
@media only screen and (min-width: 960px) {
  .desktop {
    display: inherit !important;
  }
}
.mobile-and-tablet {
  display: none !important;
}
@media only screen and (min-width: 1px) and (max-width: 959px) {
  .mobile-and-tablet {
    display: inherit !important;
  }
}
.bookmarklet {
  border: solid 1px black;
  border-radius: 14px;
  padding: 7px;
  margin: 1em auto;
  color: white;
  font-weight: bold;
  max-width: 15em;
  width: 50%;
  background-color: #4c6874;
  display: block;
  text-align: center;
  text-decoration: none;
  text-shadow: 2px 2px 2px black;
}
.list--no-decoration,
.list--inline {
  list-style: none;
  margin-left: 0;
}
.list--inline {
  margin-left: -5px;
}
.list--inline > li {
  display: inline-block;
  padding-right: 5px;
  padding-left: 5px;
}
.break--with-space {
  content: "A" !important;
  display: block !important;
  margin-bottom: 0.5rem !important;
}
/* z-index overrides */
.enable-flyout {
  z-index: 10001 !important;
}
.enable-flyout__overlay-screen {
  z-index: 10000 !important;
}
.enable-flyout__open-menu-button {
  z-index: 10002 !important;
}
.play-pause-anim__checkbox-container {
  z-index: 9999 !important;
}
@media only screen and (min-width: 960px) {
  .play-pause-anim__checkbox-container {
    z-index: 10002 !important;
    transform: translateZ(2px);
  }
}
.enable-flyout__body--is-open .play-pause-anim__checkbox-container {
  z-index: 0 !important;
}
code {
  font-family: "ModeSeven", "Consolas", monospace;
  background-color: #eee;
  border-radius: 3px;
  padding: 3px;
  word-wrap: break-word;
}
a code {
  background-color: #f6f6f6;
}
.enable__is-dark-mode code {
  color: #0a0;
  background-color: #000;
}
.center {
  text-align: center;
}
.margin-bottom {
  margin-bottom: 40px;
}
.compliance-table {
  width: 450px;
  max-width: 100%;
}
.has-multi-tables .compliance-table {
  vertical-align: top;
}
@media only screen and (min-width: 960px) {
  .has-multi-tables .compliance-table {
    display: inline-block;
  }
  .has-multi-tables .compliance-table:not(:last-child) {
    margin-right: 20px;
  }
}
.compliance-table,
.comparison-table {
  margin: 1em auto 3em auto;
}
.compliance-table th,
.comparison-table th,
.compliance-table td,
.comparison-table td {
  text-align: center;
  vertical-align: middle;
}
.compliance-table th a,
.comparison-table th a {
  color: #ccccff;
}
.enable__is-dark-mode .compliance-table th a,
.enable__is-dark-mode .comparison-table th a {
  color: #000088;
}
.compliance-table tr,
.comparison-table tr {
  background: none !important;
}
.compliance-table td,
.comparison-table td {
  border: solid 1px black;
}
.enable__is-dark-mode .compliance-table td,
.enable__is-dark-mode .comparison-table td {
  border: solid 1px #ededed;
}
.compliance-table__icon,
.comparison-table__icon {
  width: 20px;
}
.has-multi-tables {
  text-align: center;
}
.has-multi-tables::after {
  content: "";
  clear: both;
  display: table;
}
.meter-demo-container {
  align-items: center;
  column-gap: 10px;
  display: grid;
  grid-template-columns: 1fr auto;
  justify-content: space-between;
  text-wrap: nowrap;
  width: fit-content;
}
.screen-reader-table tr td {
  width: calc((100% - 125px) / 5);
}
.screen-reader-table tr td:first-child {
  width: 125px;
}
iframe:focus {
  outline: solid 2px var(--focus-color) !important;
  outline-offset: -2px;
}
iframe:focus:not(:focus-visible) {
  outline: none !important;
}
iframe:focus-visible {
  outline: solid 2px var(--focus-color) !important;
  outline-offset: -2px;
}
.enable__is-dark-mode main {
  color: #ededed;
}
.enable__is-dark-mode body {
  background: #333;
  color: #ededed;
}
.enable__is-dark-mode strong {
  color: #ededed;
}
.enable__is-dark-mode h1 {
  color: #ededed;
}
.enable__is-dark-mode h2 {
  color: #ededed;
}
.enable__is-dark-mode p {
  color: #ededed;
}
.enable__is-dark-mode a {
  color: #FF9F1C;
}
.enable__is-dark-mode .enable-quote {
  background: #222;
  border-left: 10px solid #555;
}
.enable__is-dark-mode input,
.enable__is-dark-mode textarea,
.enable__is-dark-mode select {
  background: #121212;
  color: #ededed;
  border-color: #ededed;
}
.enable__is-dark-mode input[type="submit"] {
  background: #343434;
  color: #ededed;
}
img,
svg {
  max-width: 100%;
}
/*********************************************************
 * a11y.css - a stylesheet to help create 
 * accessible websites.
 * 
 * by Zoltan Hawryluk (zoltan.dulac@gmail.com)
 * Licensed under the MIT License
 * 
 * https://opensource.org/licenses/MIT
 ********************************************************/
.sr-only {
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  margin: -1px;
}
/*
 * For `.sr-only` elements that should be visible when it gains focus. 
 */
.visible-when-focused:focus {
  clip: auto;
  -webkit-clip-path: none;
  clip-path: none;
  height: auto;
  overflow: visible;
  position: static;
  white-space: normal;
  width: auto;
  margin: initial;
}
/*
 * Style for "Skip Navigation" type links.  Should have an href linked to 
 * a `.ally-target` element.
 */
.bypass-block-link:focus {
  position: absolute;
  text-decoration: none;
  background: #ffffcc;
  padding: 0.2em;
  z-index: 10;
}
/*
 * We don't want the `.bypass-block-target` to have an outline on *just* focus,
 * since this will look strange if regular users click inside this element,
 * since it will look like it was tabbed into
 */
.bypass-block-target:focus {
  outline: none;
}
/*
 * We do, however, want the `.bypass-block-target` to have an outline when
 * it has focus and it is the target of the document (i.e. the hash tag of the
 * document URL is the same as the "Skip Nav" link).
 * 
 * Note that this style is the same as the focus state on all the tabbable 
 * elements.  It doesn't have to be.  WCAG 2.4.7 – Focus Visible (Level AA) 
 * only requires that the focus state is visible, so you can have, say, the 
 * focus state of a button different than that of a form element. 
 */
.bypass-block-target:focus:target {
  outline: solid 2px var(--focus-color);
}
*:focus {
  outline: solid 2px var(--focus-color);
}
*:focus:not(:focus-visible) {
  outline: none;
}
*:focus-visible {
  outline: solid 2px var(--focus-color);
}
/*
 * Placeholder text should mmet WCAG requirement 1.4.3: Contrast (Minimum) 
 * Level AA
 * 
 * From https://www.w3.org/WAI/tutorials/forms/instructions/
 */
.placeholder-removed {
  opacity: 0.999;
}
[placeholder] {
  background-color: #fff;
  border: solid 1px #777;
}
::-webkit-input-placeholder {
  color: #777;
  opacity: 1;
}
:-moz-placeholder {
  /* Firefox 18- */
  color: #777;
  opacity: 1;
}
::-moz-placeholder {
  /* Firefox 19+ */
  color: #777;
  opacity: 1;
}
:-ms-input-placeholder {
  color: #777;
  opacity: 1;
}
/*
 *	Fixes to ensure text zoom works correctly in Safari/OSX
 */
body {
  /*
     * This tells Safari to use the OS's base font and
     * the size set in the iOS Accessibility settings.
     */
  font: -apple-system-body;
  font-size: 16px;
  /* PX OK */
  /*
     * Put whatever font you want to use here or in the body
	 * selector of another stylesheet.  The font
     * size will still be grabbed by the iOS Accessibility
     * settings.

	 font-family: "Helvetica", "Arial", sans-serif;
     */
}
/* Prevents sticky header to obscure focused elements */
main *:focus,
main *:focus-visible {
  scroll-margin-top: 15rem;
}
body {
  margin: 0;
  position: relative;
}
header,
[role="banner"] {
  margin: 0;
  border-bottom: solid 1px rgba(0, 0, 0, 0.4);
  /*
   * Used to work around a Safari OSX bug with sticky table content
   * stacking on top of the banner
   */
  transform: translateZ(2px);
  /* Firefox needed this to work around the Safari workaround. */
  position: relative;
  z-index: 3;
  /*
   * When the hamburger menu is open, we need to undo all of the
   * above so the stacking order doesn't mess up with its overlay
   * screen.
   */
}
.enable-flyout__body--is-open header,
.enable-flyout__body--is-open [role="banner"] {
  transform: initial;
  position: initial;
  z-index: initial;
}
header h1,
[role="banner"] h1 {
  font-size: inherit;
  font-weight: inherit;
}
header .search-form,
[role="banner"] .search-form {
  position: absolute;
  top: 1em;
  right: 1em;
}
.logo {
  position: relative;
  display: inline-block;
  padding: 20px;
  background: #9999ff;
  border-radius: 50%;
  transform: rotate(-10deg);
}
.logo .acme,
.logo .zoltipedia {
  display: inline-block;
  position: relative;
  transform: scale(1.1) translateY(-20px) rotate(10deg);
  color: #ff9999;
  text-shadow: 1px 0 0 #000, -1px 0 0 #000, 0 1px 0 #000, 0 -1px 0 #000, 3px 3px #000;
}
.logo .acme {
  font-size: 4.375rem;
  font-weight: 900;
}
.logo .zoltipedia {
  font-size: 3.75rem;
}
.logo .corp {
  position: absolute;
  display: inline-block;
  transform: rotate(10deg) scaleY(0.7);
  top: 60%;
  right: 5%;
}
.logo .zoltipedia + .corp {
  top: 70%;
}
.motto {
  position: absolute;
  transform: rotate(10deg);
  bottom: -20px;
  left: 30px;
  font-size: 0.8em;
  font-family: "Palatino", serif;
  font-style: italic;
  width: 500px;
}
main:not(.with-full-bleed-hero),
[role="main"]:not(.with-full-bleed-hero),
#main:not(.with-full-bleed-hero),
.with-full-bleed-hero__content {
  padding: 10px;
  margin: 0 auto;
  max-width: 1024px;
  line-height: 1.4;
  position: relative;
}
@media only screen and (min-width: 720px) and (max-width: 959px) {
  main:not(.with-full-bleed-hero),
  [role="main"]:not(.with-full-bleed-hero),
  #main:not(.with-full-bleed-hero),
  .with-full-bleed-hero__content {
    padding: 30px;
  }
}
.inline-left {
  float: left;
  margin: 0 1em 1em 0;
}
.inline-right {
  float: right;
  margin: 0 0 1em 1em;
}
.inline-left,
.inline-right {
  width: 200px;
}
article:after {
  content: "";
  display: table;
  clear: both;
}
aside,
[role="complementary"] {
  display: block;
  background: #ddd url("data:image/svg+xml,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22UTF-8%22%20standalone%3D%22no%22%3F%3E%0A%3Csvg%20xmlns%3Adc%3D%22http%3A%2F%2Fpurl.org%2Fdc%2Felements%2F1.1%2F%22%20xmlns%3Acc%3D%22http%3A%2F%2Fcreativecommons.org%2Fns%23%22%20xmlns%3Ardf%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2F02%2F22-rdf-syntax-ns%23%22%20xmlns%3Asvg%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20version%3D%221.1%22%20width%3D%2272pt%22%20height%3D%2272pt%22%20id%3D%22svg604%22%3E%0A%20%20%3Cmetadata%20id%3D%22metadata45%22%3E%0A%20%20%20%20%3Crdf%3ARDF%3E%0A%20%20%20%20%20%20%3Ccc%3AWork%20rdf%3Aabout%3D%22%22%3E%0A%20%20%20%20%20%20%20%20%3Cdc%3Aformat%3Eimage%2Fsvg%2Bxml%3C%2Fdc%3Aformat%3E%0A%20%20%20%20%20%20%20%20%3Cdc%3Atype%20rdf%3Aresource%3D%22http%3A%2F%2Fpurl.org%2Fdc%2Fdcmitype%2FStillImage%22%2F%3E%0A%20%20%20%20%20%20%20%20%3Cdc%3Atitle%2F%3E%0A%20%20%20%20%20%20%3C%2Fcc%3AWork%3E%0A%20%20%20%20%3C%2Frdf%3ARDF%3E%0A%20%20%3C%2Fmetadata%3E%0A%20%20%3Cdefs%20id%3D%22defs606%22%3E%0A%20%20%20%20%3ClinearGradient%20id%3D%22linearGradient612%22%3E%0A%20%20%20%20%20%20%3Cstop%20id%3D%22stop613%22%20style%3D%22stop-color%3A%237fa8e3%3Bstop-opacity%3A0.74117601%22%20offset%3D%220%22%2F%3E%0A%20%20%20%20%20%20%3Cstop%20id%3D%22stop614%22%20style%3D%22stop-color%3A%23ffffff%3Bstop-opacity%3A0%22%20offset%3D%221%22%2F%3E%0A%20%20%20%20%3C%2FlinearGradient%3E%0A%20%20%20%20%3ClinearGradient%20x1%3D%2250.643887%22%20y1%3D%225.3679295%22%20x2%3D%2235.752094%22%20y2%3D%2268.044357%22%20id%3D%22linearGradient615%22%20xlink%3Ahref%3D%22%23linearGradient612%22%20gradientUnits%3D%22userSpaceOnUse%22%20spreadMethod%3D%22pad%22%2F%3E%0A%20%20%3C%2Fdefs%3E%0A%20%20%3Cpath%20d%3D%22M%2012.8163%2C74.753%20C%2010.3856%2C73.6481%207.07107%2C70.1126%208.83884%2C65.2512%20L%2078.6656%2C20.8361%20c%201.9888%2C1.7678%203.5356%2C3.2041%201.9888%2C7.0711%20-1.1048%2C1.9887%20-14.2527%2C46.6248%20-14.4736%2C49.4975%20-0.8839%2C3.0936%20-3.425%2C6.8501%20-7.6235%2C6.6291%20-4.1984%2C-0.221%20-42.6474%2C-8.6179%20-45.741%2C-9.2808%20z%22%20transform%3D%22matrix(1.114903%2C0%2C0%2C1.114903%2C-5.305332%2C-3.889256)%22%20id%3D%22path794%22%20style%3D%22fill-opacity%3A0.30147125%3Bfill-rule%3Aevenodd%22%2F%3E%0A%20%20%3Cpath%20d%3D%22M%2012.8163%2C74.753%20C%2010.3856%2C73.6481%207.07107%2C70.1126%208.83884%2C65.2512%209.72267%2C59.948%2025.6326%2C13.1021%2029.1682%2C10.8924%2031.3778%2C8.90368%2034.582%2C8.13026%2039.1119%2C9.34561%20c%203.7565%2C0.88389%2037.565%2C9.72279%2039.5537%2C11.49049%201.9888%2C1.7678%203.5356%2C3.2041%201.9888%2C7.0711%20-1.1048%2C1.9887%20-14.2527%2C46.6248%20-14.4736%2C49.4975%20-0.8839%2C3.0936%20-3.425%2C6.8501%20-7.6235%2C6.6291%20-4.1984%2C-0.221%20-42.6474%2C-8.6179%20-45.741%2C-9.2808%20z%22%20transform%3D%22matrix(1.114903%2C0%2C0%2C1.114903%2C-8.162471%2C-8.460684)%22%20id%3D%22path609%22%20style%3D%22fill%3A%233d4e67%3Bfill-rule%3Aevenodd%22%2F%3E%0A%20%20%3Cpath%20d%3D%22M%2017.8987%2C70.9965%20C%2015.3576%2C70.3336%2011.7114%2C69.6706%2013.0373%2C65.6932%2015.468%2C55.9705%2027.8424%2C18.6264%2033.1456%2C13.986%20c%201.2154%2C-1.1049%205.3033%2C-1.5468%2013.0373%2C0.8839%208.8389%2C2.6516%2026.7375%2C8.6178%2028.5053%2C9.5017%201.7677%2C0.8839%202.4307%2C0.8839%201.1048%2C4.8614%20-1.9887%2C3.9775%20-10.8275%2C38.007%20-13.0373%2C43.7522%20-1.5467%2C4.088%20-1.8782%2C5.9662%20-4.5299%2C5.9662%22%20transform%3D%22matrix(1.114903%2C0%2C0%2C1.114903%2C-8.162471%2C-8.460684)%22%20id%3D%22path608%22%20style%3D%22fill%3A%23ffffff%3Bfill-rule%3Aevenodd%22%2F%3E%0A%20%20%3Cpath%20d%3D%22m%2028.75%2C13.75%20c%200%2C0%203.125%2C-6.25005%2010.9375%2C-4.37505%20C%2047.5%2C11.25%2078.125%2C19.375%2077.8125%2C21.875%2077.5%2C24.375%2071.875%2C39.0625%2071.5625%2C40.3125%2071.25%2C41.5625%2042.5%2C40.9375%2031.5625%2C47.5%2020.625%2C54.0625%2012.5%2C59.6875%2012.5%2C59.6875%20c%200%2C0%2011.25%2C-35%2016.25%2C-45.9375%20z%22%20transform%3D%22matrix(0.94678%2C0%2C0%2C0.94678%2C-0.480566%2C0.409517)%22%20id%3D%22path636%22%20style%3D%22fill%3Aurl(%23linearGradient615)%3Bfill-rule%3Aevenodd%22%2F%3E%0A%20%20%3Cpath%20d%3D%22M%2029.2429%2C15.8991%2069.8423%2C26.6877%22%20transform%3D%22translate(1.135645%2C0.851736)%22%20id%3D%22path671%22%20style%3D%22fill%3Anone%3Bstroke%3A%2342667e%3Bstroke-width%3A1pt%22%2F%3E%0A%20%20%3Cpath%20d%3D%22M%2027.8233%2C19.306%2067.8549%2C30.9464%22%20transform%3D%22matrix(0.999855%2C-0.01703691%2C0.01703691%2C0.999855%2C-0.705041%2C5.077353)%22%20id%3D%22path672%22%20style%3D%22fill%3Anone%3Bstroke%3A%2342667e%3Bstroke-width%3A1pt%22%2F%3E%0A%20%20%3Cpath%20d%3D%22M%2029.2429%2C15.8991%2069.8423%2C26.6877%22%20transform%3D%22translate(-5.394323%2C17.0347)%22%20id%3D%22path673%22%20style%3D%22fill%3Anone%3Bstroke%3A%2342667e%3Bstroke-width%3A1pt%22%2F%3E%0A%20%20%3Cpath%20d%3D%22M%2029.2429%2C15.8991%2069.8423%2C26.6877%22%20transform%3D%22translate(-11.35647%2C34.0694)%22%20id%3D%22path675%22%20style%3D%22fill%3Anone%3Bstroke%3A%2342667e%3Bstroke-width%3A1pt%22%2F%3E%0A%20%20%3Cpath%20d%3D%22M%2027.8233%2C19.306%2067.8549%2C30.9464%22%20transform%3D%22matrix(0.999855%2C-0.01703691%2C0.01703691%2C0.999855%2C-13.19715%2C38.29502)%22%20id%3D%22path676%22%20style%3D%22fill%3Anone%3Bstroke%3A%2342667e%3Bstroke-width%3A1pt%22%2F%3E%0A%20%20%3Cpath%20d%3D%22M%2027.8233%2C19.306%2067.8549%2C30.9464%22%20transform%3D%22matrix(0.999855%2C-0.01703691%2C0.01703691%2C0.999855%2C-7.235008%2C21.26032)%22%20id%3D%22path674%22%20style%3D%22fill%3Anone%3Bstroke%3A%2342667e%3Bstroke-width%3A1pt%22%2F%3E%0A%20%20%3Cg%20id%3D%22g666%22%3E%0A%20%20%20%20%3Cpath%20d%3D%22m%2044.8581%2C15.0473%20c%20-3.4478%2C0%20-5.1105%2C-2.5484%20-5.1105%2C-6.38799%200%2C-3.83962%202.7983%2C-6.95584%206.2461%2C-6.95584%203.4478%2C0%204.5425%2C1.12884%204.5425%2C4.96845%22%20transform%3D%22matrix(0.948718%2C0%2C0%2C1%2C4.011168%2C0.567827)%22%20id%3D%22path667%22%20style%3D%22fill%3Anone%3Bstroke%3A%234f4f4f%3Bstroke-width%3A2.875%3Bstroke-linecap%3Around%22%2F%3E%0A%20%20%20%20%3Cpath%20d%3D%22m%2044.8581%2C14.7634%20c%20-3.4478%2C0%20-5.3944%2C-2.2645%20-5.3944%2C-6.10409%200%2C-3.83962%202.7983%2C-7.807574%206.2461%2C-7.807574%203.4478%2C0%204.8264%2C1.980574%204.8264%2C5.820184%22%20transform%3D%22matrix(0.948718%2C0%2C0%2C1%2C4.011168%2C0.567827)%22%20id%3D%22path668%22%20style%3D%22fill%3Anone%3Bstroke%3A%23c2c2c2%3Bstroke-width%3A0.625%3Bstroke-linecap%3Around%22%2F%3E%0A%20%20%3C%2Fg%3E%0A%20%20%3Cuse%20transform%3D%22translate(10.788642%2C1.987381)%22%20id%3D%22use669%22%20x%3D%220%22%20y%3D%220%22%20width%3D%2290%22%20height%3D%2290%22%20xlink%3Ahref%3D%22%23g666%22%2F%3E%0A%20%20%3Cg%20transform%3D%22matrix(0.69841%2C0%2C0%2C0.69841%2C31.4038%2C0.671206)%22%20id%3D%22g677%22%3E%0A%20%20%20%20%3Cdefs%20id%3D%22defs611%22%3E%0A%20%20%20%20%20%20%3ClinearGradient%20id%3D%22linearGradient626%22%3E%0A%20%20%20%20%20%20%20%20%3Cstop%20id%3D%22stop627%22%20style%3D%22stop-color%3A%23b5772d%3Bstop-opacity%3A1%22%20offset%3D%220%22%2F%3E%0A%20%20%20%20%20%20%20%20%3Cstop%20id%3D%22stop628%22%20style%3D%22stop-color%3A%23ffffff%3Bstop-opacity%3A0%22%20offset%3D%221%22%2F%3E%0A%20%20%20%20%20%20%3C%2FlinearGradient%3E%0A%20%20%20%20%20%20%3ClinearGradient%20id%3D%22linearGradient619%22%3E%0A%20%20%20%20%20%20%20%20%3Cstop%20id%3D%22stop620%22%20style%3D%22stop-color%3A%23770000%3Bstop-opacity%3A1%22%20offset%3D%220%22%2F%3E%0A%20%20%20%20%20%20%20%20%3Cstop%20id%3D%22stop621%22%20style%3D%22stop-color%3A%23ffffff%3Bstop-opacity%3A0%22%20offset%3D%221%22%2F%3E%0A%20%20%20%20%20%20%3C%2FlinearGradient%3E%0A%20%20%20%20%20%20%3ClinearGradient%20x1%3D%2266.331696%22%20y1%3D%2223.212469%22%20x2%3D%2263.465496%22%20y2%3D%2220.962799%22%20id%3D%22linearGradient622%22%20xlink%3Ahref%3D%22%23linearGradient619%22%20gradientUnits%3D%22userSpaceOnUse%22%20gradientTransform%3D%22scale(1.004516%2C0.995504)%22%20spreadMethod%3D%22pad%22%2F%3E%0A%20%20%20%20%20%20%3ClinearGradient%20x1%3D%2256.327614%22%20y1%3D%2243.377247%22%20x2%3D%2251.654526%22%20y2%3D%2239.762909%22%20id%3D%22linearGradient625%22%20xlink%3Ahref%3D%22%23linearGradient626%22%20gradientUnits%3D%22userSpaceOnUse%22%20gradientTransform%3D%22scale(0.912664%2C1.095694)%22%20spreadMethod%3D%22pad%22%2F%3E%0A%20%20%20%20%3C%2Fdefs%3E%0A%20%20%20%20%3Cpath%20d%3D%22M%209.33685%2C82.1156%20C%2017.9129%2C79.7641%2030.9112%2C77.5637%2040.1097%2C71.8924%2056.9851%2C62.0714%2066.0118%2C41.6332%2076.4551%2C25.5877%2077.285%2C12.3086%2064.1128%2C5.96872%2059.1331%2C8.87345%2046.4766%2C25.4722%2037.5548%2C43.5235%2023.4458%2C55.9725%2019.0886%2C66.5542%209.12934%2C82.738%209.33685%2C82.1156%20z%22%20transform%3D%22translate(3.814559%2C2.934275)%22%20id%3D%22path632%22%20style%3D%22fill-opacity%3A0.28318601%3Bfill-rule%3Aevenodd%22%2F%3E%0A%20%20%20%20%3Cpath%20d%3D%22M%209.33685%2C82.1156%20C%2017.9129%2C79.7641%2028.5638%2C74.9228%2037.7623%2C69.2516%2054.6377%2C59.4306%2064.2512%2C38.4055%2074.6945%2C22.36%2075.5244%2C9.08092%2064.1128%2C5.96872%2059.1331%2C8.87345%2046.4766%2C25.4722%2037.5548%2C43.5235%2023.4458%2C55.9725%2019.0886%2C66.5542%209.12934%2C82.738%209.33685%2C82.1156%20z%22%20id%3D%22path617%22%20style%3D%22fill-rule%3Aevenodd%22%2F%3E%0A%20%20%20%20%3Cpath%20d%3D%22m%2071.9972%2C20.9076%20c%20-1.729%2C2.4898%20-3.4581%2C4.9796%20-5.1871%2C7.4694%20-2.2823%2C-5.3946%20-4.9796%2C-8.0919%20-11.8266%2C-8.7143%202.2132%2C-2.6973%204.4263%2C-5.3946%206.6395%2C-8.0919%205.5329%2C-0.6225%209.8209%2C4.1497%2010.3742%2C9.3368%20z%22%20id%3D%22path613%22%20style%3D%22fill%3A%23be6d6d%3Bfill-rule%3Aevenodd%22%2F%3E%0A%20%20%20%20%3Cpath%20d%3D%22m%2054.776%2C20.9076%20c%205.3946%2C-0.3458%209.1293%2C3.6656%2011.2041%2C8.2994%20-8.4377%2C13.6248%20-15.423%2C27.0422%20-29.6703%2C37.7622%200%2C0%20-3.5272%2C-10.1668%20-8.7143%2C-8.9218%206.432%2C-7.262%2021.3709%2C-28.0104%2027.1805%2C-37.1398%20z%22%20id%3D%22path614%22%20style%3D%22fill%3A%23ffbc24%3Bfill-rule%3Aevenodd%22%2F%3E%0A%20%20%20%20%3Cpath%20d%3D%22m%2027.0767%2C58.6698%20c%204.6684%2C-0.2421%208.6106%2C5.3255%207.5732%2C8.7144%20-2.0057%2C1.5215%20-5.2562%2C3.0431%20-7.2619%2C4.5646%20-0.3458%2C-2.7664%20-2.144%2C-4.9104%20-6.0171%2C-4.5646%201.729%2C-2.974%203.9768%2C-5.7404%205.7058%2C-8.7144%20z%22%20id%3D%22path615%22%20style%3D%22fill%3A%23e9dbb9%3Bfill-rule%3Aevenodd%22%2F%3E%0A%20%20%20%20%3Cpath%20d%3D%22m%2021.7859%2C66.9692%20c%203.5618%2C-0.8299%205.0488%2C2.6973%205.8096%2C4.7722%20l%20-13.2791%2C6.017%207.4695%2C-10.7892%20z%22%20id%3D%22path616%22%20style%3D%22fill%3A%23586f93%3Bfill-rule%3Aevenodd%22%2F%3E%0A%20%20%20%20%3Cpath%20d%3D%22m%2071.9972%2C20.9076%20c%20-1.729%2C2.4898%20-3.4581%2C4.9796%20-5.1871%2C7.4694%20-2.2823%2C-5.3946%20-4.9796%2C-8.0919%20-11.8266%2C-8.7143%202.2132%2C-2.6973%204.4263%2C-5.3946%206.6395%2C-8.0919%205.5329%2C-0.6225%209.8209%2C4.1497%2010.3742%2C9.3368%20z%22%20id%3D%22path618%22%20style%3D%22fill%3Aurl(%23linearGradient622)%3Bfill-rule%3Aevenodd%22%2F%3E%0A%20%20%20%20%3Cpath%20d%3D%22m%2062.8679%2C12.1932%20-5.3946%2C6.847%202.9048%2C1.0374%205.3946%2C-6.432%20-2.9048%2C-1.4524%20z%22%20id%3D%22path623%22%20style%3D%22fill%3A%23ffffff%3Bfill-rule%3Aevenodd%22%2F%3E%0A%20%20%20%20%3Cpath%20d%3D%22m%2054.776%2C20.9076%20c%205.3946%2C-0.3458%209.1293%2C3.6656%2011.2041%2C8.2994%20-8.4377%2C13.6248%20-15.423%2C27.0422%20-29.6703%2C37.7622%200%2C0%20-3.5272%2C-10.1668%20-8.7143%2C-8.9218%206.432%2C-7.262%2021.3709%2C-28.0104%2027.1805%2C-37.1398%20z%22%20id%3D%22path624%22%20style%3D%22fill%3Aurl(%23linearGradient625)%3Bfill-rule%3Aevenodd%22%2F%3E%0A%20%20%20%20%3Cpath%20d%3D%22m%2029.6703%2C56.18%20c%201.2449%2C0.7608%202.4898%2C1.5215%203.7347%2C2.2823%20C%2042.5344%2C47.6039%2046.6841%2C36.5381%2058.9257%2C24.6423%2057.7499%2C23.8815%2056.5742%2C23.1208%2055.3984%2C22.36%2048.0673%2C35.0857%2039.6987%2C47.3965%2029.6703%2C56.18%20z%22%20id%3D%22path630%22%20style%3D%22fill%3A%23ffffff%3Bfill-rule%3Aevenodd%22%2F%3E%0A%20%20%20%20%3Cpath%20d%3D%22m%2034.7538%2C67.2805%20c%200.2074%2C-2.1786%20-0.3113%2C-3.7348%20-1.4525%2C-5.4984%20-1.5215%2C3.3889%20-3.873%2C5.8441%20-7.1582%2C6.6395%20-0.7262%2C0.6224%201.2449%2C1.9711%201.4524%2C3.216%201.8674%2C-1.1412%207.1583%2C-3.7347%207.1583%2C-4.3571%20z%22%20id%3D%22path631%22%20style%3D%22fill%3A%239c7850%3Bfill-rule%3Aevenodd%22%2F%3E%0A%20%20%3C%2Fg%3E%0A%3Cscript%20xmlns%3D%22%22%2F%3E%3C%2Fsvg%3E") no-repeat 1em 1em;
  margin: 1em auto;
  padding: 1em 1em 1em calc(100px + 2em);
  min-height: 8.6875rem;
  border: solid 1px black;
  box-shadow: 4px 4px 0 black;
  line-height: 1.4;
  max-width: 1024px;
}
aside h2,
[role="complementary"] h2 {
  font-family: "OpenSans", "Helvetica", "Arial", sans-serif;
  font-weight: bold;
  margin-top: 0;
}
@media only screen and (min-width: 1px) and (max-width: 719px) {
  aside,
  [role="complementary"] {
    background-size: 3rem;
    padding-left: 1rem;
    background: #ddd;
  }
  aside h2::before,
  [role="complementary"] h2::before {
    content: "";
    background: url("data:image/svg+xml,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22UTF-8%22%20standalone%3D%22no%22%3F%3E%0A%3Csvg%20xmlns%3Adc%3D%22http%3A%2F%2Fpurl.org%2Fdc%2Felements%2F1.1%2F%22%20xmlns%3Acc%3D%22http%3A%2F%2Fcreativecommons.org%2Fns%23%22%20xmlns%3Ardf%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2F02%2F22-rdf-syntax-ns%23%22%20xmlns%3Asvg%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20version%3D%221.1%22%20width%3D%2272pt%22%20height%3D%2272pt%22%20id%3D%22svg604%22%3E%0A%20%20%3Cmetadata%20id%3D%22metadata45%22%3E%0A%20%20%20%20%3Crdf%3ARDF%3E%0A%20%20%20%20%20%20%3Ccc%3AWork%20rdf%3Aabout%3D%22%22%3E%0A%20%20%20%20%20%20%20%20%3Cdc%3Aformat%3Eimage%2Fsvg%2Bxml%3C%2Fdc%3Aformat%3E%0A%20%20%20%20%20%20%20%20%3Cdc%3Atype%20rdf%3Aresource%3D%22http%3A%2F%2Fpurl.org%2Fdc%2Fdcmitype%2FStillImage%22%2F%3E%0A%20%20%20%20%20%20%20%20%3Cdc%3Atitle%2F%3E%0A%20%20%20%20%20%20%3C%2Fcc%3AWork%3E%0A%20%20%20%20%3C%2Frdf%3ARDF%3E%0A%20%20%3C%2Fmetadata%3E%0A%20%20%3Cdefs%20id%3D%22defs606%22%3E%0A%20%20%20%20%3ClinearGradient%20id%3D%22linearGradient612%22%3E%0A%20%20%20%20%20%20%3Cstop%20id%3D%22stop613%22%20style%3D%22stop-color%3A%237fa8e3%3Bstop-opacity%3A0.74117601%22%20offset%3D%220%22%2F%3E%0A%20%20%20%20%20%20%3Cstop%20id%3D%22stop614%22%20style%3D%22stop-color%3A%23ffffff%3Bstop-opacity%3A0%22%20offset%3D%221%22%2F%3E%0A%20%20%20%20%3C%2FlinearGradient%3E%0A%20%20%20%20%3ClinearGradient%20x1%3D%2250.643887%22%20y1%3D%225.3679295%22%20x2%3D%2235.752094%22%20y2%3D%2268.044357%22%20id%3D%22linearGradient615%22%20xlink%3Ahref%3D%22%23linearGradient612%22%20gradientUnits%3D%22userSpaceOnUse%22%20spreadMethod%3D%22pad%22%2F%3E%0A%20%20%3C%2Fdefs%3E%0A%20%20%3Cpath%20d%3D%22M%2012.8163%2C74.753%20C%2010.3856%2C73.6481%207.07107%2C70.1126%208.83884%2C65.2512%20L%2078.6656%2C20.8361%20c%201.9888%2C1.7678%203.5356%2C3.2041%201.9888%2C7.0711%20-1.1048%2C1.9887%20-14.2527%2C46.6248%20-14.4736%2C49.4975%20-0.8839%2C3.0936%20-3.425%2C6.8501%20-7.6235%2C6.6291%20-4.1984%2C-0.221%20-42.6474%2C-8.6179%20-45.741%2C-9.2808%20z%22%20transform%3D%22matrix(1.114903%2C0%2C0%2C1.114903%2C-5.305332%2C-3.889256)%22%20id%3D%22path794%22%20style%3D%22fill-opacity%3A0.30147125%3Bfill-rule%3Aevenodd%22%2F%3E%0A%20%20%3Cpath%20d%3D%22M%2012.8163%2C74.753%20C%2010.3856%2C73.6481%207.07107%2C70.1126%208.83884%2C65.2512%209.72267%2C59.948%2025.6326%2C13.1021%2029.1682%2C10.8924%2031.3778%2C8.90368%2034.582%2C8.13026%2039.1119%2C9.34561%20c%203.7565%2C0.88389%2037.565%2C9.72279%2039.5537%2C11.49049%201.9888%2C1.7678%203.5356%2C3.2041%201.9888%2C7.0711%20-1.1048%2C1.9887%20-14.2527%2C46.6248%20-14.4736%2C49.4975%20-0.8839%2C3.0936%20-3.425%2C6.8501%20-7.6235%2C6.6291%20-4.1984%2C-0.221%20-42.6474%2C-8.6179%20-45.741%2C-9.2808%20z%22%20transform%3D%22matrix(1.114903%2C0%2C0%2C1.114903%2C-8.162471%2C-8.460684)%22%20id%3D%22path609%22%20style%3D%22fill%3A%233d4e67%3Bfill-rule%3Aevenodd%22%2F%3E%0A%20%20%3Cpath%20d%3D%22M%2017.8987%2C70.9965%20C%2015.3576%2C70.3336%2011.7114%2C69.6706%2013.0373%2C65.6932%2015.468%2C55.9705%2027.8424%2C18.6264%2033.1456%2C13.986%20c%201.2154%2C-1.1049%205.3033%2C-1.5468%2013.0373%2C0.8839%208.8389%2C2.6516%2026.7375%2C8.6178%2028.5053%2C9.5017%201.7677%2C0.8839%202.4307%2C0.8839%201.1048%2C4.8614%20-1.9887%2C3.9775%20-10.8275%2C38.007%20-13.0373%2C43.7522%20-1.5467%2C4.088%20-1.8782%2C5.9662%20-4.5299%2C5.9662%22%20transform%3D%22matrix(1.114903%2C0%2C0%2C1.114903%2C-8.162471%2C-8.460684)%22%20id%3D%22path608%22%20style%3D%22fill%3A%23ffffff%3Bfill-rule%3Aevenodd%22%2F%3E%0A%20%20%3Cpath%20d%3D%22m%2028.75%2C13.75%20c%200%2C0%203.125%2C-6.25005%2010.9375%2C-4.37505%20C%2047.5%2C11.25%2078.125%2C19.375%2077.8125%2C21.875%2077.5%2C24.375%2071.875%2C39.0625%2071.5625%2C40.3125%2071.25%2C41.5625%2042.5%2C40.9375%2031.5625%2C47.5%2020.625%2C54.0625%2012.5%2C59.6875%2012.5%2C59.6875%20c%200%2C0%2011.25%2C-35%2016.25%2C-45.9375%20z%22%20transform%3D%22matrix(0.94678%2C0%2C0%2C0.94678%2C-0.480566%2C0.409517)%22%20id%3D%22path636%22%20style%3D%22fill%3Aurl(%23linearGradient615)%3Bfill-rule%3Aevenodd%22%2F%3E%0A%20%20%3Cpath%20d%3D%22M%2029.2429%2C15.8991%2069.8423%2C26.6877%22%20transform%3D%22translate(1.135645%2C0.851736)%22%20id%3D%22path671%22%20style%3D%22fill%3Anone%3Bstroke%3A%2342667e%3Bstroke-width%3A1pt%22%2F%3E%0A%20%20%3Cpath%20d%3D%22M%2027.8233%2C19.306%2067.8549%2C30.9464%22%20transform%3D%22matrix(0.999855%2C-0.01703691%2C0.01703691%2C0.999855%2C-0.705041%2C5.077353)%22%20id%3D%22path672%22%20style%3D%22fill%3Anone%3Bstroke%3A%2342667e%3Bstroke-width%3A1pt%22%2F%3E%0A%20%20%3Cpath%20d%3D%22M%2029.2429%2C15.8991%2069.8423%2C26.6877%22%20transform%3D%22translate(-5.394323%2C17.0347)%22%20id%3D%22path673%22%20style%3D%22fill%3Anone%3Bstroke%3A%2342667e%3Bstroke-width%3A1pt%22%2F%3E%0A%20%20%3Cpath%20d%3D%22M%2029.2429%2C15.8991%2069.8423%2C26.6877%22%20transform%3D%22translate(-11.35647%2C34.0694)%22%20id%3D%22path675%22%20style%3D%22fill%3Anone%3Bstroke%3A%2342667e%3Bstroke-width%3A1pt%22%2F%3E%0A%20%20%3Cpath%20d%3D%22M%2027.8233%2C19.306%2067.8549%2C30.9464%22%20transform%3D%22matrix(0.999855%2C-0.01703691%2C0.01703691%2C0.999855%2C-13.19715%2C38.29502)%22%20id%3D%22path676%22%20style%3D%22fill%3Anone%3Bstroke%3A%2342667e%3Bstroke-width%3A1pt%22%2F%3E%0A%20%20%3Cpath%20d%3D%22M%2027.8233%2C19.306%2067.8549%2C30.9464%22%20transform%3D%22matrix(0.999855%2C-0.01703691%2C0.01703691%2C0.999855%2C-7.235008%2C21.26032)%22%20id%3D%22path674%22%20style%3D%22fill%3Anone%3Bstroke%3A%2342667e%3Bstroke-width%3A1pt%22%2F%3E%0A%20%20%3Cg%20id%3D%22g666%22%3E%0A%20%20%20%20%3Cpath%20d%3D%22m%2044.8581%2C15.0473%20c%20-3.4478%2C0%20-5.1105%2C-2.5484%20-5.1105%2C-6.38799%200%2C-3.83962%202.7983%2C-6.95584%206.2461%2C-6.95584%203.4478%2C0%204.5425%2C1.12884%204.5425%2C4.96845%22%20transform%3D%22matrix(0.948718%2C0%2C0%2C1%2C4.011168%2C0.567827)%22%20id%3D%22path667%22%20style%3D%22fill%3Anone%3Bstroke%3A%234f4f4f%3Bstroke-width%3A2.875%3Bstroke-linecap%3Around%22%2F%3E%0A%20%20%20%20%3Cpath%20d%3D%22m%2044.8581%2C14.7634%20c%20-3.4478%2C0%20-5.3944%2C-2.2645%20-5.3944%2C-6.10409%200%2C-3.83962%202.7983%2C-7.807574%206.2461%2C-7.807574%203.4478%2C0%204.8264%2C1.980574%204.8264%2C5.820184%22%20transform%3D%22matrix(0.948718%2C0%2C0%2C1%2C4.011168%2C0.567827)%22%20id%3D%22path668%22%20style%3D%22fill%3Anone%3Bstroke%3A%23c2c2c2%3Bstroke-width%3A0.625%3Bstroke-linecap%3Around%22%2F%3E%0A%20%20%3C%2Fg%3E%0A%20%20%3Cuse%20transform%3D%22translate(10.788642%2C1.987381)%22%20id%3D%22use669%22%20x%3D%220%22%20y%3D%220%22%20width%3D%2290%22%20height%3D%2290%22%20xlink%3Ahref%3D%22%23g666%22%2F%3E%0A%20%20%3Cg%20transform%3D%22matrix(0.69841%2C0%2C0%2C0.69841%2C31.4038%2C0.671206)%22%20id%3D%22g677%22%3E%0A%20%20%20%20%3Cdefs%20id%3D%22defs611%22%3E%0A%20%20%20%20%20%20%3ClinearGradient%20id%3D%22linearGradient626%22%3E%0A%20%20%20%20%20%20%20%20%3Cstop%20id%3D%22stop627%22%20style%3D%22stop-color%3A%23b5772d%3Bstop-opacity%3A1%22%20offset%3D%220%22%2F%3E%0A%20%20%20%20%20%20%20%20%3Cstop%20id%3D%22stop628%22%20style%3D%22stop-color%3A%23ffffff%3Bstop-opacity%3A0%22%20offset%3D%221%22%2F%3E%0A%20%20%20%20%20%20%3C%2FlinearGradient%3E%0A%20%20%20%20%20%20%3ClinearGradient%20id%3D%22linearGradient619%22%3E%0A%20%20%20%20%20%20%20%20%3Cstop%20id%3D%22stop620%22%20style%3D%22stop-color%3A%23770000%3Bstop-opacity%3A1%22%20offset%3D%220%22%2F%3E%0A%20%20%20%20%20%20%20%20%3Cstop%20id%3D%22stop621%22%20style%3D%22stop-color%3A%23ffffff%3Bstop-opacity%3A0%22%20offset%3D%221%22%2F%3E%0A%20%20%20%20%20%20%3C%2FlinearGradient%3E%0A%20%20%20%20%20%20%3ClinearGradient%20x1%3D%2266.331696%22%20y1%3D%2223.212469%22%20x2%3D%2263.465496%22%20y2%3D%2220.962799%22%20id%3D%22linearGradient622%22%20xlink%3Ahref%3D%22%23linearGradient619%22%20gradientUnits%3D%22userSpaceOnUse%22%20gradientTransform%3D%22scale(1.004516%2C0.995504)%22%20spreadMethod%3D%22pad%22%2F%3E%0A%20%20%20%20%20%20%3ClinearGradient%20x1%3D%2256.327614%22%20y1%3D%2243.377247%22%20x2%3D%2251.654526%22%20y2%3D%2239.762909%22%20id%3D%22linearGradient625%22%20xlink%3Ahref%3D%22%23linearGradient626%22%20gradientUnits%3D%22userSpaceOnUse%22%20gradientTransform%3D%22scale(0.912664%2C1.095694)%22%20spreadMethod%3D%22pad%22%2F%3E%0A%20%20%20%20%3C%2Fdefs%3E%0A%20%20%20%20%3Cpath%20d%3D%22M%209.33685%2C82.1156%20C%2017.9129%2C79.7641%2030.9112%2C77.5637%2040.1097%2C71.8924%2056.9851%2C62.0714%2066.0118%2C41.6332%2076.4551%2C25.5877%2077.285%2C12.3086%2064.1128%2C5.96872%2059.1331%2C8.87345%2046.4766%2C25.4722%2037.5548%2C43.5235%2023.4458%2C55.9725%2019.0886%2C66.5542%209.12934%2C82.738%209.33685%2C82.1156%20z%22%20transform%3D%22translate(3.814559%2C2.934275)%22%20id%3D%22path632%22%20style%3D%22fill-opacity%3A0.28318601%3Bfill-rule%3Aevenodd%22%2F%3E%0A%20%20%20%20%3Cpath%20d%3D%22M%209.33685%2C82.1156%20C%2017.9129%2C79.7641%2028.5638%2C74.9228%2037.7623%2C69.2516%2054.6377%2C59.4306%2064.2512%2C38.4055%2074.6945%2C22.36%2075.5244%2C9.08092%2064.1128%2C5.96872%2059.1331%2C8.87345%2046.4766%2C25.4722%2037.5548%2C43.5235%2023.4458%2C55.9725%2019.0886%2C66.5542%209.12934%2C82.738%209.33685%2C82.1156%20z%22%20id%3D%22path617%22%20style%3D%22fill-rule%3Aevenodd%22%2F%3E%0A%20%20%20%20%3Cpath%20d%3D%22m%2071.9972%2C20.9076%20c%20-1.729%2C2.4898%20-3.4581%2C4.9796%20-5.1871%2C7.4694%20-2.2823%2C-5.3946%20-4.9796%2C-8.0919%20-11.8266%2C-8.7143%202.2132%2C-2.6973%204.4263%2C-5.3946%206.6395%2C-8.0919%205.5329%2C-0.6225%209.8209%2C4.1497%2010.3742%2C9.3368%20z%22%20id%3D%22path613%22%20style%3D%22fill%3A%23be6d6d%3Bfill-rule%3Aevenodd%22%2F%3E%0A%20%20%20%20%3Cpath%20d%3D%22m%2054.776%2C20.9076%20c%205.3946%2C-0.3458%209.1293%2C3.6656%2011.2041%2C8.2994%20-8.4377%2C13.6248%20-15.423%2C27.0422%20-29.6703%2C37.7622%200%2C0%20-3.5272%2C-10.1668%20-8.7143%2C-8.9218%206.432%2C-7.262%2021.3709%2C-28.0104%2027.1805%2C-37.1398%20z%22%20id%3D%22path614%22%20style%3D%22fill%3A%23ffbc24%3Bfill-rule%3Aevenodd%22%2F%3E%0A%20%20%20%20%3Cpath%20d%3D%22m%2027.0767%2C58.6698%20c%204.6684%2C-0.2421%208.6106%2C5.3255%207.5732%2C8.7144%20-2.0057%2C1.5215%20-5.2562%2C3.0431%20-7.2619%2C4.5646%20-0.3458%2C-2.7664%20-2.144%2C-4.9104%20-6.0171%2C-4.5646%201.729%2C-2.974%203.9768%2C-5.7404%205.7058%2C-8.7144%20z%22%20id%3D%22path615%22%20style%3D%22fill%3A%23e9dbb9%3Bfill-rule%3Aevenodd%22%2F%3E%0A%20%20%20%20%3Cpath%20d%3D%22m%2021.7859%2C66.9692%20c%203.5618%2C-0.8299%205.0488%2C2.6973%205.8096%2C4.7722%20l%20-13.2791%2C6.017%207.4695%2C-10.7892%20z%22%20id%3D%22path616%22%20style%3D%22fill%3A%23586f93%3Bfill-rule%3Aevenodd%22%2F%3E%0A%20%20%20%20%3Cpath%20d%3D%22m%2071.9972%2C20.9076%20c%20-1.729%2C2.4898%20-3.4581%2C4.9796%20-5.1871%2C7.4694%20-2.2823%2C-5.3946%20-4.9796%2C-8.0919%20-11.8266%2C-8.7143%202.2132%2C-2.6973%204.4263%2C-5.3946%206.6395%2C-8.0919%205.5329%2C-0.6225%209.8209%2C4.1497%2010.3742%2C9.3368%20z%22%20id%3D%22path618%22%20style%3D%22fill%3Aurl(%23linearGradient622)%3Bfill-rule%3Aevenodd%22%2F%3E%0A%20%20%20%20%3Cpath%20d%3D%22m%2062.8679%2C12.1932%20-5.3946%2C6.847%202.9048%2C1.0374%205.3946%2C-6.432%20-2.9048%2C-1.4524%20z%22%20id%3D%22path623%22%20style%3D%22fill%3A%23ffffff%3Bfill-rule%3Aevenodd%22%2F%3E%0A%20%20%20%20%3Cpath%20d%3D%22m%2054.776%2C20.9076%20c%205.3946%2C-0.3458%209.1293%2C3.6656%2011.2041%2C8.2994%20-8.4377%2C13.6248%20-15.423%2C27.0422%20-29.6703%2C37.7622%200%2C0%20-3.5272%2C-10.1668%20-8.7143%2C-8.9218%206.432%2C-7.262%2021.3709%2C-28.0104%2027.1805%2C-37.1398%20z%22%20id%3D%22path624%22%20style%3D%22fill%3Aurl(%23linearGradient625)%3Bfill-rule%3Aevenodd%22%2F%3E%0A%20%20%20%20%3Cpath%20d%3D%22m%2029.6703%2C56.18%20c%201.2449%2C0.7608%202.4898%2C1.5215%203.7347%2C2.2823%20C%2042.5344%2C47.6039%2046.6841%2C36.5381%2058.9257%2C24.6423%2057.7499%2C23.8815%2056.5742%2C23.1208%2055.3984%2C22.36%2048.0673%2C35.0857%2039.6987%2C47.3965%2029.6703%2C56.18%20z%22%20id%3D%22path630%22%20style%3D%22fill%3A%23ffffff%3Bfill-rule%3Aevenodd%22%2F%3E%0A%20%20%20%20%3Cpath%20d%3D%22m%2034.7538%2C67.2805%20c%200.2074%2C-2.1786%20-0.3113%2C-3.7348%20-1.4525%2C-5.4984%20-1.5215%2C3.3889%20-3.873%2C5.8441%20-7.1582%2C6.6395%20-0.7262%2C0.6224%201.2449%2C1.9711%201.4524%2C3.216%201.8674%2C-1.1412%207.1583%2C-3.7347%207.1583%2C-4.3571%20z%22%20id%3D%22path631%22%20style%3D%22fill%3A%239c7850%3Bfill-rule%3Aevenodd%22%2F%3E%0A%20%20%3C%2Fg%3E%0A%3Cscript%20xmlns%3D%22%22%2F%3E%3C%2Fsvg%3E");
    width: 2rem;
    height: 2rem;
    display: inline-block;
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
    top: 0.4rem;
  }
}
aside h3,
[role="complementary"] h3 {
  color: #9999ff;
  text-shadow: 1px 0 0 #000, -1px 0 0 #000, 0 1px 0 #000, 0 -1px 0 #000, 3px 3px #000;
  font-size: 2.5rem;
  font-weight: bold;
}
aside a,
[role="complementary"] a {
  color: #905300;
}
footer,
[role="contentinfo"] {
  bottom: 0;
  width: 100%;
  background: black;
  color: white;
  padding: 1em;
  text-align: center;
  line-height: 1.4;
}
footer a,
[role="contentinfo"] a {
  color: #ccccff;
}
.enable__is-dark-mode aside,
.enable__is-dark-mode [role="complementary"] {
  background: #444;
  border-color: #aaa;
}
@media only screen and (min-width: 720px) and (max-width: 959px) {
  .enable__is-dark-mode aside,
  .enable__is-dark-mode [role="complementary"] {
    background: url("data:image/svg+xml,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22UTF-8%22%20standalone%3D%22no%22%3F%3E%0A%3Csvg%20xmlns%3Adc%3D%22http%3A%2F%2Fpurl.org%2Fdc%2Felements%2F1.1%2F%22%20xmlns%3Acc%3D%22http%3A%2F%2Fcreativecommons.org%2Fns%23%22%20xmlns%3Ardf%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2F02%2F22-rdf-syntax-ns%23%22%20xmlns%3Asvg%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20version%3D%221.1%22%20width%3D%2272pt%22%20height%3D%2272pt%22%20id%3D%22svg604%22%3E%0A%20%20%3Cmetadata%20id%3D%22metadata45%22%3E%0A%20%20%20%20%3Crdf%3ARDF%3E%0A%20%20%20%20%20%20%3Ccc%3AWork%20rdf%3Aabout%3D%22%22%3E%0A%20%20%20%20%20%20%20%20%3Cdc%3Aformat%3Eimage%2Fsvg%2Bxml%3C%2Fdc%3Aformat%3E%0A%20%20%20%20%20%20%20%20%3Cdc%3Atype%20rdf%3Aresource%3D%22http%3A%2F%2Fpurl.org%2Fdc%2Fdcmitype%2FStillImage%22%2F%3E%0A%20%20%20%20%20%20%20%20%3Cdc%3Atitle%2F%3E%0A%20%20%20%20%20%20%3C%2Fcc%3AWork%3E%0A%20%20%20%20%3C%2Frdf%3ARDF%3E%0A%20%20%3C%2Fmetadata%3E%0A%20%20%3Cdefs%20id%3D%22defs606%22%3E%0A%20%20%20%20%3ClinearGradient%20id%3D%22linearGradient612%22%3E%0A%20%20%20%20%20%20%3Cstop%20id%3D%22stop613%22%20style%3D%22stop-color%3A%237fa8e3%3Bstop-opacity%3A0.74117601%22%20offset%3D%220%22%2F%3E%0A%20%20%20%20%20%20%3Cstop%20id%3D%22stop614%22%20style%3D%22stop-color%3A%23ffffff%3Bstop-opacity%3A0%22%20offset%3D%221%22%2F%3E%0A%20%20%20%20%3C%2FlinearGradient%3E%0A%20%20%20%20%3ClinearGradient%20x1%3D%2250.643887%22%20y1%3D%225.3679295%22%20x2%3D%2235.752094%22%20y2%3D%2268.044357%22%20id%3D%22linearGradient615%22%20xlink%3Ahref%3D%22%23linearGradient612%22%20gradientUnits%3D%22userSpaceOnUse%22%20spreadMethod%3D%22pad%22%2F%3E%0A%20%20%3C%2Fdefs%3E%0A%20%20%3Cpath%20d%3D%22M%2012.8163%2C74.753%20C%2010.3856%2C73.6481%207.07107%2C70.1126%208.83884%2C65.2512%20L%2078.6656%2C20.8361%20c%201.9888%2C1.7678%203.5356%2C3.2041%201.9888%2C7.0711%20-1.1048%2C1.9887%20-14.2527%2C46.6248%20-14.4736%2C49.4975%20-0.8839%2C3.0936%20-3.425%2C6.8501%20-7.6235%2C6.6291%20-4.1984%2C-0.221%20-42.6474%2C-8.6179%20-45.741%2C-9.2808%20z%22%20transform%3D%22matrix(1.114903%2C0%2C0%2C1.114903%2C-5.305332%2C-3.889256)%22%20id%3D%22path794%22%20style%3D%22fill-opacity%3A0.30147125%3Bfill-rule%3Aevenodd%22%2F%3E%0A%20%20%3Cpath%20d%3D%22M%2012.8163%2C74.753%20C%2010.3856%2C73.6481%207.07107%2C70.1126%208.83884%2C65.2512%209.72267%2C59.948%2025.6326%2C13.1021%2029.1682%2C10.8924%2031.3778%2C8.90368%2034.582%2C8.13026%2039.1119%2C9.34561%20c%203.7565%2C0.88389%2037.565%2C9.72279%2039.5537%2C11.49049%201.9888%2C1.7678%203.5356%2C3.2041%201.9888%2C7.0711%20-1.1048%2C1.9887%20-14.2527%2C46.6248%20-14.4736%2C49.4975%20-0.8839%2C3.0936%20-3.425%2C6.8501%20-7.6235%2C6.6291%20-4.1984%2C-0.221%20-42.6474%2C-8.6179%20-45.741%2C-9.2808%20z%22%20transform%3D%22matrix(1.114903%2C0%2C0%2C1.114903%2C-8.162471%2C-8.460684)%22%20id%3D%22path609%22%20style%3D%22fill%3A%233d4e67%3Bfill-rule%3Aevenodd%22%2F%3E%0A%20%20%3Cpath%20d%3D%22M%2017.8987%2C70.9965%20C%2015.3576%2C70.3336%2011.7114%2C69.6706%2013.0373%2C65.6932%2015.468%2C55.9705%2027.8424%2C18.6264%2033.1456%2C13.986%20c%201.2154%2C-1.1049%205.3033%2C-1.5468%2013.0373%2C0.8839%208.8389%2C2.6516%2026.7375%2C8.6178%2028.5053%2C9.5017%201.7677%2C0.8839%202.4307%2C0.8839%201.1048%2C4.8614%20-1.9887%2C3.9775%20-10.8275%2C38.007%20-13.0373%2C43.7522%20-1.5467%2C4.088%20-1.8782%2C5.9662%20-4.5299%2C5.9662%22%20transform%3D%22matrix(1.114903%2C0%2C0%2C1.114903%2C-8.162471%2C-8.460684)%22%20id%3D%22path608%22%20style%3D%22fill%3A%23ffffff%3Bfill-rule%3Aevenodd%22%2F%3E%0A%20%20%3Cpath%20d%3D%22m%2028.75%2C13.75%20c%200%2C0%203.125%2C-6.25005%2010.9375%2C-4.37505%20C%2047.5%2C11.25%2078.125%2C19.375%2077.8125%2C21.875%2077.5%2C24.375%2071.875%2C39.0625%2071.5625%2C40.3125%2071.25%2C41.5625%2042.5%2C40.9375%2031.5625%2C47.5%2020.625%2C54.0625%2012.5%2C59.6875%2012.5%2C59.6875%20c%200%2C0%2011.25%2C-35%2016.25%2C-45.9375%20z%22%20transform%3D%22matrix(0.94678%2C0%2C0%2C0.94678%2C-0.480566%2C0.409517)%22%20id%3D%22path636%22%20style%3D%22fill%3Aurl(%23linearGradient615)%3Bfill-rule%3Aevenodd%22%2F%3E%0A%20%20%3Cpath%20d%3D%22M%2029.2429%2C15.8991%2069.8423%2C26.6877%22%20transform%3D%22translate(1.135645%2C0.851736)%22%20id%3D%22path671%22%20style%3D%22fill%3Anone%3Bstroke%3A%2342667e%3Bstroke-width%3A1pt%22%2F%3E%0A%20%20%3Cpath%20d%3D%22M%2027.8233%2C19.306%2067.8549%2C30.9464%22%20transform%3D%22matrix(0.999855%2C-0.01703691%2C0.01703691%2C0.999855%2C-0.705041%2C5.077353)%22%20id%3D%22path672%22%20style%3D%22fill%3Anone%3Bstroke%3A%2342667e%3Bstroke-width%3A1pt%22%2F%3E%0A%20%20%3Cpath%20d%3D%22M%2029.2429%2C15.8991%2069.8423%2C26.6877%22%20transform%3D%22translate(-5.394323%2C17.0347)%22%20id%3D%22path673%22%20style%3D%22fill%3Anone%3Bstroke%3A%2342667e%3Bstroke-width%3A1pt%22%2F%3E%0A%20%20%3Cpath%20d%3D%22M%2029.2429%2C15.8991%2069.8423%2C26.6877%22%20transform%3D%22translate(-11.35647%2C34.0694)%22%20id%3D%22path675%22%20style%3D%22fill%3Anone%3Bstroke%3A%2342667e%3Bstroke-width%3A1pt%22%2F%3E%0A%20%20%3Cpath%20d%3D%22M%2027.8233%2C19.306%2067.8549%2C30.9464%22%20transform%3D%22matrix(0.999855%2C-0.01703691%2C0.01703691%2C0.999855%2C-13.19715%2C38.29502)%22%20id%3D%22path676%22%20style%3D%22fill%3Anone%3Bstroke%3A%2342667e%3Bstroke-width%3A1pt%22%2F%3E%0A%20%20%3Cpath%20d%3D%22M%2027.8233%2C19.306%2067.8549%2C30.9464%22%20transform%3D%22matrix(0.999855%2C-0.01703691%2C0.01703691%2C0.999855%2C-7.235008%2C21.26032)%22%20id%3D%22path674%22%20style%3D%22fill%3Anone%3Bstroke%3A%2342667e%3Bstroke-width%3A1pt%22%2F%3E%0A%20%20%3Cg%20id%3D%22g666%22%3E%0A%20%20%20%20%3Cpath%20d%3D%22m%2044.8581%2C15.0473%20c%20-3.4478%2C0%20-5.1105%2C-2.5484%20-5.1105%2C-6.38799%200%2C-3.83962%202.7983%2C-6.95584%206.2461%2C-6.95584%203.4478%2C0%204.5425%2C1.12884%204.5425%2C4.96845%22%20transform%3D%22matrix(0.948718%2C0%2C0%2C1%2C4.011168%2C0.567827)%22%20id%3D%22path667%22%20style%3D%22fill%3Anone%3Bstroke%3A%234f4f4f%3Bstroke-width%3A2.875%3Bstroke-linecap%3Around%22%2F%3E%0A%20%20%20%20%3Cpath%20d%3D%22m%2044.8581%2C14.7634%20c%20-3.4478%2C0%20-5.3944%2C-2.2645%20-5.3944%2C-6.10409%200%2C-3.83962%202.7983%2C-7.807574%206.2461%2C-7.807574%203.4478%2C0%204.8264%2C1.980574%204.8264%2C5.820184%22%20transform%3D%22matrix(0.948718%2C0%2C0%2C1%2C4.011168%2C0.567827)%22%20id%3D%22path668%22%20style%3D%22fill%3Anone%3Bstroke%3A%23c2c2c2%3Bstroke-width%3A0.625%3Bstroke-linecap%3Around%22%2F%3E%0A%20%20%3C%2Fg%3E%0A%20%20%3Cuse%20transform%3D%22translate(10.788642%2C1.987381)%22%20id%3D%22use669%22%20x%3D%220%22%20y%3D%220%22%20width%3D%2290%22%20height%3D%2290%22%20xlink%3Ahref%3D%22%23g666%22%2F%3E%0A%20%20%3Cg%20transform%3D%22matrix(0.69841%2C0%2C0%2C0.69841%2C31.4038%2C0.671206)%22%20id%3D%22g677%22%3E%0A%20%20%20%20%3Cdefs%20id%3D%22defs611%22%3E%0A%20%20%20%20%20%20%3ClinearGradient%20id%3D%22linearGradient626%22%3E%0A%20%20%20%20%20%20%20%20%3Cstop%20id%3D%22stop627%22%20style%3D%22stop-color%3A%23b5772d%3Bstop-opacity%3A1%22%20offset%3D%220%22%2F%3E%0A%20%20%20%20%20%20%20%20%3Cstop%20id%3D%22stop628%22%20style%3D%22stop-color%3A%23ffffff%3Bstop-opacity%3A0%22%20offset%3D%221%22%2F%3E%0A%20%20%20%20%20%20%3C%2FlinearGradient%3E%0A%20%20%20%20%20%20%3ClinearGradient%20id%3D%22linearGradient619%22%3E%0A%20%20%20%20%20%20%20%20%3Cstop%20id%3D%22stop620%22%20style%3D%22stop-color%3A%23770000%3Bstop-opacity%3A1%22%20offset%3D%220%22%2F%3E%0A%20%20%20%20%20%20%20%20%3Cstop%20id%3D%22stop621%22%20style%3D%22stop-color%3A%23ffffff%3Bstop-opacity%3A0%22%20offset%3D%221%22%2F%3E%0A%20%20%20%20%20%20%3C%2FlinearGradient%3E%0A%20%20%20%20%20%20%3ClinearGradient%20x1%3D%2266.331696%22%20y1%3D%2223.212469%22%20x2%3D%2263.465496%22%20y2%3D%2220.962799%22%20id%3D%22linearGradient622%22%20xlink%3Ahref%3D%22%23linearGradient619%22%20gradientUnits%3D%22userSpaceOnUse%22%20gradientTransform%3D%22scale(1.004516%2C0.995504)%22%20spreadMethod%3D%22pad%22%2F%3E%0A%20%20%20%20%20%20%3ClinearGradient%20x1%3D%2256.327614%22%20y1%3D%2243.377247%22%20x2%3D%2251.654526%22%20y2%3D%2239.762909%22%20id%3D%22linearGradient625%22%20xlink%3Ahref%3D%22%23linearGradient626%22%20gradientUnits%3D%22userSpaceOnUse%22%20gradientTransform%3D%22scale(0.912664%2C1.095694)%22%20spreadMethod%3D%22pad%22%2F%3E%0A%20%20%20%20%3C%2Fdefs%3E%0A%20%20%20%20%3Cpath%20d%3D%22M%209.33685%2C82.1156%20C%2017.9129%2C79.7641%2030.9112%2C77.5637%2040.1097%2C71.8924%2056.9851%2C62.0714%2066.0118%2C41.6332%2076.4551%2C25.5877%2077.285%2C12.3086%2064.1128%2C5.96872%2059.1331%2C8.87345%2046.4766%2C25.4722%2037.5548%2C43.5235%2023.4458%2C55.9725%2019.0886%2C66.5542%209.12934%2C82.738%209.33685%2C82.1156%20z%22%20transform%3D%22translate(3.814559%2C2.934275)%22%20id%3D%22path632%22%20style%3D%22fill-opacity%3A0.28318601%3Bfill-rule%3Aevenodd%22%2F%3E%0A%20%20%20%20%3Cpath%20d%3D%22M%209.33685%2C82.1156%20C%2017.9129%2C79.7641%2028.5638%2C74.9228%2037.7623%2C69.2516%2054.6377%2C59.4306%2064.2512%2C38.4055%2074.6945%2C22.36%2075.5244%2C9.08092%2064.1128%2C5.96872%2059.1331%2C8.87345%2046.4766%2C25.4722%2037.5548%2C43.5235%2023.4458%2C55.9725%2019.0886%2C66.5542%209.12934%2C82.738%209.33685%2C82.1156%20z%22%20id%3D%22path617%22%20style%3D%22fill-rule%3Aevenodd%22%2F%3E%0A%20%20%20%20%3Cpath%20d%3D%22m%2071.9972%2C20.9076%20c%20-1.729%2C2.4898%20-3.4581%2C4.9796%20-5.1871%2C7.4694%20-2.2823%2C-5.3946%20-4.9796%2C-8.0919%20-11.8266%2C-8.7143%202.2132%2C-2.6973%204.4263%2C-5.3946%206.6395%2C-8.0919%205.5329%2C-0.6225%209.8209%2C4.1497%2010.3742%2C9.3368%20z%22%20id%3D%22path613%22%20style%3D%22fill%3A%23be6d6d%3Bfill-rule%3Aevenodd%22%2F%3E%0A%20%20%20%20%3Cpath%20d%3D%22m%2054.776%2C20.9076%20c%205.3946%2C-0.3458%209.1293%2C3.6656%2011.2041%2C8.2994%20-8.4377%2C13.6248%20-15.423%2C27.0422%20-29.6703%2C37.7622%200%2C0%20-3.5272%2C-10.1668%20-8.7143%2C-8.9218%206.432%2C-7.262%2021.3709%2C-28.0104%2027.1805%2C-37.1398%20z%22%20id%3D%22path614%22%20style%3D%22fill%3A%23ffbc24%3Bfill-rule%3Aevenodd%22%2F%3E%0A%20%20%20%20%3Cpath%20d%3D%22m%2027.0767%2C58.6698%20c%204.6684%2C-0.2421%208.6106%2C5.3255%207.5732%2C8.7144%20-2.0057%2C1.5215%20-5.2562%2C3.0431%20-7.2619%2C4.5646%20-0.3458%2C-2.7664%20-2.144%2C-4.9104%20-6.0171%2C-4.5646%201.729%2C-2.974%203.9768%2C-5.7404%205.7058%2C-8.7144%20z%22%20id%3D%22path615%22%20style%3D%22fill%3A%23e9dbb9%3Bfill-rule%3Aevenodd%22%2F%3E%0A%20%20%20%20%3Cpath%20d%3D%22m%2021.7859%2C66.9692%20c%203.5618%2C-0.8299%205.0488%2C2.6973%205.8096%2C4.7722%20l%20-13.2791%2C6.017%207.4695%2C-10.7892%20z%22%20id%3D%22path616%22%20style%3D%22fill%3A%23586f93%3Bfill-rule%3Aevenodd%22%2F%3E%0A%20%20%20%20%3Cpath%20d%3D%22m%2071.9972%2C20.9076%20c%20-1.729%2C2.4898%20-3.4581%2C4.9796%20-5.1871%2C7.4694%20-2.2823%2C-5.3946%20-4.9796%2C-8.0919%20-11.8266%2C-8.7143%202.2132%2C-2.6973%204.4263%2C-5.3946%206.6395%2C-8.0919%205.5329%2C-0.6225%209.8209%2C4.1497%2010.3742%2C9.3368%20z%22%20id%3D%22path618%22%20style%3D%22fill%3Aurl(%23linearGradient622)%3Bfill-rule%3Aevenodd%22%2F%3E%0A%20%20%20%20%3Cpath%20d%3D%22m%2062.8679%2C12.1932%20-5.3946%2C6.847%202.9048%2C1.0374%205.3946%2C-6.432%20-2.9048%2C-1.4524%20z%22%20id%3D%22path623%22%20style%3D%22fill%3A%23ffffff%3Bfill-rule%3Aevenodd%22%2F%3E%0A%20%20%20%20%3Cpath%20d%3D%22m%2054.776%2C20.9076%20c%205.3946%2C-0.3458%209.1293%2C3.6656%2011.2041%2C8.2994%20-8.4377%2C13.6248%20-15.423%2C27.0422%20-29.6703%2C37.7622%200%2C0%20-3.5272%2C-10.1668%20-8.7143%2C-8.9218%206.432%2C-7.262%2021.3709%2C-28.0104%2027.1805%2C-37.1398%20z%22%20id%3D%22path624%22%20style%3D%22fill%3Aurl(%23linearGradient625)%3Bfill-rule%3Aevenodd%22%2F%3E%0A%20%20%20%20%3Cpath%20d%3D%22m%2029.6703%2C56.18%20c%201.2449%2C0.7608%202.4898%2C1.5215%203.7347%2C2.2823%20C%2042.5344%2C47.6039%2046.6841%2C36.5381%2058.9257%2C24.6423%2057.7499%2C23.8815%2056.5742%2C23.1208%2055.3984%2C22.36%2048.0673%2C35.0857%2039.6987%2C47.3965%2029.6703%2C56.18%20z%22%20id%3D%22path630%22%20style%3D%22fill%3A%23ffffff%3Bfill-rule%3Aevenodd%22%2F%3E%0A%20%20%20%20%3Cpath%20d%3D%22m%2034.7538%2C67.2805%20c%200.2074%2C-2.1786%20-0.3113%2C-3.7348%20-1.4525%2C-5.4984%20-1.5215%2C3.3889%20-3.873%2C5.8441%20-7.1582%2C6.6395%20-0.7262%2C0.6224%201.2449%2C1.9711%201.4524%2C3.216%201.8674%2C-1.1412%207.1583%2C-3.7347%207.1583%2C-4.3571%20z%22%20id%3D%22path631%22%20style%3D%22fill%3A%239c7850%3Bfill-rule%3Aevenodd%22%2F%3E%0A%20%20%3C%2Fg%3E%0A%3Cscript%20xmlns%3D%22%22%2F%3E%3C%2Fsvg%3E") no-repeat 1em 1em;
  }
}
.enable__is-dark-mode aside a,
.enable__is-dark-mode [role="complementary"] a {
  color: #FF9F1C;
}
/*# sourceMappingURL=all.css.map */