body {
  font-family: "Helvetica", "Arial", sans-serif;
  line-height: 1.1;
}
strong {
  font-weight: bold;
}
ul {
  list-style: initial;
}
ol {
  list-style: decimal;
}
h1 {
  font-weight: bold;
  font-size: 2rem;
}
h2 {
  font-weight: bold;
  font-size: 1.5rem;
  border-bottom: solid 1px #999999;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
ul,
ol {
  padding-left: 3rem;
}
ul {
  list-style: disc;
}
ul,
p {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
.example h1 {
  text-align: center;
}
.example main {
  max-width: 1024px;
  margin: 0 auto;
}
.example .example-nav {
  text-align: center;
}
.example .example-nav ul li {
  display: inline-block;
  list-style: none;
}
.example .notes {
  border: dashed #9c6f39 3px;
  padding: 1em;
  background-color: #ffffee;
  margin: 2em auto;
  max-width: calc(1024px - 2em);
}
.example .notes h2 {
  margin: 0;
  border-bottom: none;
}
input,
select {
  font-size: 1em;
}
