body {
  margin: 0;
  position: relative;
  padding-bottom: 5rem;
}
header,
[role="banner"] {
  background: #ffcccc;
  padding: 10px 10px 0px 10px;
  margin: 0;
  position: relative;
}
header h1,
[role="banner"] h1 {
  font-size: inherit;
  font-weight: inherit;
}
header .search-form,
[role="banner"] .search-form {
  position: absolute;
  top: 1em;
  right: 1em;
}
nav {
  position: static;
  background: #000000;
  padding: 0.4em;
  margin: 0px -10px 10px -10px;
  line-height: 1.6;
}
nav ul li {
  display: inline-block;
  margin-right: 1em;
}
nav ul li a {
  color: white;
  text-decoration: none;
}
.logo {
  position: relative;
  display: inline-block;
  padding: 20px;
  background: #9999ff;
  border-radius: 50%;
  transform: rotate(-10deg);
}
.logo .acme,
.logo .zoltipedia {
  display: inline-block;
  position: relative;
  transform: scale(1.1) translateY(-20px) rotate(10deg);
  color: #ff9999;
  text-shadow: 1px 0 0 #000, -1px 0 0 #000, 0 1px 0 #000, 0 -1px 0 #000, 3px 3px #000;
}
.logo .acme {
  font-size: 70px;
  font-weight: 900;
}
.logo .zoltipedia {
  font-size: 60px;
}
.logo .corp {
  position: absolute;
  display: inline-block;
  transform: rotate(10deg) scaleY(0.7);
  top: 60%;
  right: 5%;
}
.logo .zoltipedia + .corp {
  top: 70%;
}
.motto {
  position: absolute;
  transform: rotate(10deg);
  bottom: -20px;
  left: 30px;
  font-size: 0.8em;
  font-family: "Palatino", serif;
  font-style: italic;
  width: 500px;
}
main,
[role="main"] {
  padding: 1em;
  margin: 0 auto;
  max-width: 1024px;
  line-height: 1.4;
}
.inline-left {
  float: left;
  margin: 0 1em 1em 0;
}
.inline-right {
  float: right;
  margin: 0 0 1em 1em;
}
.inline-left,
.inline-right {
  width: 200px;
}
article:after {
  content: "";
  display: table;
  clear: both;
}
aside,
[role="complementary"] {
  display: block;
  background: #ddd url('../images/bomb.png') no-repeat 1em 1em;
  margin: 1em auto;
  padding: 1em 1em 1em calc(100px + 2em);
  min-height: calc(109px);
  border: solid 1px black;
  box-shadow: 4px 4px 0 black;
}
aside h3,
[role="complementary"] h3 {
  color: #9999ff;
  text-shadow: 1px 0 0 #000, -1px 0 0 #000, 0 1px 0 #000, 0 -1px 0 #000, 3px 3px #000;
  font-size: 40px;
  font-weight: bold;
}
footer,
[role="contentinfo"] {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: black;
  color: white;
  padding: 1em;
  text-align: center;
}
footer a,
[role="contentinfo"] a {
  color: #ccccff;
}
