.font-heading-3 {
  font-family: "OpenSans", "Helvetica", "Arial", sans-serif;
  font-weight: bold;
  padding-top: 20px;
  font-size: 1.25rem;
  border-bottom: double 3px #000;
}
.read-more {
  display: block;
  overflow: hidden;
  max-height: 6em;
  text-overflow: ellipsis;
}
